*,
*::before,
*::after {
  box-sizing: border-box;
}

@media (prefers-reduced-motion: no-preference) {
  :root {
    scroll-behavior: smooth;
  }
}


body {
  font-family: var(--bs-body-font-family);
  font-size: var(--bs-body-font-size);
  font-weight: var(--bs-body-font-weight);
  color: var(--bs-body-color);
  text-align: var(--bs-body-text-align);
 
 
  
  background-image: url("/static/images/logo.png");
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: 100vh;
  background-color: #6C757D!important;
  content-visibility: auto;
}


.navbar {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.container-fluid col-2 {
padding: 0px !important;



}

.ctu_logo{
  vertical-align: middle;
  height: 220px;
  padding: 3px;
  display: inline-flex;
}
.background{
  position: relative;
  background: linear-gradient(128.43deg, rgba(0, 53, 102, 0.92) 43.98%, rgba(0, 53, 102, 0.899983) 49.22%, rgba(0, 53, 102, 0.867118) 54.74%, rgba(0, 53, 102, 0.845939) 57.59%, rgba(0, 53, 102, 0.7636) 63.96%, rgba(0, 53, 102, 0) 170.25%);
}
.image-container {
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
}
.profile_img {
height: 170px !important;  
}
list-group-flush {
  border-radius: 0;
}

.list-group-item-light {
  color:black;
  background-color: #fefefe;
}
.list-group-item{
  border-left: 1px !important;
  border-bottom: 0px !important;
  border-radius: 0% !important;
  text-align: left;
  font-family: Source Sans Pro;
  font-size: 20px;
  font-weight: 300;
  line-height: 30px;
  letter-spacing: 0.1em;


}

.bg-light {
  --bs-bg-opacity: 1;
  background: linear-gradient(128.43deg, rgba(0, 53, 102, 0.92) 43.98%, rgba(0, 53, 102, 0.899983) 49.22%, rgba(0, 53, 102, 0.867118) 54.74%, rgba(0, 53, 102, 0.845939) 57.59%, rgba(0, 53, 102, 0.7636) 63.96%, rgba(0, 53, 102, 0) 170.25%) !important;
} 
.sidebar{
  height: auto;
  border-right: 2px solid black;
}

#sidebar-wrapper {
  min-height: auto;
  margin-left: -15rem;
  transition: margin 0.25s ease-out;
}

#sidebar-wrapper .sidebar-heading {
  padding: 0.875rem 1.25rem;
  font-size: 1.2rem;
}

#sidebar-wrapper .list-group {
  width: 280px;
}


#page-content-wrapper {
  min-width: 100vw;
}

body.sb-sidenav-toggled #wrapper #sidebar-wrapper {
  margin-left: 0;
}

@media (min-width: 800px) {
  #sidebar-wrapper {
    margin-left: 0;
  }
  #page-content-wrapper {
    min-width: 0;
    width: 100%;
  }
  .head {
    color: white;
    font-family: serif;
    margin-left: 0%;
    font-size: 60px;
  }
  .p1 {
    color: white;
    font-family: serif;
    font-size: 25px;
    text-align: center;
  }
  .d-flex {
      display: -ms-flexbox!important;
      display: flex!important;
      background-color: white;
      visibility: visible;
      content-visibility: auto;
  }
  .pr {
      font-size: 4opx;
      font-family: serif;
      display: flex;
      align-content: center;
  }
  .container {
      display: flex;
      color: #000;
      display: flex;
      align-content: center;
      justify-content: space-evenly;
      padding: 4px !important;
  }


.input-group{
  padding-top: 2rem;
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-align: stretch;
    align-items: stretch;
    width: 60%;
   
}
.input-group>.custom-select:not(:first-child), .input-group>.form-control:not(:first-child) {
  border-radius: 0%;
  border: 1px solid black;
  border-left: none !important;
}


.input-group>.input-group-append:last-child>.btn:not(:last-child):not(.dropdown-toggle), .input-group>.input-group-append:last-child>.input-group-text:not(:last-child), .input-group>.input-group-append:not(:last-child)>.btn, .input-group>.input-group-append:not(:last-child)>.input-group-text, .input-group>.input-group-prepend>.btn, .input-group>.input-group-prepend>.input-group-text {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
.input-group>.input-group-prepend>.input-group-text {
border-top-right-radius: 0;
border-bottom-right-radius: 0;
border: 1px solid;
background-color: white;
}
.input-group-text {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  padding: 0.375rem 0.75rem;
  margin-bottom: 0;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: black;
  text-align: center;
  white-space: nowrap;
  background-color: #fff;
  border: 1px solid #000;
  border-radius: 0%;
  border-right: none !important;


}
.col-12 {
display: flex;
  align-items: baseline;
  font-size: 50px;
}
.d-flex  {
display: flex!important;
visibility: visible;
display: flex;
flex-direction: row;
}


}
.cart_icon{
  height: 40px;
  color: #000;
}



.welcome{
  background-color: #6C757D!important;
  color: white;
  text-align: center !important;
  margin: 0%;
  font-family: serif;
  font-size: larger;
  height: 40px;
  display: flex;
  align-content: center;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-around;
  visibility: visible;
  content-visibility: auto;
}


.arrow_img {
  height: 20px;
  width: 20px;
}
.about {
            max-width: 900px;
            margin:0 auto;
            padding: 20px;
          border-radius: 20px;
          margin-bottom: 20px;
}
.text-container {
            display: flex;
            flex-direction: column;
            align-items: flex-start; 
            color: white;
            margin-left: 20px;
            font-family: sans-serif

        }
        p {
            font-size: 16px;
            line-height: 1.5;
            margin-right: 20px;
            font-size: 20px;
            font-family: serif;
        
        }
        

        ul {
            margin-top: 20px;
        }

        ul li {
            list-style: disc;
            margin-left: 30px;
            line-height: 1.5;
            text-align: center;
            font-size: 20px;
            font-family: serif;
        }
        h3 {
            font-size: 18px;
            margin-top: 20px;
            text-align: center;
            font-family: serif;
            
        }
        p {
          text-align: center;
        }
        footer {
          padding-top: 50px;
          box-sizing: border-box;
        }
        .container {
          width: 1140px;
          margin:auto;
          display: flex;
        }
        .footer {
          width: 33..3%;
        }
        h3{
          font-size: 20px;
          margin-bottom: 15px;
          text-align: center;
          color: white;
        }
        .footer-content p{
          width: 190px;
          margin: auto;
          padding: 7px;

        } 
        



      
 
    

  
      
       
       