.table a {
    text-decoration: none;
    color: black;
  }

  .bg-success {
    background-color: #b5e550;
    color: white;
  }

  .no-comment {
    background-color: lightgray;
    color: black;
  }

  .table th {
    background-color: #254b6e;
    color: white;
    cursor: pointer;
    position: sticky;
    top: 0;
    z-index: 2;
  }

  

  .form-control {
    width: 18%;
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: var(--bs-body-color);
    border-radius: 20px;
    margin-left: auto;
    border: 2px solid #05708BD2;
    display: inline-block;
  }

  .form-control:focus {
    border-color: #87CEEB;
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
  }

  .form-control::selection {
    background-color: #05708BD2;
    color: #fff;
  }

  .pr-heading {
    position: sticky;
    top: 0;
    background-color: #ffffff;
    z-index: 1000;
    padding: 10px;
  }

  .bck a {
    display: flex;
    align-items: center;
    text-decoration: none;
  }

  .bck img {
    width: 50px;
    height: 50px;
    transition: transform 0.3s ease-in-out;
    position: relative;
    top: -5vh;
  }

  .bck:hover img {
    transform: scale(1.2);
  }

  .container-fluid {
    height: 85vh;
    overflow-y: auto;
    margin-top: 1px;
  }