body {
    background: linear-gradient(128.43deg, rgba(0, 53, 102, 0.92) 43.98%, rgba(0, 53, 102, 0.899983) 49.22%, rgba(0, 53, 102, 0.867118) 54.74%, rgba(0, 53, 102, 0.845939) 57.59%, rgba(0, 53, 102, 0.7636) 63.96%, rgba(0, 53, 102, 0) 170.25%);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    overflow: hidden;
}

@media (min-width: 800px) {
    #sidebar-wrapper {
      margin-left: 0;
    }
  
    #page-content-wrapper {
      min-width: 0;
      width: 100%;
    }
}

    .bg-light {
        background: linear-gradient(128.43deg, rgba(0, 53, 102, 0.92) 43.98%, rgba(0, 53, 102, 0.899983) 49.22%, rgba(0, 53, 102, 0.867118) 54.74%, rgba(0, 53, 102, 0.845939) 57.59%, rgba(0, 53, 102, 0.7636) 63.96%, rgba(0, 53, 102, 0.151) 170.25%) !important;
    }   

    .p1 {
        color: white;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-size: 25px;
        text-align: center;
    }
  
    .head {
        color: white;
        font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
        font-size: 48px;
    }

    .ctu_logo {
        position: absolute;
        left: 0; 
        top: 13px; 
        width: 45%;
        margin-top: 5%;
        z-index: 2;
    }
  
    .welcome{
        background-color: #f59a23e7!important;
        color: #003566;
        text-align: center !important;
        margin:0;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-size: 24px;
        font-weight: 600;
        height: 70px;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: space-around;
        visibility: visible;
        content-visibility: auto;
        height: 50px;
        margin-left: 5%;
        width: 100%;
    }

    .box-container {
        display: flex;
        margin-top: 10%;
        margin-left: 10%;
        height: 100vh;
        flex-direction: column;
    }
    
    .box {
        width: 25%;
        height: 9%;
        background-color: #00356663;
        margin: -120px auto 90px;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        font-family: 'Roboto';
        font-size: 20px;
        font-weight: 600;
        border: 1px solid white;
        border-radius: 10px;
        color: white;
        position: relative;
        transition: background-color 0.8s ease;
        overflow: hidden;
        text-decoration: none;
    }
    
    
    .box:hover {
        background-color: #88a8c7;
        color: #003566;
        text-decoration: none;
        border: none;
        box-shadow: 0 4px 8px #f59a2373;    
    }
    
    .box i {
        position: absolute;
        left: 15px; 
        top: 50%;
        transform: translateY(-50%);
        font-weight: bolder;
        font-size: 24px; 
        border: 1px solid white;
        border-radius: 50%;
        background-color: #e0922b;
        padding: 2.5%;
        text-decoration: none;
    }
    
    .box:hover i {
        background-color: #ebb875;
        border-color: #003566;
        color: #003566;
        text-decoration: none;
    }
    
    .box a {
        text-decoration: none;
        color: inherit;
        padding: 5px 0;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .box a:hover {
        text-decoration: none;
        color: #003566;
    }    

    .logout{
        width: 20vw;
        height: 70px;
        font-weight: 700px;
        border: none;
        border-radius: 10px;
        color: #003566;
        background: linear-gradient(45deg, #f38c06, #ffbc67);
        margin: 10px 0;
        box-shadow: 0 4px 8px #f59a2373;      
        border-radius: 50px;
        cursor: pointer;
        outline: none;
        margin-top: 0.5em;
        margin-left: 39%;
        transition: background-color 0.5s ease, transform 0.5s ease, box-shadow 0.5s ease;
      }
      
      .logout:hover{
        background: linear-gradient(45deg, #ffbc67, #f38c06);
        transform: translateY(-2px);
        box-shadow: 2px 7px 10px rgba(0, 0, 0, 0.2);
        border: none;
      }
      
      
      .logout i {
        margin-right: 5px;
        position: absolute;
        left: 38%;
        font-size: 24px;
        font-weight: bolder;
        border-radius: 50%;
        border: 1px solid white;
        background-color: red; 
        padding: 0.5%;
        margin: 10px 0;
      }
      
      .logout:hover i {
        background-color: rgb(224, 54, 54);
        border-color: #003566;
        color: #003566;
        text-decoration: none;
      }