* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
  }
  
  
  .column,
  .column * {
    box-sizing: border-box;
  }
  
  
  .container {
    position: absolute;
    width: 900px;
    height: 600px;
    background: rgba(255, 255, 255, 0.486);
    box-shadow: 0 0 10px rgba(77, 76, 76, 0.863);
    color: #003566;
    padding: 19px 40px;
    padding-right: 60px;
    left: 615px;
    top: 210px;
    border-radius: 15px;
  }
  
  .column {
    margin: 0;
    padding: 0;
    background: rgba(0, 178, 248, 0.26);
    border-style: solid;
    border-color: #000000;
    border-width: 3px;
    width: 855px;
    height: 45px;
    position: relative;
    right: 18.2px;
    top: 10px;
    border-radius: 5px;
  }
  
  
  .column {
    display: flex;
  }
  
  
  .column_1, .column_2 {
    flex: 1;
    margin-right: 5px;
    margin-top: 10px;
  }
  
  
  label {
    display: inline-block;
    width: 20px;
  }
  
  
  
  .frame{
    background: rgba(0, 178, 248, 0.205);
    border-style: solid;
    border-color: #000000;
    border-width: 3px;
    width: 855px;
    height: 439px;
    position: absolute;
    left: 22.5px;
    top: 85px;
    border-radius: 5px;
  }
  
  
  .department{
    color: #000000;
    text-align: left;
    font: 400 17px "Source Sans Pro", sans-serif;
    position: absolute;
    left: 45.95px;
    top: 25px;
    width: 417.28px;
    height: 72.89px;
  }
  
  
  .purpose {
    color: #000000;
    text-align: left;
    font: 400 17px "Source Sans Pro", sans-serif;
    position: absolute;
    left: 45.95px;
    top: 100px;
    width: 417.28px;
    height: 72.89px;
  }
  
  
  .item-no {
    color: #000000;
    text-align: left;
    font: 680 17px "Source Sans Pro", sans-serif;
    position: absolute;
    left: 55px;
    top: 269px;
    width: 417.28px;
    height: 72.89px;
  }
  
  
  .item-brand{
    color: #000000;
    text-align: left;
    font: 680 17px "Source Sans Pro", sans-serif;
    position: absolute;
    left: 340px;
    top: 258px;
    width: 417.28px;
    height: 72.89px;
  }
  
  
  .unit {
    color: #000000;
    text-align: left;
    font: 680 17px "Source Sans Pro", sans-serif;
    position: absolute;
    left: 519.13px;
    top: 269px;
    width: 417.28px;
    height: 72.89px;
  }
  
  
  .quantity {
    color: #000000;
    text-align: left;
    font: 680 17px "Source Sans Pro", sans-serif;
    position: absolute;
    left: 620px;
    top: 269px;
    width: 417.28px;
    height: 72.89px;
  }
  
  
  .price {
    color: #000000;
    text-align: left;
    font: 680 17px "Source Sans Pro", sans-serif;
    position: absolute;
    left: 780px;
    top: 269px;
    width: 417.28px;
    height: 72.89px;
  }
  
  
  .total-amount {
    color: #000000;
    text-align: left;
    font: 700 20px "Source Sans Pro", sans-serif;
    position: absolute;
    left: 580px;
    top: 470px;
    width: 417.28px;
    height: 72.89px;
  }
  
  
  .item {
    color: #000000;
    text-align: left;
    font: 680 17px "Source Sans Pro", sans-serif;
    position: absolute;
    left: 205px;
    top: 269px;
    width: 417.28px;
    height: 72.89px;
  }
  
  
  .line-40 {
    border-style: solid;
    border-color: #000000;
    border-width: 1px 0 0 0;
    width: 845.53px;
    height: 0px;
    position: absolute;
    left: 24.99px;
    top: 155px;
    transform-origin: 0 0;
    transform: rotate(0deg) scale(1, 1);
  }
  
  
  .line-41 {
    border-style: solid;
    border-color: #000000;
    border-width: 1px 0 0 0;
    width: 845.53px;
    height: 0px;
    position: absolute;
    left: 24.99px;
    top: 330px;
    transform-origin: 0 0;
    transform: rotate(0deg) scale(1, 1);
  }
  
  
  .line-43 {
    border-style: solid;
    border-color: #000000;
    border-width: 1px 0 0 0;
    width: 845.53px;
    height: 0px;
    position: absolute;
    left: 24.99px;
    top: 390px;
    transform-origin: 0 0;
    transform: rotate(0deg) scale(1, 1);
  }
  
  
  .line-44 {
    border-style: solid;
    border-color: #000000;
    border-width: 1px 0 0 0;
    width: 845.53px;
    height: 0px;
    position: absolute;
    left: 24.99px;
    top: 446px;
    transform-origin: 0 0;
    transform: rotate(0deg) scale(1, 1);
  }
  
  
  .line-42 {
    border-style: solid;
    border-color: #000000;
    border-width: 1px 0 0 0;
    width: 845.53px;
    height: 0px;
    position: absolute;
    left: 24.99px;
    top: 225px;
    transform-origin: 0 0;
    transform: rotate(0deg) scale(1, 1);
  }
  
  
  .line-45 {
    border-style: solid;
    border-color: #000000;
    border-width: 1px 0 0 0;
    width: 220.65px;
    height: 0px;
    position: absolute;
    left: 160.75px;
    top: 225px;
    transform-origin: 0 0;
    transform: rotate(90deg) scale(1, 1);
  }
  
  
  .line-48 {
    border-style: solid;
    border-color: #000000;
    border-width: 1px 0 0 0;
    width: 220.65px;
    height: 0px;
    position: absolute;
    left: 584.02px;
    top: 225px;
    transform-origin: 0 0;
    transform: rotate(90deg) scale(1, 1);
  }
  
  
  .line-49 {
    border-style: solid;
    border-color: #000000;
    border-width: 1px 0 0 0;
    width: 295.51px;
    height: 0px;
    position: absolute;
    left: 727.77px;
    top: 225px;
    transform-origin: 0 0;
    transform: rotate(90deg) scale(1, 1);
  }
  
  
  .line-46 {
    border-style: solid;
    border-color: #000000;
    border-width: 1px 0 0 0;
    width: 220.65px;
    height: 0px;
    position: absolute;
    left: 288.53px;
    top: 225px;
    transform-origin: 0 0;
    transform: rotate(90deg) scale(1, 1);
  }
  
  
  .line-47 {
    border-style: solid;
    border-color: #000000;
    border-width: 1px 0 0 0;
    width: 220.65px;
    height: 0px;
    position: absolute;
    left: 492.18px;
    top: 225px;
    transform-origin: 0 0;
    transform: rotate(90deg) scale(1, 1);
  }
  
  
  .icon,
  .icon * {
    box-sizing: border-box;
  }
  
  
  .icon1{
    position: relative;
    overflow: visible;
  }
  
  
  .decline {
    position: absolute; 
    top: 550px;
    left: 755px;
  }
  
  
  .icon2{
    position: relative;
    overflow: visible;
  }
  
  
  .accept {
    position: absolute; 
    top: 548px;
    left: 825px;
  }