:root {
  --bs-blue: #0d6efd;
  --bs-indigo: #6610f2;
  --bs-purple: #6f42c1;
  --bs-pink: #d63384;
  --bs-red: #dc3545;
  --bs-orange: #fd7e14;
  --bs-yellow: #ffc107;
  --bs-green: #198754;
  --bs-teal: #20c997;
  --bs-cyan: #0dcaf0;
  --bs-black: #000;
  --bs-white: #fff;
  --bs-gray: #6c757d;
  --bs-gray-dark: #343a40;
  --bs-gray-100: #f8f9fa;
  --bs-gray-200: #e9ecef;
  --bs-gray-300: #dee2e6;
  --bs-gray-400: #ced4da;
  --bs-gray-500: #adb5bd;
  --bs-gray-600: #6c757d;
  --bs-gray-700: #495057;
  --bs-gray-800: #343a40;
  --bs-gray-900: #212529;
  --bs-primary: #0d6efd;
  --bs-secondary: #6c757d;
  --bs-success: #198754;
  --bs-info: #0dcaf0;
  --bs-warning: #ffc107;
  --bs-danger: #dc3545;
  --bs-light: #f8f9fa;
  --bs-dark: #212529;
  --bs-primary-rgb: 13, 110, 253;
  --bs-secondary-rgb: 108, 117, 125;
  --bs-success-rgb: 25, 135, 84;
  --bs-info-rgb: 13, 202, 240;
  --bs-warning-rgb: 255, 193, 7;
  --bs-danger-rgb: 220, 53, 69;
  --bs-light-rgb: 248, 249, 250;
  --bs-dark-rgb: 33, 37, 41;
  --bs-white-rgb: 255, 255, 255;
  --bs-black-rgb: 0, 0, 0;
  --bs-body-color-rgb: 33, 37, 41;
  --bs-body-bg-rgb: 255, 255, 255;
  --bs-font-sans-serif: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --bs-font-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  --bs-gradient: linear-gradient(180deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0));
  --bs-body-font-family: var(--bs-font-sans-serif);
  --bs-body-font-size: 1rem;
  --bs-body-font-weight: 400;
  --bs-body-line-height: 1.5;
  --bs-body-color: #212529;
  --bs-body-bg: #fff;
  --bs-border-width: 1px;
  --bs-border-style: solid;
  --bs-border-color: #dee2e6;
  --bs-border-color-translucent: rgba(0, 0, 0, 0.175);
  --bs-border-radius: 0.375rem;
  --bs-border-radius-sm: 0.25rem;
  --bs-border-radius-lg: 0.5rem;
  --bs-border-radius-xl: 1rem;
  --bs-border-radius-2xl: 2rem;
  --bs-border-radius-pill: 50rem;
  --bs-link-color: #0d6efd;
  --bs-link-hover-color: #0a58ca;
  --bs-code-color: #d63384;
  --bs-highlight-bg: #fff3cd;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

@media (prefers-reduced-motion: no-preference) {
  :root {
    scroll-behavior: smooth;
  }
}

body {
  font-family: var(--bs-body-font-family);
  font-size: var(--bs-body-font-size);
  font-weight: var(--bs-body-font-weight);
  color: var(--bs-body-color);
  text-align: var(--bs-body-text-align);
 
 
  /* Background */
  background-image: url("/static/images/ctu_loogo.png");
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: 100vh;
  background-color: #6C757D!important;
  content-visibility: auto;
}


.navbar {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.container-fluid col-2 {
padding: 0px !important;


}

.ctu_logo{
  vertical-align: middle;
  height: 220px;
  padding: 3px;
  display: inline-flex;
}
.background{
  position: relative;
  background: linear-gradient(128.43deg, rgba(0, 53, 102, 0.92) 43.98%, rgba(0, 53, 102, 0.899983) 49.22%, rgba(0, 53, 102, 0.867118) 54.74%, rgba(0, 53, 102, 0.845939) 57.59%, rgba(0, 53, 102, 0.7636) 63.96%, rgba(0, 53, 102, 0) 170.25%);
}
.image-container {
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
}
.profile_img {
height: 170px !important;  
}

.list-group {
  --bs-list-group-color: #212529;
  --bs-list-group-bg: #fff;
  --bs-list-group-border-color: rgba(0, 0, 0, 0.125);
  --bs-list-group-border-width: 1px;
  --bs-list-group-border-radius: 0.375rem;
  --bs-list-group-item-padding-x: 1rem;
  --bs-list-group-item-padding-y: 0.5rem;
  --bs-list-group-action-color: #495057;
  --bs-list-group-action-hover-color: #B3C3D2;
  --bs-list-group-action-hover-bg: #f8f9fa;
  --bs-list-group-action-active-color: #212529;
  --bs-list-group-action-active-bg: #e9ecef;
  --bs-list-group-disabled-color: #6c757d;
  --bs-list-group-disabled-bg: #fff;
  --bs-list-group-active-color: #fff;
  --bs-list-group-active-bg: #0d6efd;
  --bs-list-group-active-border-color: #0d6efd;
  display: flex;
  flex-direction: column;
  padding-left: 0;
  margin-bottom: 0;


}
.list-group-flush {
  border-radius: 0;
}

.list-group-item-light {
  color:#223d00;
  background-color: #fefefe;
}
.list-group-item{
  border-left: 1px !important;
  border-bottom: 0px !important;
  border-radius: 0% !important;
  text-align: left;
  font-family: Source Sans Pro;
  font-size: 20px;
  font-weight: 300;
  line-height: 30px;
  letter-spacing: 0.1em;


}

.bg-light {
  --bs-bg-opacity: 1;
  background: linear-gradient(128.43deg, rgba(0, 53, 102, 0.92) 43.98%, rgba(0, 53, 102, 0.899983) 49.22%, rgba(0, 53, 102, 0.867118) 54.74%, rgba(0, 53, 102, 0.845939) 57.59%, rgba(0, 53, 102, 0.7636) 63.96%, rgba(0, 53, 102, 0) 170.25%) !important;
} 
.sidebar{
  height: auto;
  border-right: 2px solid black;
}

#sidebar-wrapper {
  min-height: auto;
  margin-left: -15rem;
  transition: margin 0.25s ease-out;
}

#sidebar-wrapper .sidebar-heading {
  padding: 0.875rem 1.25rem;
  font-size: 1.2rem;
}

#sidebar-wrapper .list-group {
  width: 280px;
}


#page-content-wrapper {
  min-width: 100vw;
}

body.sb-sidenav-toggled #wrapper #sidebar-wrapper {
  margin-left: 0;
}

@media (min-width: 800px) {
  #sidebar-wrapper {
    margin-left: 0;
  }
  #page-content-wrapper {
    min-width: 0;
    width: 100%;
  }
  .head {
    color: white;
    font-family: serif;
    margin-left: 0%;
    font-size: 60px;
  }
  .p1 {
    color: white;
    font-family: serif;
    font-size: 25px;
    text-align: center;
  }
  .d-flex {
      display: -ms-flexbox!important;
      display: flex!important;
      background-color: white;
      visibility: visible;
      content-visibility: auto;
  }
  .pr {
      font-size: 4opx;
      font-family: serif;
      display: flex;
      align-content: center;
  }
  .container {
      display: flex;
      color: #000;
      display: flex;
      align-content: center;
      justify-content: space-evenly;
      padding: 4px !important;
  }


.input-group{
  padding-top: 2rem;
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-align: stretch;
    align-items: stretch;
    width: 60%;
   
}
.input-group>.custom-select:not(:first-child), .input-group>.form-control:not(:first-child) {
  border-radius: 0%;
  border: 1px solid black;
  border-left: none !important;
}


.input-group>.input-group-append:last-child>.btn:not(:last-child):not(.dropdown-toggle), .input-group>.input-group-append:last-child>.input-group-text:not(:last-child), .input-group>.input-group-append:not(:last-child)>.btn, .input-group>.input-group-append:not(:last-child)>.input-group-text, .input-group>.input-group-prepend>.btn, .input-group>.input-group-prepend>.input-group-text {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
.input-group>.input-group-prepend>.input-group-text {
border-top-right-radius: 0;
border-bottom-right-radius: 0;
border: 1px solid;
background-color: white;
}
.input-group-text {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  padding: 0.375rem 0.75rem;
  margin-bottom: 0;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: black;
  text-align: center;
  white-space: nowrap;
  background-color: #fff;
  border: 1px solid #000;
  border-radius: 0%;
  border-right: none !important;
}


.cart_icon {
height: 40px !important;
width: 40px !important;
margin: 1rem !important;


}
.col-12 {
display: flex;
  align-items: baseline;
  font-size: 50px;
}
.d-flex  {
display: flex!important;
visibility: visible;
display: flex;
flex-direction: row;
}


}
.cart_icon{
  height: 40px;
  color: #000;
}


.dropdown-item{
  text-align: left;
}


.welcome{
  background-color: #6C757D!important;
  color: white;
  text-align: center !important;
  margin: 0%;
  font-family: serif;
  font-size: larger;
  height: 40px;
  display: flex;
  align-content: center;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-around;
  visibility: visible;
  content-visibility: auto;
}


.arrow_img {
  height: 20px;
  width: 20px;
  position:sticky;
}
.purchase-request-no-0000100,
.purchase-request-no-0000100 * {
box-sizing: border-box;
}
.purchase-request-no-0000100 {
color: #ff0000;
text-align: left;
font: 700 24px "Source Sans Pro", sans-serif;
position: sticky;
width: 798px;
height: 65px;
}
.purchase-request-no-0000002,
.purchase-request-no-0000002 * {
box-sizing: border-box;
}
.purchase-request-no-0000002 {
color: #223d00;
text-align: left;
font: 700 24px "Source Sans Pro", sans-serif;
position: relative;
width: 798px;
height: 65px;
}
.vector,
.vector * {
box-sizing: border-box;
}
.vector {
position: sticky;
overflow: visible;
margin-top: 290px;
}
.rectangle-23,
.rectangle-23 * {
box-sizing: border-box;
}
.rectangle-23 {

background: #6c757d;
border-style: solid;
border-color: #6c757d;
border-width: 1px;
width: fixed;
height: 40px;
position: sticky;
margin-top: 380px;
}
.history-on-request-purchases,
.history-on-request-purchases * {
box-sizing: border-box;
}
.history-on-request-purchases {
color: #333333;
text-align: left;
font: 700 40px "Source Sans Pro", sans-serif;
position: relative;
width: 813px;
height: 30px;
}

.purchase-request-no-0000100{
  color: #ff0000;
  text-align: left;
  font: 700 24px "Source Sans Pro", sans-serif;
  position: sticky;
  width: 100%;
  height: 65px;
  border: 1px solid black;
  padding: 15px;
}

.purchase-request-no-0000002  {
  color: #223d00;
  text-align: left;
  font: 700 24px "Source Sans Pro", sans-serif;
  position: sticky;
  width: 100%;
  height: 65px;
  border: 1px solid black;
  padding: 15px;
}