.body {
    margin: 0px;
    padding: 0px;
    box-sizing:border-box;
    font-family: 'Hermenes-one', sans-serif;
    overflow: hidden;
    width: 100%;
    height: 100;
    position:absolute;

}

.container {
    min-height: 100vh;
    background-repeat: no-repeat;
    background-color: #ffffff;
    top: 0px;
}

.frame {
    background-image: url("/static/images/school.png");
    background-size: cover;
    background-repeat: no-repeat;
    width: 1773px;
    height: 1080px;
    position: fixed;
    overflow: visible;
    left: 320px;
    top: 0px;

}

.trapezoid {
    position: fixed;
    border-bottom: 1079px solid #003566;
    border-left: 0px solid transparent;
    border-right: 1250px solid transparent;
    height: 0px;
    width: 300px;
    left: 0px;
    top: 0px;
    opacity: 97%;
}

.parallelogram1 {
    width: 20px;
    height: 1078px;
    transform: skew(48deg);
    background: #ffffff;
    position: fixed;
    left: 900px;
    top: 0px;
  

}

.triangle-up {
    width: 0;
    height: 0;
    border-left: 45px solid transparent;
    border-right: 45px solid transparent;
    border-bottom: 1079px solid #f48c06;
    position: fixed;
    left: 900px;
    top: 0px;
    transform: skew(49deg);
    opacity: 95%;
}

.triangle-down {
    width: 0;
    height: 0;
    border-left: 600px solid transparent;
    border-right: 0px solid transparent;
    border-top: 550px solid #f48c06;
    position: fixed;
    left: 1500px;
    top: 0px;
    opacity: 80%;
}

.parallelogram2 {
    width: 15px;
    transform: skew(48deg);
    background: #fff;
    height: 640px;
    position: fixed;
    left: 1850px;
   
}

.triangle-down2 {
    width: 0;
    height: 0;
    border-left: 35px solid transparent;
    border-right: 40px solid transparent;
    border-top: 550px solid #003566;
    position: fixed;
    left: 1740px;
    top: 0px;
    transform: skew(50deg);
    opacity: 95%;

}

.cot {
    position: fixed;
    width: 685px;
    height: 318px;
    left: 10px;
    top: 250px;
    font-family: 'Hermeneus One';
    font-style: normal;
    font-weight: 400;
    font-size: 85px;
    line-height: 100px;
    color: #ffff;
    text-align: center;
}

.ctu {
    position: fixed;
    width: 822px;
    height: 225px;
    left: 50px;
    top: 650px;
    font-family: 'Hermeneus One';
    font-style: normal;
    font-weight: 400;
    font-size: 45px;
    line-height: 58px;
    color: #F48C06;
    text-align: end;
}


.arrow {
    position: fixed;
    top: 960px;
    left: 980px;
    width: 75px;

}
