body {
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    overflow: hidden;
}

.container {
    position: relative;
    text-align: center;
    min-height: 100vh;
    background-repeat: no-repeat;
    background-color: #ffffff;
}

.frame {
    background-image: url("/static/images/cargao.png");
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%; 
    height: 100vh;
    position: fixed;
    overflow: visible;
    left: 0%;
    top: 0;
}

.trapezoid {
    position: fixed;
    border-bottom: 100vh solid #003566e8;
    border-left: 0 solid transparent;
    border-right: 50vw solid transparent; 
    height: 0;
    width: 20vw; 
    left: 0;
    top: 0;
    opacity: 0.97;
}


.parallelogram1 {
    position: fixed;
    transform: skew(45deg);
    background: #ffffffef;
    border-bottom: 100vh solid white;
    border-left: 0 solid transparent;
    border-right: 1.5vw solid transparent; 
    height: 0;
    width: 0; 
    left: 87vh;
    top: 0;
    opacity: 0.97;
}


.triangle-up {
    position: fixed;
    border-bottom: 100vh solid #f48d06e7;
    border-left: 0 solid transparent;
    border-right: 2vw solid transparent; 
    transform: skew(45deg);
    opacity: 95%;
    height: 0;
    width: 0; 
    left: 89.5vh;
    top: 0;
}


.triangle-down {
    position: fixed;
    border-bottom: 100vh solid #003566e8;
    border-right: 0 solid transparent;
    border-left: 6vw solid transparent; 
    transform: rotate(131deg);
    height: 0;
    width: 0; 
    right: 20vh;
    bottom: 11vw;
    opacity: 0.97;
}


.parallelogram2 {
    position: fixed;
    transform: skew(43deg);
    background: #ffffff;
    border-bottom: 100vh solid white;
    border-left: 0 solid transparent;
    border-right: 1vw solid transparent; 
    height: 0;
    width: 0; 
    right: 4.5vh;
    top: 0;
    opacity: 0.97;
}


.triangle-down2 {
    position: fixed;
    border-bottom: 100vh solid #f48c06;
    border-left: 0 solid transparent;
    border-right: 30vw solid transparent; 
    transform: rotate(168deg);
    opacity: 95%;
    height: 0;
    width: 0; 
    left: 78vw;
    bottom: 10vh;
}


.cot {
    position: fixed;
    width: 40%; 
    height: 20%;
    left: .1%; 
    top: 21%; 
    font-family: Verdana;
    font-style: normal;
    font-weight: 600; 
    font-size: 4vw; 
    line-height: 1.5; 
    color: #ffff;
}