* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}


body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: linear-gradient(128.43deg, rgba(0, 53, 102, 0.92) 43.98%, rgba(0, 53, 102, 0.899983) 49.22%, rgba(0, 53, 102, 0.867118) 54.74%, rgba(0, 53, 102, 0.845939) 57.59%, rgba(0, 53, 102, 0.7636) 63.96%, rgba(0, 53, 102, 0) 170.25%),
    url("/static/images/CTU-Logo.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
}

.title {
    position: absolute;
    font-family: Verdana;
    top: 5%; /* Change this value as needed */
    left: 1.5%; /* Change this value as needed */
    font-size: 3vw; /* Use viewport width as a relative unit for font size */
    font-weight: bold;
    color: white;
    transform-origin: left top; /* Set the transform origin to the top-left corner */
}



/* Base styles for wrapper */
.wrapper {
    width: 30%;
    max-width: 60vw;
    max-height: 60vh;
    margin: auto;
    background: rgba(255, 255, 255, 0.938);
    box-shadow: 0 0 10px rgba(12, 12, 12, 0.753);
    color: rgba(0, 0, 0, 0.815);
    padding: 5vw 5vh;
    border-radius: 10px;
    border-style: solid;
    border-width: 2px;
    overflow: hidden;
}

/* Responsive adjustments using media queries */
@media screen and (max-width: 768px) {
    .wrapper {
        width: 50%;
        max-width: none;
        padding: 5vw;
    }
}

/* Styles for icon container */
.icon-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Styles for heading */
.wrapper h1 {
    color: #003566;
    font-size: 2em;
    text-align: center;
    margin-bottom: 35px;
}

/* Styles for input box */
.wrapper .input-box {
    width: 100%;
    margin: 15px 0;
}

.input-box input {
    width: 100%;
    height: 40px;
    background: rgba(255, 255, 255, 0.486);
    border: none;
    outline: none;
    border-radius: 5px;
    font-size: 14px;
    padding: 10px;
    box-shadow: 0 0 3px;
    transition: all 0.5s ease;
}

.input-box input:hover {
    color: #003566;
}

.input-box input:focus,
.input-box input:valid {
    border-color: #003566;
}

/* Styles for forgot link */
.wrapper .forgot {
    font-size: 17px;
    margin-left: 5%;
}

.forgot a {
    font-size: 17px;
    margin-left: 15px;
    color: black;
    text-decoration: none;
}

.forgot a:hover {
    text-decoration: underline;
}

/* Styles for button */
.wrapper .btn {
    width: 100%;
    height: 30px;
    background: #fc8f01;
    outline: none;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.062);
    cursor: pointer;
    color: black;
    font-weight: 250;
    font-size: 17px;
    margin-top: 20px;
    text-align: center;
    line-height: 14px;
    transition-duration: 0.5s;
}

.wrapper .btn:hover {
    color: white;
    background-color: #ffa125e3;
}

/* Styles for register link */
.register-link {
    font-size: 17px;
    text-align: center;
    margin-top: 20px;
}

.register-link p a {
    font-size: 17px;
    font-weight: 200;
    color: black;
    text-decoration: underline;
}

.register-link p a:hover {
    text-decoration: underline;
    color: #007bff;
}
