* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}


body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: linear-gradient(128.43deg, rgba(0, 53, 102, 0.92) 43.98%, rgba(0, 53, 102, 0.899983) 49.22%, rgba(0, 53, 102, 0.867118) 54.74%, rgba(0, 53, 102, 0.845939) 57.59%, rgba(0, 53, 102, 0.7636) 63.96%, rgba(0, 53, 102, 0) 170.25%),
    url("/static/images/CTU-Logo.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
}

.title {
    position: absolute;
    font-family: Verdana;
    top: 6%;
    left: 1.5%;
    font-size: 3vw;
    font-weight: bold; 
    color: white;
    transform-origin: left top;
}


.wrapper {
    width: 25%;
    max-width: 30%;
    max-height: 60vh;
    margin: auto;
    margin-top: 27vh;
    background: rgba(255, 255, 255, 0.884);
    box-shadow: 0 0 10px rgba(12, 12, 12, 0.753);
    color: rgba(0, 0, 0, 0.815);
    padding: 3vw;
    border-radius: 15px;
    border-style: solid;
    border-width: 2px;
    overflow-y: auto; 
    scrollbar-width: thin;
    scrollbar-color: transparent transparent;
    transition: scrollbar-color 0.5s ease;
}


.wrapper {
    overflow-y: hidden; 
}


.wrapper:hover {
    overflow-y: auto; 
}


.wrapper::-webkit-scrollbar {
    width: 5px;
    transition: width 0.5s;
}


.wrapper::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 5px;
}


.wrapper.scrolled {
    scrollbar-color: #888 rgba(255, 255, 255, 0.815);
}


.wrapper:hover::-webkit-scrollbar {
    width: 2px;
}


.wrapper:hover .scrolled {
    scrollbar-color: #888 rgba(255, 255, 255, 0.815);
}


@media screen and (max-width: 30%) {
    .wrapper {
        width: 80%;
        max-width: 100%;
        padding: 10px;
    }


    .wrapper h1 {
        font-size: 1.5em;
        margin-bottom: 1vw;
    }


    .input-box input {
        height: 3vw;
        font-size: 1.2vw;
        padding: 0.5vw;
    }


    .wrapper .btn {
        height: 2.5vw;
        font-size: 1.2vw;
        margin-top: 1vw;
    }


    .register-link {
        margin-top: 1vw;
    }


    .register-link p a {
        font-size: 1.2vw;
    }
}


.wrapper h1 {
    color: #003566;
    font-size: 2.3em;
    text-align: center;
    margin-bottom: 3vw;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
}


.wrapper .input-box {
    width: 100%;
    margin: 1vw 0;
}


.input-box input {
    font-family: 'Poppins', sans-serif;
    width: 100%;
    height: 2vw;
    border: none;
    outline: none;
    border-radius: 20px;
    border-bottom: 2px solid; 
    font-size: 95%;
    padding: 10px;
    box-shadow: 0 0 3px;
    transition: all 0.5s ease;
    border-color: transparent; 
}

.input-box input:hover {
    color: #003566;
}

.input-box input:focus,
.input-box input:valid {
    border-color: #003566; 
}



.forgot a {
    font-size: .8vw;
    font-weight: 500;
    margin-left: 2vw;
    color: black;
    text-decoration: none;
}


.forgot a:hover {
    text-decoration: underline;
}


.wrapper .btn {
    width: 100%;
    padding: 12px 20px;
    font-size: 1.2em;
    font-weight: 600;
    font-family: 'Poppins', sans-serif;
    text-align: center;
    line-height: normal;
    background: linear-gradient(45deg, #f38c06, #ffbc67);
    color: #003566;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    outline: none;
    margin-top: 1.5em;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease;
}

.wrapper .btn:hover {
    background: linear-gradient(45deg, #ffbc67, #f38c06);
    transform: translateY(-2px);
    box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.2);
}



.register-link {
    font-size: .8vw;
    text-align: center;
    margin-top: 1vw;
}


.register-link p a {
    font-size: .8vw;
    font-weight: 400;
    color: black;
    text-decoration: none;
}


.register-link p a:hover {
    text-decoration: underline;
    color: #007bff;
}

