.notification h1 {
   
    font-size: 4opx;
    font-family: serif;
    display: flex;
    align-content: center;

}
.profile_img {
    position: absolute;
    left: 150px;
    top: 50px;
    width: 291px;
    height: 289px;
    border-radius: 50%; /* Use 50% for a circular shape */
}