h1 {
    color: #333;
    font-size: 24px;
    margin: 20px 0;
  }
  .container-fluid {
    margin-bottom: 0;
}
.ctu_logo {
    margin-top: -13%;
}

.table-bordered th {
    background-color: #1c96c5;
    color: #fff;
  }
  .table-bordered th,
  .table-bordered td {
      color: #000; 

  }
  .table-container {
    margin-top: 20vh; 
}
.item-actions {
    display: none;
}

tr:hover .item-actions {
    display: flex;
}

.btn {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 1vh;
    background: #144472;
    font-family: "Montserrat", sans-serif;
    box-shadow: 0px 6px 24px 0px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    cursor: pointer;
    border: none;
    margin-left: -107%;
    margin-top: 15%;
    padding: 10px 20px;
    font-size: 16px;
}
.submt {
    float: inline-end;
}


.catalogue {
    background: #1c96c5;
    padding: 5px 15px;
    color: white;
    text-decoration: none;
    margin-left: 0;
    border: none;
    border-radius: 5px;
    margin-top: 15%;
}

.custom:hover,
.catalogue:hover,
.submt:hover {
    transition: all ease .5s;
    background: #144472;
}


.custom:active,
.catalogue:active,
.submt:active {
    transform: translate(0em, 0.14em);
}


.bck {
    position: fixed;
    bottom: 50px;
    left: 0;
    background-color: #your-color; 
    border-radius: 10px;
    padding: 10px;
    z-index: 1;
    display: inline-block;
    margin-left: 10px;
}

.bck a {
    display: flex;
    align-items: center;
    text-decoration: none;
}

.bck img {
    width: 30px;
    height: 30px;
    transition: all 0.3s ease-in-out;
}

.bck:hover img {
    transform: translateX(-5px);
    filter: brightness(1.2);
}

.bck::before {
    content: "";
    position: absolute;
    top: -5px;
    right: 0;
    bottom: -5px;
    left: 0;
    border-radius: 20px;
    opacity: 0;
    z-index: -1;
    transition: opacity 0.3s ease-in-out;
}

.bck:hover::before {
    opacity: 1;
}
.btn-success {
    color: #fff;
    background-color: #28a745;
    border-color: #28a745;
}