.main-content{
    height: 100%;
    overflow-y: auto; 
    overflow-x: hidden;
}


.item-actions {
    display: none;
}


.pr {
    margin-left: 20px !important; 
    font-weight: 600;/* Adjust the value as needed */
}

body{
    overflow:hidden;
}
html{
    overflow:hidden;
}


.box-container {
    display: flex;
    align-items: center;
    height: 100%;
    flex-direction: column;
    margin-left: 45%;
    margin-top: 5%;
}

.box {     
width: 400px;
height: 65px;
background-color: #f0f0f0;
margin: 10px 0;
display: flex;
align-items: center;
justify-content: center;
font-family: 'Roboto', sans-serif;
font-size: 20px;
border: 2px solid #ffffff;
border-radius: 10px;
color: #ffffff;
background-color: transparent;
transition: box-shadow 0.3s ease-in-out;
text-decoration: none;
margin-right: 59%;
}


.box:hover i{
    text-decoration: none;
}


.box:hover {
    background-color: #003566e8;
    color: #fff;
    box-shadow: 0 4px 8px #b18b58;
    text-decoration: none;
}


.box a{
    text-decoration: none;
}


.box a:hover {
    text-decoration: none;
}

.ppmp{
    border: 1px solid #ffffff;
    border-radius: 10px;
    color: #ffffff;
    background-color: #00417eea;
    margin: 10px 0;
}

.box1 {     
    width: 400px;
    height: 65px;
    background-color: #f0f0f0;
    margin: 10px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    border: 2px solid #ffffff;
    border-radius: 10px;
    color: #ffffff;
    background-color: transparent;
    transition: box-shadow 0.3s ease-in-out;
    text-decoration: none;
    }

.box1:hover{
    background-color: #f59a23e3;
    color: #fff;
    box-shadow: 0 4px 8px #003566e8;
    text-decoration: none;

}

.create{
    border: 1px solid #00356657;
    border-radius: 10px;
    color: #003566e8;
    background-color: #f59a23e3;
    margin: 10px 0;
    font-weight: 500;
    box-shadow: 0 4px 8px #422b0ce3;

}