* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
}

.container {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: scale(1.2);
}


.profile-box {
    background: #ffa125e3;
    text-align: center;
    padding: 40px 90px;
    color: #fff;
    position: relative;
    border-radius: 20px;
}

.back-icon, .setting-icon {
    width: 25px;
    position: absolute;
    top: 40px;
    cursor: pointer;
}

.back-icon {
    left: 40px;
}

.setting-icon {
    right: 40px;
}

.back-icon:hover, .setting-icon:hover {
    transform: scale(1.2);
}

.profile-pic {
    width: 150px;
    border-radius: 50%;
    background: #fff;
    padding: 3px;
    margin-top: 40px;
    cursor: pointer;
}

.profile-box button {
    background: rgba(0, 0, 0, 0.846);
    color: #ffa125e3;
    border: none;
    outline: none;
    box-shadow: 0 5px 10px rgba(224, 67, 54, 0.5);
    padding: 10.5px 42px;
    cursor: pointer;
    border-radius: 30px;
    font-weight: 600;
    font-size: 10.5px;
    transition: background-color 0.3s, color 0.3s, box-shadow 0.3s;
    margin-bottom: 50px;
}


.profile-box button:hover {
    background-color: #ffe2bde3;
    color: #fff;
    box-shadow: 0 5px 15px rgba(224, 67, 54, 0.7);
}

.profile-bottom {
    background: rgba(255, 255, 255, 0.846);
    color: #000000;
    padding: 60px 0;
    margin: -40px -90px;
    border-radius: 20px;
    height: 200px;
}

.mail_icon, .contact {
    position: relative;
    width: 7%;
    height: auto;
    left: -125px;
}

.mail_icon {
    top: -113px;
    margin-right: 10px;
}

.contact {
    top: -90px;
    margin-right: 10px;
}
body {
    background: linear-gradient(120deg, rgba(0, 53, 102, 0.92) 43.98%, rgba(0, 53, 102, 0.899983) 49.22%, rgba(0, 53, 102, 0.867118) 54.74%, rgba(0, 53, 102, 0.845939) 57.59%, rgba(0, 53, 102, 0.7636) 63.96%, rgba(0, 53, 102, 0) 170.25%);
    display: flex;
    align-items: center;
    justify-content: center;
    transform: scale(1.2);
}
