:root {
  --bs-blue: #0d6efd;
  --bs-indigo: #6610f2;
  --bs-purple: #6f42c1;
  --bs-pink: #d63384;
  --bs-red: #dc3545;
  --bs-orange: #fd7e14;
  --bs-yellow: #ffc107;
  --bs-green: #198754;
  --bs-teal: #20c997;
  --bs-cyan: #0dcaf0;
  --bs-black: #000;
  --bs-white: #fff;
  --bs-gray: #6c757d;
  --bs-gray-dark: #343a40;
  --bs-gray-100: #f8f9fa;
  --bs-gray-200: #e9ecef;
  --bs-gray-300: #dee2e6;
  --bs-gray-400: #ced4da;
  --bs-gray-500: #adb5bd;
  --bs-gray-600: #6c757d;
  --bs-gray-700: #495057;
  --bs-gray-800: #343a40;
  --bs-gray-900: #212529;
  --bs-primary: #0d6efd;
  --bs-secondary: #6c757d;
  --bs-success: #198754;
  --bs-info: #0dcaf0; 
  --bs-warning: #ffc107;
  --bs-danger: #dc3545;
  --bs-light: #f8f9fa;
  --bs-dark: #212529;
  --bs-primary-rgb: 13, 110, 253;
  --bs-secondary-rgb: 108, 117, 125;
  --bs-success-rgb: 25, 135, 84;
  --bs-info-rgb: 13, 202, 240;
  --bs-warning-rgb: 255, 193, 7;
  --bs-danger-rgb: 220, 53, 69;
  --bs-light-rgb: 248, 249, 250;
  --bs-dark-rgb: 33, 37, 41;
  --bs-white-rgb: 255, 255, 255;
  --bs-black-rgb: 0, 0, 0;
  --bs-body-color-rgb: 33, 37, 41;
  --bs-body-bg-rgb: 255, 255, 255;
  --bs-font-sans-serif: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --bs-font-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  --bs-gradient: linear-gradient(180deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0));
  --bs-body-font-family: var(--bs-font-sans-serif);
  --bs-body-font-size: 1rem;
  --bs-body-font-weight: 400;
  --bs-body-line-height: 1.5;
  --bs-body-color: #212529;
  --bs-body-bg: #fff;
  --bs-border-width: 1px;
  --bs-border-style: solid;
  --bs-border-color: #dee2e6;
  --bs-border-color-translucent: rgba(0, 0, 0, 0.175);
  --bs-border-radius: 0.375rem;
  --bs-border-radius-sm: 0.25rem;
  --bs-border-radius-lg: 0.5rem;
  --bs-border-radius-xl: 1rem;
  --bs-border-radius-2xl: 2rem;
  --bs-border-radius-pill: 50rem;
  --bs-link-color: #0d6efd;
  --bs-link-hover-color: #0a58ca;
  --bs-code-color: #d63384;
  --bs-highlight-bg: #fff3cd;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

@media (prefers-reduced-motion: no-preference) {
  :root {
    scroll-behavior: smooth;
  }
}

body {
  font-family: var(--bs-body-font-family);
  font-size: var(--bs-body-font-size);
  font-weight: var(--bs-body-font-weight);
  color: var(--bs-body-color);
  text-align: var(--bs-body-text-align);
  
}
.navbar {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.container-fluid col-2 {
padding: 0px !important;

} 

img,
svg {
  vertical-align: middle;
  height: 220px;
  padding: 3px;
  margin-left: 1rem;
  display: inline-flex;
}
.background{
  position: relative;
  background: linear-gradient(128.43deg, rgba(0, 53, 102, 0.92) 43.98%, rgba(0, 53, 102, 0.899983) 49.22%, rgba(0, 53, 102, 0.867118) 54.74%, rgba(0, 53, 102, 0.845939) 57.59%, rgba(0, 53, 102, 0.7636) 63.96%, rgba(0, 53, 102, 0) 170.25%);
}
.background-image {
  width: 1064px;
  height: 1034px;
  object-fit: cover;
  opacity: 80%;
  left: 440px;
  top: 10px;
  object-fit: cover;
  position: absolute;
}
.image-container {
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
}

.list-group {
  --bs-list-group-color: #212529;
  --bs-list-group-bg: #fff;
  --bs-list-group-border-color: rgba(0, 0, 0, 0.125);
  --bs-list-group-border-width: 1px;
  --bs-list-group-border-radius: 0.375rem;
  --bs-list-group-item-padding-x: 1rem;
  --bs-list-group-item-padding-y: 0.5rem;
  --bs-list-group-action-color: #495057;
  --bs-list-group-action-hover-color: #B3C3D2;
  --bs-list-group-action-hover-bg: #f8f9fa;
  --bs-list-group-action-active-color: #212529;
  --bs-list-group-action-active-bg: #e9ecef;
  --bs-list-group-disabled-color: #6c757d;
  --bs-list-group-disabled-bg: #fff;
  --bs-list-group-active-color: #fff;
  --bs-list-group-active-bg: #0d6efd;
  --bs-list-group-active-border-color: #0d6efd;
  display: flex;
  flex-direction: column;
  padding-left: 0;
  margin-bottom: 0;

}
.list-group-flush {
  border-radius: 0;
}

.list-group-item-light {
  color:black;
  background-color: #fefefe;
}
.list-group-item{
  border-left: 1px !important;
  border-bottom: 0px !important;
  border-radius: 0% !important;
  text-align: left;
  font-family: Source Sans Pro;
  font-size: 20px;
  font-weight: 300;
  line-height: 30px;
  letter-spacing: 0.1em;

}

.bg-light {
  --bs-bg-opacity: 1;
  background: linear-gradient(128.43deg, rgba(0, 53, 102, 0.92) 43.98%, rgba(0, 53, 102, 0.899983) 49.22%, rgba(0, 53, 102, 0.867118) 54.74%, rgba(0, 53, 102, 0.845939) 57.59%, rgba(0, 53, 102, 0.7636) 63.96%, rgba(0, 53, 102, 0) 170.25%) !important;
}
  #page-content-wrapper {
    position: absolute;
    left: 0;
    top: 285px;
    width: 1920px;
    height: 814px;
  }
  .welcome{
    background-color: #6C757D!important;
    color: white;
    text-align: center !important;
    margin: 0%;
    font-family: serif;
    font-size: larger;
    height: 40px;
    display: flex;
    align-content: center;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-around;
    visibility: visible;
    content-visibility: auto;
  }
  .head {
    color: white;
    font-family: "Hermeneus One", serif;
    margin-left: 0%;
    font-size: 60px;
  }
  
  .p1 {
    color: white;
    font-family: "Hermeneus One", serif;
    font-size: 25px;
  }
  
  .d-flex {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 20;
    display: -ms-flexbox!important;
    display: flex!important;
    background-color: rgb(255, 255, 255);
    visibility: visible;
    content-visibility  : auto;
}

.profile-picture {
  position: absolute;
  right: 211px;
  top: 30px;
  width: 178px;
  height: 180px;
  border-radius: 50%;
  z-index: 1;
  padding: 3px;
  margin-top: 40px;
  cursor: pointer;
  border: 2px solid #ffffff;
	border-radius: 50%;
	padding: 7px;
}

.username {
position: absolute;
left: 1300px;
top: 540px;
width: 383px;
height: 44px;
font-family: 'Source Sans Pro', sans-serif;
font-weight: 600;
font-size: 48px;
color: #000000;
}
.email {
position: absolute;
left: 1320px;
top: 595px;
width: 383px;
height: 44px;
font-family: 'Source Sans Pro', sans-serif;
font-weight: 600;
font-size: 24px;
color: #4190ED;
}
.account-id {
position: absolute;
left: 1326px;
top: 625px;
width: 383px;
height: 44px;
font-family: 'Source Sans Pro', sans-serif;
font-weight: 600;
font-size: 24px;
color: #000000;
}
#account-id {
color: #4190ED;
}
.back {
  height: auto;
  width: 40px;
  position: absolute;
  left: 40px;
  top: 40px;
  cursor: pointer;
  transition: transform 0.3s;
}

.back:hover {
  transform: scale(1.2); /* Make the icon 50% smaller */
}

.fname {
border: 2px solid #4190ED;
width: 420px;
height: 46px;
padding-left: 0.8em;
outline: none;
overflow: hidden;
background-color: #F3F3F3;
border-radius: 10px;
transition: all 0.5s;
position: absolute;
left: 75px;
top: 110px;
color: black;
}
.fname:hover,
.fname:focus {
border: 2px solid #4A9DEC;
box-shadow: 0px 0px 0px 7px rgba(74, 157, 236, 0.2);
background-color: white;
color: black;
}
.emmail {
border: 2px solid #4190ED;
width: 420px;
height: 46px;
padding-left: 0.8em;
outline: none;
overflow: hidden;
background-color: #F3F3F3;
border-radius: 10px;
transition: all 0.5s;
position: absolute;
left: 75px;
top: 180px;
color: black;
}

.emmail:hover,
.emmail:focus {
border: 2px solid #4A9DEC;
box-shadow: 0px 0px 0px 7px rgba(74, 157, 236, 0.2);
background-color: white;
color: black;
}

.contact1 {
border: 2px solid #4190ED;
width: 420px;
height: 46px;
padding-left: 0.8em;
outline: none;
overflow: hidden;
background-color: #F3F3F3;
border-radius: 10px;
transition: all 0.5s;
position: absolute;
left: 75px;
top: 250px;
color: black;
}

.contact1:hover,
.contact1:focus {
border: 2px solid #4A9DEC;
box-shadow: 0px 0px 0px 7px rgba(74, 157, 236, 0.2);
background-color: white;
color: black;
}
.contact2 {
border: 2px solid #4190ED;
width: 420px;
height: 46px;
padding-left: 0.8em;
outline: none;
overflow: hidden;
background-color: #F3F3F3;
border-radius: 10px;
transition: all 0.5s;
position: absolute;
left: 75px;
top: 320px;
color: black;
}

.contact2:hover,
.contact2:focus {
border: 2px solid #4A9DEC;
box-shadow: 0px 0px 0px 7px rgba(74, 157, 236, 0.2);
background-color: white;
color: black;
}
.password {
border: 2px solid #4190ED;
width: 420px;
height: 46px;
padding-left: 0.8em;
outline: none;
overflow: hidden;
background-color: #F3F3F3;
border-radius: 10px;
transition: all 0.5s;
position: absolute;
left: 75px;
top: 390px;
color: black;
}
.password:hover,
.password:focus {
border: 2px solid #4A9DEC;
box-shadow: 0px 0px 0px 7px rgba(74, 157, 236, 0.2);
background-color: white;
color: black;
}

.re-type-pass {
border: 2px solid #4190ED;
width: 420px;
height: 46px; 
padding-left: 0.8em;
outline: none;
overflow: hidden;
background-color: #F3F3F3;
border-radius: 10px;
transition: all 0.5s;
position: absolute;
left: 75px;
top: 460px;
color: black;
}
.re-type-pass:hover,
.re-type-pass:focus {
border: 2px solid #4A9DEC;
box-shadow: 0px 0px 0px 7px rgba(74, 157, 236, 0.2);
background-color: white;
color: black;
}
button.learn-more {
  position: absolute;
   right: 855px;
   top: 560px;
   background: rgba(0, 0, 0, 0.846);
   color: #ffa125e3;
   border: none;
   outline: none;
   box-shadow: 0 5px 10px rgba(224, 67, 54, 0.5);
   padding: 10.5px 42px;
   cursor: pointer;
   border-radius: 30px;
   margin-bottom: 10px;
   font-weight: 600;
   font-size: 10.5px;
   transition: background-color 0.3s, color 0.3s, box-shadow 0.3s;
}

button.learn-more .circle {
  background-color: #ffe2bde3;
  color: #fff;
  box-shadow: 0 5px 15px rgba(224, 67, 54, 0.7);
}

button.learn-more .button-text {
  padding: 0;
  margin: 0;
}

button.learn-more.clicked {
  width: 100%;
  background-color: #fff;
  color: #282936;
}

button.learn-more:hover {
  background-color: #ffe2bde3; /* Change to the desired hover color */
  color: #ffffff; /* Text color on hover */
}
.pro_file-picture {
  
  width: 178px;
  height: 180px;
  border-radius: 50%;
 margin-left: 50px;
 
  }
  .save-message {
    position: fixed;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    background: rgba(0, 0, 0, 0.8);
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    display: none;
}
.username-info{
  position: absolute;
  top:50%;
  width: 600px;
  height: 650px;
  background-color: rgba(0, 53, 102, 0.845939);
  border-radius: 20px;
 left: 75%;
 transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.username-info h1 {
  margin: 0;
  color: #fff;
}

.username-info p {
  margin: 0;
  color: #fff;
}
.edit-profile {
  width: 1200px;
  height: 650px;
  background-color: #ffa125e3;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 20px;
}
/* Button styles */
button[type="button"] {
  background-color: #282936;
  color: #fff;
  border: none;
  padding: 5px 10px; /* Adjust the padding to make the button smaller */
  border-radius: 50px;
  cursor: pointer;
  font-size: 14px; /* Reduce the font size to make the text smaller */
  transition: background-color 0.3s, transform 0.2s;
}

/* Button hover effect */
button[type="button"]:hover {
  background-color: #ffa125e3;
  transform: scale(0.9); /* Reduce the scale to make it 10% smaller on hover */
}
