       
       header
        {
            background-color: #007acc;
            color: white;
            padding: 10px;
        }

    
        .ctu_logo {
            width: 190px;
            height: auto;
            margin-right: 20px;
            float: left;
            margin-top: 30px;
        }
        
        .asean_logo{
            width: 167px;
            height: auto;
            margin-right: 20px;
            margin-top: 55px;
            float: left;
        }

    
        .container {
            max-width: 800px; 
            padding: 20px;
            text-align: center; 
            display: flex; 
            flex-direction: column; 
            justify-content: center; 
            align-items: center; 
            margin: 0 auto; 
        }

        h {
            font-size: 25px;
            text-align: center;
        }

        p {
            font-size: 25px;
            text-align: center;
        }

        a {
            color: #007acc;
            text-decoration: underline;
        }

        .management {
            float: right;
            width: 167px;
            height: auto;
            margin-right: 20px;
        }

        .iso_logo {
            float: right;
            width: 167px;
            height: auto;
            margin-top: 50px;
        }

        .stars_logo {
            float: right;
            width: 167px;
            height: auto;
            margin-top: 145px;
        }

        .br {
            margin-bottom: 20px;
        }

        .content p {
            text-align: left;
            margin-right: 1000px;
        }

        table {
            font-weight: bold;
            border: 2px solid;
            width: 50%; 
            margin-top: -500px;
        }

        th,
        td {
            border: 2px solid #dddddd;
            padding: 2px;
            text-align: left;
        }
        body,
        h3,
        p {
            margin: 0;
            padding: 0;
        }

        .container-fluid {
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
        }

        .table-container {
                margin-top: -200px;
                width: 70%; 
                margin-left: 100px;
                margin-right: 150px;
            }


        .logo-container {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 20px;
            width: 80%;
        }

        .logo-container img {
            max-width: 20%;
            height: auto;
            margin: 0 10px;
        }

        .logo-container-left,
        .logo-container-right {
            width: 48%; 
        }

        .logo-container-left img,
        .logo-container-right img {
            width: 100%; 
        }

        .heading-container {
        text-align: center;
        font-size: 10;
        }

        .heading-container h3 {
            font-size: 1.5em; 
        }

        .heading-container h2 {
            font-size: 2em; 
        }

        .heading-container p {
            font-size: 1em; 
        }

        .heading-container a {
            font-size: 1em; 
        }


        .table-container {
            margin-top: 0;
            margin-left: 10px;
            width: 66.1%;
            }

        .icons-container {
            margin-top: 20px;
            display: flex;
            justify-content: flex-end; 
            margin-left: 50%;
        }

        .icon-link {
            text-decoration: none;
            color: white;
            padding: 5px; 
            display: inline-block; 
            margin-right: 10px; 
        }

        .input-box{
            width: 66.1%;
            margin-top: 25px;
            margin-left: 5px;
        }
                
        .input-box input{
            width: 150%;
            height: 60px;
            padding: 10px;
            box-sizing: border-box;
            border: 1px solid rgba(0, 0, 0, 0.97);
            border-radius: 5px;
        }

        .send-icon {
            position: fixed;
            top: 91%;
            right: 50px;
            width: 30px;
            height: 30px;
            background-color: #4CAF50;
            color: white;
            text-align: center;
            border-radius: 5px;
            cursor: pointer;
        }

        .send-icon i {
            line-height: 30px;
        }
                
        table {
            width:70%;
        }

        th span[contenteditable] {
            display: inline-block;
            width: 80%; 
            margin-bottom: 5px; 
        }

        th span[contenteditable]:not(:empty)::before {
            content: ""; 
        }

        th span[contenteditable]:focus {
            border-bottom: 1px solid #000; 
        }


        .footer {
            background-color: rgba(1, 33, 67, 0.9);
            text-align: center;
            width: 100%;
            height: auto;
            bottom: 0;
            -webkit-user-modify: read-only;
            position: fixed;
            z-index: 2;
        }
        .button-container{
            margin-right: 13px;
            float:right;
        }

        .send-button{
            position: sticky;
            background-color: #4CAF50;
            color: white;
            border: none;
            width: 61px;
            border-radius: 5px;
            cursor: pointer;
        }

        .icons-container{
            display: flex;
        }