* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}


body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background:
        linear-gradient(128.43deg, rgba(0, 53, 102, 0.92) 43.98%, rgba(0, 53, 102, 0.899983) 49.22%, rgba(0, 53, 102, 0.867118) 54.74%, rgba(0, 53, 102, 0.845939) 57.59%, rgba(0, 53, 102, 0.7636) 63.96%, rgba(0, 53, 102, 0) 170.25%),
        url("/static/images/CTU-Logo.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: -1;
}


.title{
    position: absolute;
    top: 10%;
    left: 120px;
    color: white;
    font-size: 60px;
    margin-top: 30px;
    margin-right: 80px;
}


.wrapper {
    width: 380px;
    height: 740px;
    background: rgba(255, 255, 255, 0.486);
    box-shadow: 0 0 10px rgba(12, 12, 12, 0.753);
    color: rgba(0, 0, 0, 0.815);
    padding: 50px 40px;
    padding-right: 60px;
    border-radius: 10px;
    border-style: solid;
    border-width: 2px;
    position: absolute;
    left: 1100px;
    top: 160px;
}


.wrapper h1 {
    color: #003566;
    font-size: 45px;
    text-align: center;
    margin-top: 0;
    margin-bottom: 35px;
}


.wrapper .input-box {
    position: relative;
    width: 270px;
    height: 40px;
    background: rgba(255, 255, 255, 0.486);;
    margin: 15px auto;
}


.input-box input {
    width: 270px;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    border-radius: 3px;
    font-size: 14px;
    color: black;
    padding: 10px;
    box-shadow: 0 0 3px black;
}


.input-box input:hover{
    color: #003566;
}


.wrapper .btn {
    width: 32%;
    height: 30px;
    background: #fc8f01;
    outline: none;
    border-radius: 40px;
    border: solid #df8004ad .5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.062);
    cursor: pointer;
    color: black;
    font-weight: 250;
    font-size: 17px;
    margin-left: 67%;
    margin-top: 10px;
    text-align: center;
    line-height: 5px;
    transition-duration: 0.4s;
}


.wrapper .btn:hover{
    color: white;
    background-color: #ffa125e3;
}


.icon-container{
    display: flex;
    justify-content: center;
    align-items: center;
}


.wrapper .btn:hover{
    color: white;
}


.wrapper .login-link {
    font: 17px;
    color: black;
    text-align: center;
    margin-top: 10%;
    display: flex;
    justify-content: flex-start;
    margin-left: 20%;
}


.login-link p a {
    font-size: 17px;
    font-weight: 200;
    color: black;
    text-decoration: underline;
}


.login-link p a:hover {
    text-decoration: underline;
    color: #007bff;
}