body, h, p {
    margin: 0;
    padding: 0;
}


header {
    background-color: #007acc; 
    color: white;
    padding: 10px;
}


.ctu_logo {
    width: 167px; 
    height: auto;
    margin-right: 10px;
    float: left;
}

.asean_logo{
    width: 167px; 
    height: auto;
    margin-right: 10px;
    float: left;
}


.container {
    max-width: 700px;
    padding: 20px;
    text-align: center;
    display: flex; 
    flex-direction: column; 
    justify-content: center; 
    align-items: center; 
    margin: 0 auto; 
  
}


h {
    font-size: 20px; 
    text-align: center; 
}

p {
    font-size: 16px; 
    text-align: center; 
}


a {
    color: #007acc; 
    text-decoration: underline; 
}

a:hover {
    text-decoration: none; 
}
table {
    border-collapse:collapse;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

th, td {
    border: 1px solid black;
    padding: 10px;
    text-align: center;
}

th {
    background-color: white;
}
.iso_logo {
    float: right;
    width: 167px;
    height: auto;
    margin-right: 300px ;
   
}
.stars_logo {
    float: right
}
