*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}


body{
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    padding: 10px;
    background:
        linear-gradient(128.43deg, rgba(0, 53, 102, 0.92) 43.98%, rgba(0, 53, 102, 0.899983) 49.22%, rgba(0, 53, 102, 0.867118) 54.74%, rgba(0, 53, 102, 0.845939) 57.59%, rgba(0, 53, 102, 0.7636) 63.96%, rgba(0, 53, 102, 0) 170.25%),
        url("/static/images/CTU-Logo.jpg");
        background-size: cover;
        background-attachment: fixed;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: -1;
}


.upper{
    position: absolute;
    top: 10%;
    left: 120px;
    color: white;
    font-size: 60px;
    margin-bottom: 100%;
}


.container{
    max-width: 700px;
    width: 100%;
    background:  rgba(255, 255, 255, 0.938);
    box-shadow: 0 0 10px rgba(12, 12, 12, 0.753);
    padding: 20px 30px;
    border-radius: 10px;
}


.icon-container{
    display: flex;
    justify-content: center;
    align-items: center;
}


.container .title{
    color: #003566;
    font-size: 45px;
    text-align: center;
    margin-top: 0;
    margin-bottom: 30px;
}


.container form .user-details{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 20px 0 12px 0;
}


form .user-details .input-box{
    margin-bottom: 15px;
    width: calc(100% / 2 - 20px);
}


.user-details .input-box .details{
    display: block;
    font-weight: 500;
    margin-bottom: 5px;
}


.user-details .input-box input{
    background: rgba(255, 255, 255, 0.486);
    height: 45px;
    width: 100%;
    outline: none;
    border-radius: 5px;
    border: 1px solid #ccc;
    padding-left: 15px;
    font-size: 16px;
    border-bottom-width: 2px;
    transition: all 0.5s ease;
}


.user-details .input-box input:hover{
    color: #003566;
}


.user-details .input-box input:focus,
.user-details .input-box input:valid{
    border-color: #003566;
}
