body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }

  .container {
    display: flex;
    width: 90%;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    gap: 20px;
    height: 100vh;
  }

  /* Left and Right Container */
  .left-container, .right-container {
    width: 50%;
    margin-top: 10vh;
  }

  /* Budget Section */
  .budget-section {
    text-align: center;
    background-color: #f5f6f7;
    padding: 15px;
    border-radius: 10px;
    margin-bottom: 20px;
    font-weight: bold;
    font-size: 1.2rem;
    color: #00438a;
  }

  .budget-section .budget {
    font-size: 2.2rem;
    color: #00438a;
  }

  .budget-section .Annual {
    font-size: 1rem;
    color: #ff8500;
  }

  /* Title Section */
  .title-section {
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
    background-color: #00438a;
    color: #ff8500;
    padding: 15px;
    border-radius: 10px;
    margin-bottom: 20px;
  }

  /* Trackers Section */
  .trackers-section {
    display: flex;
    justify-content: space-between;
    gap: 20px;
  }

  .tracker {
    width: 48%;
    background-color: #f5f6f7;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }

  .tracker h3 {
    background-color: #00438a;
    color: #ff8500;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
    font-size: 1rem;
    font-weight: bold;
    margin: 0;
  }

  .tracker ul {
    list-style: none;
    padding: 0;
    margin: 20px 0;
  }

  .tracker ul li {
    display: flex;
    align-items: center;
    font-size: 0.9rem;
    margin: 10px 0;
    color: #00438a;
  }

  .tracker ul li span {
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin-right: 10px;
  }

  .tracker ul li .green {
    background-color: green;
  }

  .tracker ul li .orange {
    background-color: orange;
  }

  /* Catalogue Section */
  .catalogue-section {
    background-color: #f5f6f7;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }

  .catalogue-section h3 {
    background-color: #00438a;
    color: #ff8500;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
    font-size: 1rem;
    font-weight: bold;
    margin: 0;
  }

  table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
  }

  th, td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
    font-size: 0.9rem;
    color: #00438a;
  }

  th {
    background-color: #00438a;
    color: #ff8500;
  }