@media (min-width: 800px) {
    #sidebar-wrapper {
      margin-left: 0;
    }
  
  
    #page-content-wrapper {
      min-width: 0;
      width: 100%;
    }
  }

  body{
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
    padding: 10px;
    background:
        linear-gradient(128.43deg, rgba(0, 53, 102, 0.92) 43.98%, rgba(0, 53, 102, 0.899983) 49.22%, rgba(0, 53, 102, 0.867118) 54.74%, rgba(0, 53, 102, 0.845939) 57.59%, rgba(0, 53, 102, 0.7636) 63.96%, rgba(0, 53, 102, 0) 170.25%);
        /* url("/static/images/CTU-Logo.jpg"); */
        background-size: cover;
        background-attachment: fixed;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: -1;
  }

  .flex-wrap{
    height: 105%;
    width: 100%;
    margin: 0;
  }


   

    .p1 {
        color: white;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-size: 25px;
        text-align: center;
    }
  
  
    .head {
        color: white;
        font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
        font-size: 48px;
        margin-top: 5%;
    } 
  
  
    .ctu_logo {
        position: absolute;
        width: 45%;
        left: 0;
        margin-top: 5%;
        z-index: 100;
    }
  
  
    .welcome{
       
        background-color: #f59a23e7!important;
        color: #003566;
        text-align: center !important;
        margin: 0%;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-size: 24px;
        font-weight: 600;
        height: 70px;
        display: flex;
        align-content: center;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: space-around;
        visibility: visible;
        content-visibility: auto;
        height: 50px;
        margin-left: 5%;
        width: 100%;
    }

    .box-container {
        display: flex;
        align-items: center;
        height: 100%;
        flex-direction: column;
        margin-left: 45%;
        margin-top: 5%;
    }
    
    .box {     
    width: 400px;
    height: 65px;
    background-color: #f0f0f0;
    margin: 10px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    border: 2px solid #ffffff;
    border-radius: 10px;
    color: #ffffff;
    background-color: transparent;
    transition: box-shadow 0.3s ease-in-out;
    text-decoration: none;
}

    .box i {
        position: fixed;
        left: 46%;
        font-size: 22px;
        font-weight: 800;
        padding: 0.5%;
        margin: 10px 0;
        font-weight: bolder;
        color: #ffffff;
        border: 1px solid #ffff;
        border-radius: 50%;
        text-decoration: none;
    }

    .box:hover i{
        text-decoration: none;
    }
   

    .box:hover {
        background-color: #ffffff; 
        color: #003566; 
        box-shadow: 0 4px 8px #f59a2373; 
        text-decoration: none;
    }


    .box a{
        text-decoration: none;
    }


    .box a:hover {
        text-decoration: none;
    }
    
    .ppmp, .pr, .catalogue, .tracker, .history, .about, .logout{
        border: 1px solid #ffffff;
        border-radius: 10px;
        color: #ffffff;
        background-color: #00427eb0;
        margin: 10px 0;
    }