{% extends ""accounts/Admin/BAC_Secretariat/nav.html" %}


{% load static %}


{% block cart %}


<form action="{% url 'requester' %}" method="post">
    {% csrf_token %} 

    
    <div>
      <div class=" cart table-responsive" style="height: 68vh; overflow-y: auto; overflow-x: hidden; justify-content: center; margin-left: 40%; width: 100%; margin-top: 5%;" >
        <table class="cart_table" id="create_request_table" style="background-color: none; ">
          <thead style="background-color: rgba(0, 50, 102, 0.8);    font-size: 1.2rem; font-family: sans-serif; color: rgb(246, 239, 239); text-align: center; height: 3rem; border: 0.5px solid #060000">
            <tr>
                <th class="text-center text-nowrap" style="min-width: 15rem;">Item Name</th>
                <th class="text-center text-nowrap" style="min-width: 7rem;">Item Brand/Description</th>
                <th class="text-center text-nowrap" style="min-width: 7rem;">Unit</th>
                <th class="text-center text-nowrap" style="min-width: 7rem;">Unit Cost</th>
                <th class="text-center text-nowrap" style="min-width: 7rem;">Quantity</th>
                <th class="text-center text-nowrap" style="min-width: 7rem;">Total Cost</th>
                <th class="text-center text-nowrap" style="min-width: 7rem;"></th>
                <th class="text-center text-nowrap"></th>
                
            </tr>
        </thead>
        
            <tbody>
              {% for item in items %}
              <tr style=  "background-color: rgba(30, 150, 255, 0.3) !important;  border-bottom: 0.2px solid rgba(0, 0, 0, 0.2); ">
                  <td class="item_name text-center">  {{ item.item }} </td>
                  <td class="item_description text-center">{{ item.item_brand_description }}</td>
                  <td class="item_unit text-center">{{ item.unit }}</td>
                  <td class="item_unit_cost text-center">{{ item.unit_cost }}</td>
                  <td class="item_quantity text-center">{{ item.quantity }}</td>
                  <td class="item_total_cost text-center">{{item.total_cost}}</td> <td class="text-center">
                  <td class="text-center">
                    <button class="edit-button" data-item-id="{{ item.id }}"  onclick="editRow(this)" style="background-color: transparent; border: none;  size:50%; border-radius: 50%;;color: rgb(1, 154, 72);" >
                      <i class="fa fa-edit"></i>
                    </button>                
                    <button class="delete-button" data-item-id="{{ item.id }}"  style="background-color: transparent; border: none;  size:50%; border-radius: 50%;;color: rgb(157, 2, 2);" >
                      <i class="fa fa-trash"></i>
                    </button>
                    
                </td>
              </tr>
              {% endfor %}
          </tbody>
        </table>


    

        <div class="row-at-bottom d-flex justify-content-between">
          <div class="purpose" label="Purpose" onclick="openModal()" style="width: 11em;
                border: 2px solid #0a0168;">
           
           <div id="myModal" class="modal" >
              <div class="modal-content">
                <span class="close" onclick="closeModal()">&times;</span>
                <label for="inputText">Input Text:</label>
                <textarea id="inputText"></textarea>
                <button onclick="updateDisplayBox()">Submit</button>
              </div>
            </div>
          </div>
          <div class="total_amount">
            <span>Total Amount: {{total_cost}}</span>
          </div>
          <div class="submit">
            <input type="submit" value="Submit" name="my-submit-button" id="my-submit-button-id">
          </div>
        </div>
      
      </div>
      </div>
  
  </form>


  <script>
    // Function to open the modal
    function openModal() {
      document.getElementById('myModal').style.display = 'block';
    }
  
    // Function to close the modal
    function closeModal() {
      document.getElementById('myModal').style.display = 'none';
    }
  
    // Function to update the display box with the inputted text
    function updateDisplayBox() {
      var inputText = document.getElementById('inputText').value;
      document.getElementById('displayBox').innerText = inputText;
      closeModal();
    }
  
    // Function to dynamically resize the display box based on content
    function resizeDisplayBox() {
      var displayBox = document.getElementById('displayBox');
      displayBox.style.height = 'auto'; // Reset height to auto to calculate actual height
      displayBox.style.height = (displayBox.scrollHeight) + 'px'; // Set the height to the calculated value
    }
  </script>


  {% endblock %}