{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device=width,initial-scale=1.0">
    <script src="https://fonts.google.com/icons"></script>
    <link rel="stylesheet" href="{% static 'css/forgot.css' %}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://boxicons.com/?query=exit&fbclid=IwAR22yDHvLp_n1ychuVbHpb9TxF8U85lSVnq2vj-pAtauuOijtfBOEMopLLU">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    
    
    <title>Forgot Password</title>
</head>

<body>
    <div class="title">Online Supply System</div>
    
    <div class="wrapper">
        <div class="icon-container">
            <img class="login_icon" src="{% static 'images/forgot.png' %}" alt="">
        </div>
        
        <form action="" method="post">
            
            {% csrf_token %}
            
            <h1>Forgot Password</h1>
            <h2>We’ll email you instructions on how to reset your Password.</h2>


            <div class="input-box">
                <input type="emailaddress" placeholder="Email Address:" required>
            </div>


            <a href="{% url 'verify' %}" class="btn">Send Code</a>
            
        </form>
    </div>


</body>
</html>