{% extends "accounts/User/main.html" %}

{% load static %}

{% block header %}
    <main class="flex-shrink">
        <div id="page-content-wrapper">
            <!-- Navbar -->
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <div class="row w-100 m-auto">
                    <!-- CTU Logo -->
                    <div class="col-md-3 col-lg-3 d-none d-sm-none d-md-block d-lg-block">
                        <a href="{% url 'userlanding' %}">
                            <img class="ctu_logo mx-3" src="{% static 'images/ctu_loogo.png' %}" alt="CTU LOGO">
                        </a>
                    </div>
                    
                    <!-- Site Title -->
                    <div class="col-7 col-sm-9 col-md-6 col-lg-7 text-center d-grid align-content-center">
                        <h1 class="head">{{ SITE_TITLE }}</h1>
                    </div>
                </div>
            </nav>
        </div>

        <!-- Welcome Message -->
        <h1 class="welcome">
            Welcome to Cebu Technological University - {{ CAMPUS_NAME }} Campus Online Supply System
        </h1>

        
    </main>
{% endblock %}
