{% extends "accounts/User/main.html" %}

{% load static %}

{% block history %}

<div class="container-fluid" style=" height: 68vh; overflow-y: auto; overflow-x: hidden;">
  <div class="container">
    <h1 class="pr text-center pt-4">PURCHASE REQUEST HISTORY</h1>


    <div class="col-6 col-sm-6 col-md-5 col-lg-3">
      <input class="form-control" type="text" placeholder="Search" id="search_bar_request">
    </div>
    <div class="table-responsive" style="margin: 0 auto;">
        <table class="table" id="create_request_table" style="border: 1px solid black;">
          <thead>
            <tr>
              <th class="text-nowrap" style="min-width: 15rem;">Purchase Request ID</th>
              <th class="text-nowrap" style="min-width: 7rem;">Date Requested</th>
              <th class="text-nowrap" style="min-width: 7rem;">Item Name</th>
              <th class="text-nowrap" style="min-width: 7rem;">Quantity</th>
              <th class="text-nowrap" style="min-width: 7rem;">Status Description</th>
              <th class="text-nowrap" style="min-width: 7rem;">Total Cost</th>
              <th class="text-center text-nowrap"></th>
            </tr>
          </thead>
          <tbody>
            {% for item in items %}
            <tr class="item-row">
                <td style="text-align: center;">
                    <span class="item-no">{{ item.request_id }}</span>
                </td>
                <td>{{ item.submission_date }}</td>
                <td>{{ item.item }}</td>
                <td>{{ item.quantity }}</td>
                <td>Verify Papers submitted</td>
                <td class="item_total_cost text-center">{{ item.total_cost }}</td>
                {% if item.status %}
                <td><small class="badge badge-success">Completed</small></td>
                {% else %}
                <td><small class="badge badge-warning">Pending</small></td>
                {% endif %}
                <td class="text-end my-2 mt-0">
                    <html lang="en"></html> <!-- This line seems to be unnecessary -->
              
       

<button type="button" class="btn btn-link btn-sm show-details-btn"
        data-request-id="{{ item.request_id }}" data-form-type="purchase_approval">
    Show More Details
</button>


{% endfor %}
</tbody>

</table>
</div>
</div>
</div>

{% endblock %}