{% load static %}
<!DOCTYPE html>
<html lang="en" dir="ltr">

  <head>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=.0">
    <link rel="stylsheet" media="screen" href="https://fontlibrary.org//face/hermenes" type="text/css"/>
    <link rel="stylesheet" href="{% static 'css/landing.css' %}">
    <title>Landing Page</title>

  </head>
  <body>

    <div class="container">
      <div class="frame"></div>
      <div class="trapezoid"></div>
      <div class="parallelogram1"></div>
      <div class="triangle-up"></div>
      <div class="triangle-down"></div>
      <div class="parallelogram2"></div>
      <div class="triangle-down2"></div>
      <h1 class="cot">COLLEGE<br>OF<br>TECHNOLOGY</h1>
      <p class="ctu">Cebu Technological University<br>Argao Campus</p>
      <div class="login">
          <a href="{% url 'login' %}">
            <img class="arrow" src="{% static 'images/double_arrow.png' %}" >
          </a>
        </div>
       

    </div>
  </body>
</html>

