{% load static %}
<!DOCTYPE html>
<html lang="en" dir="ltr">

  <head>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylsheet" media="screen" href="https://fontlibrary.org//face/hermenes" type="text/css"/>
    <link rel="stylesheet" href="{% static 'css/landing.css' %}">
    <title>Landing Page</title>

    <script>
      document.addEventListener("DOMContentLoaded", function () {
        function redirectToLoginPage() {
          window.location.href = "{% url 'login' %}";
        }
    
        document.addEventListener("keydown", function (event) {
          if (event.key === "Enter" || event.key === " ") {
            redirectToLoginPage();
          }
        });
    
        document.addEventListener("click", redirectToLoginPage);
      });
    </script>
    


  </head>


  <body>
    <div class="container">
      <div class="frame"></div>
      <div class="trapezoid"></div>
      <div class="parallelogram1"></div>
      <div class="triangle-up"></div>
      <div class="triangle-down"></div>
      <div class="parallelogram2"></div>
      <div class="triangle-down2"></div>
      <h1 class="cot">CTU-AC <br> SUPPLY OFFICE <br> REQUEST MONITORING <br> SYSTEM</h1>
      <div class="login"></div>
       

    </div>
  </body>
</html>

