
{% load static %}
<!DOCTYPE html>
<html lang="en">  
  <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>Requesting Page</title>
      <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto|Varela+Round|Open+Sans">
      <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
      <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
      <link rel="stylesheet" href="{% static 'css/main.css' %}">
      <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.13.6/css/jquery.dataTables.min.css">
      <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js" integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+" crossorigin="anonymous"></script>
      <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
  </head>
  <body>
    <main class="flex-shrink">
      <div id="page-content-wrapper ">
        <nav class="navbar navbar-expand-lg navbar-light bg-light" style=" padding-bottom: 0;">
          <div class="row w-100 m-auto">
            <div class="col-md-3 col-lg-3 d-none d-sm-none d-md-block d-lg-block">
              <img class="ctu_logo mx-3" src="{% static 'images/ctu_loogo.png' %}" alt="CTU LOGO">
            </div>
            <div class="col-7 col-sm-9 col-md-6 col-lg-7  text-center d-grid align-content-center">
                <h1 class="head text-white">Online Supply Office</h1>
                <h1 class="p1">Cebu Technological University - Argao Campus</h1>
            </div>
            <div class="col-5 col-sm-3 col-md-3 col-lg-2 text-center d-grid align-content-center">
             
                <a href="{% url 'profile' %}">
                  <img class="profile_img" src="{% static 'images/profile_default_image.png' %}" alt="">
                </a>
                <h1 class="p1">Profile Name</h1>
            </div>
          </div>
        </nav>
      </div>
      <h1 class="welcome">Welcome to Cebu Technological University - Argao Campus Online Supply System </h1>
      
      <div class="d-flex" id="wrapper">
        <div class="sidebar" id="sidebar" style="z-index:1; opacity: 1; left: 0 !important; position: relative; height: auto;">
            <div class="d-flex flex-wrap align-content-between h-100">
                <div class="bg-white w-100" id="sidebar-wrapper">
                  <div class="list-group w-100">
                    <a class="list-group-item list-group-item-action list-group-item-light p-3 border-0" href="{% url 'notification' %}">Home</a>
                    <a class="list-group-item list-group-item-action list-group-item-light p-3 border-0" href="{% url 'requester' %}">Purchase Request</a>
                    <a class="list-group-item list-group-item-action list-group-item-light p-3 border-0" href="{% url 'tracker' %}">Request Tracker</a>
                    <a class="list-group-item list-group-item-action list-group-item-light p-3 border-0" href="{% url 'history' %}">History</a>
                    <a class="list-group-item list-group-item-action list-group-item-light p-3 border-0" href="{% url 'about' %}">About Us</a>
                  </div>
                </div>
            
                <a class="list-group-item list-group-item-action list-group-item-light p-3 border-0" href="{% url 'login' %}">
                  <img class="arrow_img" src="{% static 'images/arrow_right.png' %}" alt=""> Logout
                </a>
            </div>
        </div>
        <button id="sidebarToggle" class="btn btn-secondary border m-2"  style="position:relative; height: 2rem !important; width: 2rem; display: flex; justify-content: center;">
          <i class="fa fa-bars" aria-hidden="true"></i>
        </button>
        <div class="container-fluid" style=" height: 68vh; overflow-y: auto; overflow-x: hidden; ">
          <div class="container">
            <h1 class="pr text-center pt-4">SELECT ITEMS</h1>  
          </div>
          <form action="{% url 'requester' %}" method="post">
            {% csrf_token %}
            <div class="row w-100 m-auto"> 
              <div class="col-12 col-sm-12 col-md-6 col-lg-4 ps-0">
                <div class="form-group mb-3">
                  <label for="departmentDropdown">Choose Department:</label>
                  <select class="form-control" id="departmentDropdown" name="departmentDropdown">
                      <option value="option1">College of Arts and Sciences</option>
                      <option value="option2">College of Agriculture</option>
                      <option value="option3">College of Forestry</option>
                      <option value="option4">College of Hospitality Management and Tourism</option>
                      <option value="option5">College of Technology and Engineering</option>
                      <option value="option6">College of Education</option>
                      <option value="option7">Graduate School</option>
                      <option value="option8">  Others please specify:</option>
                  </select>
                </div>
              </div>
              <div class="col-12 col-sm-12 col-md-6 col-lg-4 ps-0">
                <div class="form-group mb-3">
                  <label for="departmentDropdown">Choose Category:</label>
                  <select class="form-control" id="departmentDropdown" name="departmentDropdown">
                    <option value="option1">Pesticides or Pest Repellents</option>
                    <option value="option2">Perfumes/Colognes/Fragrance</option>
                    <option value="option3">Alcohol or Acetone based Antiseptics</option>
                    <option value="option4">Color Compounds and Dispersions</option>
                    <option value="option5">Paper Materials and Products</option>
                    <option value="option6">Batteries, Cells and Accesories</option>
                    <option value="option7">Manufacturing Components and Supplies</option>
                    <option value="option9">Heating, Ventilation and Air Condition</option>
                    <option value="option10">Measuring, Observing and Testing Equipments</option>
                    <option value="option11">Cleaning Equipment and Supplies</option>
                    <option value="option12">Personal Protective Equipment</option>
                    <option value="option13">Information and Communication Technology (ICT) Eqipment, Devices and Accesories</option>
                    <option value="option14">Office Eqipment, Accesories And Supplies</option>
                    <option value="option15">Furniture and Furnishing</option>
                    <option value="option16">Arts and Crafts, Eqipment, Accesories and Supplies</option>
                  </select>
                </div>
              </div>
            </div> 
            
            <div class="col-12 col-sm-12 col-md-6 col-lg-4 ps-0">
              <div class="form-group mb-3">
                <label for="exampleFormcontrolTextarea1 p-2">Purpose</label>
                <textarea class="form-control" id="exampleFormcontrolTextarea1" name="item_purpose" rows="3"></textarea>
              </div>
            </div>
            <div class="row w-100 m-auto mb-3" style="display: flex; flex-direction: row; flex-wrap: nowrap; align-content: flex-end; justify-content: flex-end; align-items: flex-end;">
              <div class="col-6 col-sm-6 col-md-5 col-lg-3">
                <input class="form-control" type="text" placeholder="Search"  id="search_bar_request">
              </div>
            </div>
            <div class="table-responsive">

              <table class="table" id="item_selection_table" style="border: 1px solid black;">
                <thead>
                    <tr>
                        <th class="text-nowrap">Select</th>
                        <th class="text-nowrap" style="min-width: 15rem;">Item Name</th>
                        <th class="text-nowrap" style="min-width: 7rem;">Item Brand/Description</th>
                        <th class="text-nowrap" style="min-width: 7rem;">Unit Cost</th>
                        <th class="text-center text-nowrap"></th>
                    </tr>
                </thead>
                <tbody>
                  <tr class="item-row">
                    <td style="text-align: center;">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                        </div>
                    </td>
                    <td>System Unit</td>
                    <td>3310 - A "system unit" is the main body or housing of a desktop computer where all the key internal components are housed.</td>
                    <td>20,000</td>
                  </tr>
                  <tr class="item-row">
                    <td style="text-align: center;">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                        </div>
                    </td>
                    <td>Camera</td>
                    <td>Logitech - Common features include HD or even 4K resolution, autofocus, built-in microphones, and software enhancements for video quality.</td>
                    <td>2,000</td>
                  </tr>
                </tbody>
                <tfoot>
                  <tr class=" item-row border">
                    <td>
                        <div class="d-flex justify-content-center">
                            <a type="button" class="btn btn-primary" href="{% url 'requester' %}">Add</a>
                        </div>
                    </td>
                  </tr>
                </tfoot>
            </table>
            </div>

          </form>
        </div>          
        <!-- Confirmation pop-up -->
        <div id="confirmationPopup" class="popup">
          <span class="popup-close" onclick="hideConfirmationPopup()">X</span>
          <h2>Purchase Request Confirmation</h2>
          <!-- Add your confirmation content here -->
          <p>Your purchase request has been submitted and is being processed.</p>
        </div>
      </div>
          
        
    </main>
    <footer>
      <div class="footer" style="height: 60px;">

      </div>
    </footer>
  </body>

  <!-- Datatables -->
  <script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
  <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.min.js"></script>
  <!-- <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@1.16.0/dist/umd/popper.min.js"></script> -->
  <!-- <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script> -->
  <!-- <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script> -->

  <script>
    $(document).ready(function() {
      var table = $('#item_selection_table').DataTable( {
        stateSave: false,
        "ordering": true,
        "bLengthChange": false,
        order: [],
  
      } );
      $('#search_bar_request').keyup(function(){
        table.search($(this).val()).draw() ;
      })
    });
  </script>

  <script>
  const textareas = document.querySelectorAll('.form-control');

    // Add an event listener to each textarea
    textareas.forEach(textarea => {
        textarea.addEventListener('input', () => {
            // Calculate the new height of the textarea based on its content
            textarea.style.height = 'auto';
            textarea.style.height = (textarea.scrollHeight) + 'px';
        });
    });
  </script>

  <script>
    document.addEventListener('DOMContentLoaded', function () {
    const sidebar = document.getElementById('sidebar'); // Get sidebar element
    const sidebarToggle = document.getElementById('sidebarToggle');

    // Function to toggle the sidebar
    function toggleSidebar() {
        sidebar.classList.toggle('sidebar-hidden'); // Toggle the 'sidebar-hidden' class
    }

    // Event listener for the sidebar toggle button (You need to create a button with an ID of 'sidebarToggle' in your HTML)
    sidebarToggle.addEventListener('click', function() {
      // Toggle the sidebar visibility
      sidebar.style.opacity = (sidebar.style.opacity === '1' || sidebar.style.opacity === '') ? '0' : '1';
      sidebar.style.left = (sidebar.style.left === '0px' || sidebar.style.left === '') ? '-400px' : '0px';
      sidebar.style.position = (sidebar.style.position === 'absolute' || sidebar.style.position === '') ? 'relative' : 'absolute';
      sidebar.style.height = (sidebar.style.height === 'auto' || sidebar.style.height === '') ? '100%' : 'auto';
      sidebarToggle.style.position = (sidebarToggle.style.position === 'relative' || sidebarToggle.style.position === '') ? 'absolute' : 'relative';
  });
    
});

  </script>

  <script>
  document.addEventListener('DOMContentLoaded', function () {
  const item_selection_table = document.getElementById('item_selection_table');
  const addButton = document.querySelector('.add-new');
  let itemNumber = 2; // Initialize item number

  addButton.addEventListener('click', function () {
      const newRow = item_selection_table.querySelector('.item-row').cloneNode(true);
      const itemNumberSpan = newRow.querySelector('.item-no');
      itemNumberSpan.textContent = itemNumber;
      itemNumber++;

      item_selection_table.querySelector('tbody').appendChild(newRow);
      newRow.style.display = 'table-row'; // Show the new row
  });

  // Calculate the total amount
  const calculateTotal = function () {
      let totalAmount = 0;
      const quantityInputs = document.querySelectorAll('.quantity');
      const priceInputs = document.querySelectorAll('.unit_cost');

      for (let i = 0; i < quantityInputs.length; i++) {
          const quantity = parseFloat(quantityInputs[i].value) || 0;
          const price = parseFloat(priceInputs[i].value) || 0;
          totalAmount += quantity * price;
      }

      const totalAmountSpan = document.getElementById('totalAmountSpan');
      totalAmountSpan.textContent = totalAmount.toFixed(2);
  };

  // Attach input event listeners to quantity and price inputs
  const quantityInputs = document.querySelectorAll('.quantity');
  const priceInputs = document.querySelectorAll('.unit_cost');

  quantityInputs.forEach(input => {
      input.addEventListener('input', calculateTotal);
  });

  priceInputs.forEach(input => {
      input.addEventListener('input', calculateTotal);
  });

  // Trigger the initial calculation
  calculateTotal();

  // Update department name in the hidden input field
  const departmentDropdown = document.getElementById('departmentDropdown');
  departmentDropdown.addEventListener("change", function () {
      const selectedOption = departmentDropdown.options[departmentDropdown.selectedIndex];
      const selectedOptionText = selectedOption.textContent;
      const selectedDepartmentNameInput = document.getElementById('selectedDepartmentName');
      selectedDepartmentNameInput.value = selectedOptionText;
  });

  // Show/hide confirmation popup functions (if needed)
  function showConfirmationPopup() {
      document.getElementById('confirmationPopup').style.display = 'block';
  }

  function hideConfirmationPopup() {
      document.getElementById('confirmationPopup').style.display = 'none';
  }
});

  </script>
    
  <script>
    function calculateRowTotal(input) {
      const row = input.parentNode.parentNode;
      const unit_cost = parseFloat(row.querySelector('.unit-cost').value) || 0;
      const quantity = parseInt(row.querySelector('.quantity').value) || 0;
  
      const totalAmount = unit_cost * quantity;
      row.querySelector('.total').textContent = totalAmount.toFixed(2);
  
      calculateTotalAmount();
    }
  
    function calculateTotalAmount() {
      const totalElements = document.querySelectorAll('.total');
      let totalAmount = 0;
  
      totalElements.forEach(element => {
        totalAmount += parseFloat(element.textContent);
      });
  
      document.getElementById('totalAmount').textContent = totalAmount.toFixed(2);
    }
  </script>

  <script>
    function showConfirmationPopup() {
      document.getElementById('confirmationPopup').style.display = 'block';
    }

    function hideConfirmationPopup() {
      document.getElementById('confirmationPopup').style.display = 'none';
    }
  </script>
  
</html>
