<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Radio Buttons</title>
</head>
<body>
    <div class="input-box">
        <label class="radio-label" for="adminRadioBox">
            <input type="radio" name="user_type" id="adminRadioBox" value="admin">
            <div class="radio-box">Admin</div>
        </label>

        <label class="radio-label" for="bacRadioBox">
            <input type="radio" name="user_type" id="bacRadioBox" value="bac">
            <div class="radio-box">BAC Secretariat</div>
        </label>

        <label class="radio-label" for="cdRadioBox">
            <input type="radio" name="user_type" id="cdRadioBox" value="cd">
            <div class="radio-box">Campus Director</div>
        </label>

        <label class="radio-label" for="budgetRadioBox">
            <input type="radio" name="user_type" id="budgetRadioBox" value="budget">
            <div class="radio-box">Budget Officer</div>
        </label>

        <label class="radio-label" for="regularRadioBox">
            <input type="radio" name="user_type" id="regularRadioBox" value="regular">
            <div class="radio-box">Regular User</div>
        </label>
    </div>
</body>
</html>
