{% extends "accounts/User/main.html" %}

{% load static %}

{% block content %}

        <div class="container-fluid" style=" height: 68vh; overflow-y: auto; overflow-x: hidden;">
          <div class="container">
            <h1 class="pr text-center pt-4"><img src="{% static 'images/bell.png' %}" alt="Bell">NOTIFICATIONS</h1>  
          </div>
          <div class="row w-100 m-auto border text-start text-dark" style="border: 1px solid black !important; border-bottom: none !important; margin-top: 2rem !important; ">
            <div class="col-12">
              <p>
                Purchase Request No. 000002 has been approved by the Campus Director.
              </p>
              <p>1 hr ago</p>
            </div>
          </div>  
          <div class="row w-100 m-auto border text-start text-dark" style="border: 1px solid black !important; border-bottom: none !important;">
            <div class="col-12">
              <p>
                Purchase Request No. 000002 has been approved by the Budgeting Officer.
              </p>
              <p>09/02/2023</p>
            </div>
          </div> 
          <div class="row w-100 m-auto border text-start text-dark" style="border: 1px solid black !important; border-bottom: none !important;">
            <div class="col-12">
              <p>
                Purchase Request No. 000001 has been declined by the Budgeting Officer.
              </p>
              <p>09/01/2023</p>
            </div>
          </div>
          <div class="row w-100 m-auto border text-start text-dark" style="border: 1px solid black !important; border-bottom: none !important;">
            <div class="col-12">
              <p>
                You have sent your request. Purchase Request No. 000002. You can track your request on the request tracker page!
              </p>
              <p>09/01/2023</p>
            </div>
          </div>  
          <div class="row w-100 m-auto border text-start text-dark" style="border: 1px solid black !important;">
            <div class="col-12">
              <p>
                You have sent your request. Purchase Request No. 000002. You can track your request on the request tracker page!
              </p>
              <p>08/30/2023</p>
            </div>
          </div>  
        </div>  
     
{% endblock %} 