{% extends "accounts/User/main.html" %}

{% load static %}

{% block dashboard %}

{% block extra_css %}

<link rel="stylesheet" href="{% static 'css/dashboard.css' %}">

{% endblock extra_css %}
<style>
       .navbar.bg-light {
        background-color: #003566 !important;
}

</style>

<body style="justify-content: flex-start;">

<body>
    <div id="page-content-wrapper ">
        <nav class=" bg-light"></nav>
    </div>
    
    <div class="right-container" style="margin-top: -0vh;">

        <div class="ppmp-section">
            <div class="ppmp">
                <a href="{% url 'ppmp' %}" style="display: block; text-decoration: none;">
                    <button style="background-color: #003566; border: none; padding: 10px; width: 100%; text-align: center;">
                        <span style="color: #FFA500; font-weight: bold;">CREATE PPMP</span>
                    </button>
                </a>
            </div>
        </div>

        <div class="budget-section">
            <div class="budget">
               PHP {{ user_budget }}
                <div class="Annual">ANNUAL BUDGET</div>
            </div>
        </div>

        {% if checkouts %}
        <div class="title-section">
            {% with checkouts|dictsortreversed:"year" as sorted_checkouts %}
                <div class="year">
                    <a href="{% url 'ppmpform' year=sorted_checkouts.0.year pr_id=sorted_checkouts.0.pr_id %}" 
                       style="color: #FFA500; text-decoration: none;">
                        <span>{{ sorted_checkouts.0.year }} PPMP</span>
                    </a>
                </div>
            {% endwith %}
        </div>
    {% else %}
        <div class="title-section">
            <div class="year">
                <span>NO APPROVED PPMP</span>
            </div>
        </div>
    {% endif %}

    <div class="trackers-section">
        <div class="tracker">
            <h3>PPMP TRACKER</h3>

            <ul>
                <h2>PPMP ID: {{ data.pr_id }}</h2>
                <li><span class="green"></span> PPMP Request Sent - {{ data.submission_date }}</li>
                <li><span class="green"></span> Approved by BO - {{ data.bo_approved_date|date:"F d Y" }}</li>
                <li><span class="orange"></span> Waiting for CD Response - {{ data.cd_approved_date|date:"F d Y" }}</li>
            </ul>
        </div>

        <div class="tracker">
            <h3>PR TRACKER</h3>
            <ul>
                <h2>PPMP ID: {{ i.pr_id }}</h2>
                <li><span class="green"></span> PPMP Request Sent - {{ i.submission_date }}</li>
                <li><span class="green"></span> Approved by BO - {{ i.bo_approved_date|date:"F d Y" }}</li>
                <li><span class="orange"></span> Waiting for CD Response - {{ i.cd_approved_date|date:"F d Y" }}</li>
            </ul>
        </div>
    </div>
</div>
<div class="left-container" style="overflow-y: auto; max-height: 751px; width: 60%; margin-top: 15px; padding: 10px;">
    <div class="catalogue-section">
        <h3>CATALOGUE</h3>
        <table>
            <thead>
            </thead>
                <tr>
                    <th colspan="4" class="category-heading">ANTISEPTICS</th>
                </tr>
            <tbody>
                <tr>
                    <td>Alcohol</td>
                    <td>ethyl alcohol</td>
                    <td>bottle</td>
                    <td>Php 50.00</td>
                </tr>
                <tr>
                    <td>POVIDONE IODINE</td>
                    <td>10% solution, 120 ml</td>
                    <td>gallon</td>
                    <td>Php 300.00</td>
                </tr>
                <tr>
                    <th colspan="4" class="category-heading">APPLIANCES</th>
                </tr>
                <tr>
                    <td>INDUSTRIAL ELECTRIC FAN</td>
                    <td>ground type, metal blade</td>
                    <td>unit</td>
                    <td>Php 1300.00</td>
                </tr>
                <tr>
                    <td>ORBIT TYPE ELECTRIC FAN	</td>
                    <td>ceiling, metal blade</td>
                    <td>unit</td>
                    <td>Php 1500.00</td>
                </tr>
                <tr>
                    <td>STAND TYPE ELECTRIC FAN</td>
                    <td>plastic blade</td>
                    <td>unit</td>
                    <td>Php 1000.00</td>
                </tr>
                <tr>
                    <td>WALL TYPE ELECTRICAL FAN</td>
                    <td>plastic blade</td>
                    <td>unit</td>
                    <td>Php 800.00</td>
                </tr>
                <tr>
                    <th colspan="4" class="category-heading">CLEANING EQUIPMENT AND SUPPLIES</th>
                </tr>
                <tr>
                    <td>AIR FRESHENER</td>
                    <td>aerosol, 280ml/150g min</td>
                    <td>can</td>
                    <td>Php 125.00</td>
                </tr>
                <tr>
                    <td>BROOM</td>
                    <td>soft (tambo)</td>
                    <td>piece</td>
                    <td>Php 200.00</td>
                </tr>
                <tr>
                    <td>BROOM</td>
                    <td>stick(ting-ting), usable length: 760mm min</td>
                    <td>piece</td>
                    <td>Php 50.00</td>
                </tr>
                <tr>
                    <td>DUST PAN</td>
                    <td>non-rigid plastic, w/ detachable handle</td>
                    <td>piece</td>
                    <td>Php 100.00</td>
                </tr>
                <tr>
                    <td>RAGS</td>
                    <td>all cotton, 32 pieces per kilogram min</td>
                    <td>bundle</td>
                    <td>Php 80.00</td>
                </tr>
                <tr>
                    <th colspan="4" class="category-heading">ELECTRICAL AND HARDWARE SUPPLIES</th>
                </tr>
                <tr>
                    <td>BATTERY</td>
                    <td>dry cell, AA, 2 pieces per blister pack</td>
                    <td>pack</td>
                    <td>Php 100.00</td>
                </tr>
                <tr>
                    <td>BATTERY</td>
                    <td>dry cell, AAA, 2pieces per blister pack</td>
                    <td>pack</td>
                    <td>Php	150.00</td>
                </tr>
                <tr>
                    <td>BATTERY</td>
                    <td>dry cell, D, 1.5 volts, alkaline</td>
                    <td>pack</td>
                    <td>Php	200.00</td>
                </tr>
                <tr>
                    <td>EXTENSION WIRE</td>
                    <td>3 gang, 10m wire, heavy duty</td>
                    <td>set</td>
                    <td>Php	600.00</td>
                </tr>
                <tr>
                    <td>EXTENSION WIRE</td>
                    <td>4 GANG, 10m wire, heavy duty</td>
                    <td>set</td>
                    <td>Php	700.00</td>
                </tr>
                <tr>
                    <th colspan="4" class="category-heading">FURNITURE AND FURNISHINGS</th>
                </tr>
                <tr>
                    <td>CHAIR</td>
                    <td>monobloc, beige,with backrest, w/o armrest</td>
                    <td>piece</td>
                    <td>Php 1000.00</td>
                </tr>
                <tr>
                    <td>CHAIR</td>
                    <td>monobloc, white, with backrest, w/o aarmrest</td>
                    <td>piece</td>
                    <td>Php 400.00</td>
                </tr>
                <tr>
                    <td>TABLE</td>
                    <td>monobloc, white, 889 X 889mm (356"x35")min</td>
                    <td>unit</td>
                    <td>Php 400.00</td>
                </tr>
                <tr>
                    <td>TABLE</td>
                    <td>monobloc, beige, 889 X 899mm (335" X 35")</td>
                    <td>unit</td>
                    <td>Php 1800.00</td>
                </tr>
                <tr>
                    <th colspan="4" class="category-heading">INFORMATION AND COMMUNICATION TECHNOLOGY (ICT) EQUIPMENT AND DEVICES AND ACCESSORIES</th>
                </tr>
                <tr>
                    <td>ASUS Zenbook 14</td>
                    <td></td>
                    <td>unit</td>
                    <td>Php 50000.00</td>
                </tr>
                <tr>
                    <td>EXTERNAL HARD DRIVE,</td>
                    <td>1TB, 2.5"HDD, USB 3.0</td>
                    <td>piece</td>
                    <td>Php 3000.00</td>
                </tr>
                <tr>
                    <td>FLASH DRIVE</td>
                    <td>16 GB capacity</td>
                    <td>piece</td>
                    <td>Php 250.00</td>
                </tr>
                <tr>
                    <td>MULTIMEDIA PROJECTOR</td>
                    <td>3500 MIN ANSI Lumens</td>
                    <td>unit</td>
                    <td>Php 25000.00</td>
                </tr>
                <tr>
                    <td>WIRELESS MOUSE</td>
                    <td>USB</td>
                    <td>unit</td>
                    <td>Php 500.00</td>
                </tr>
                <tr>
                    <td>PRINTER</td>
                    <td>CANON PIXMA G2420(Print, Scan, Copy)</td>
                    <td>unit</td>
                    <td>Php 10000.00</td>
                </tr>
                <tr>
                    <th colspan="4" class="category-heading">OFFICE EQUIPMENT AND ACCESSORIES AND SUPPLIES</th>
                </tr>
                <tr>
                    <td>BACKFOLD CLIP</td>
                    <td>all metal, clamping: 25mm (-1mm)</td>
                    <td>box</td>
                    <td>Php 20.00</td>
                </tr>
                <tr>
                    <td>BACKFOLD CLIP</td>
                    <td>all metal, clamping: 25mm (-1mm)</td>
                    <td>box</td>
                    <td>Php 35.00</td>
                </tr>
                <tr>
                    <td>BACKFOLD CLIP</td>
                    <td>all metal, clamping: 32mm (-1mm)</td>
                    <td>box</td>
                    <td>Php 45.00</td>
                </tr>
                <tr>
                    <td>BACKFOLD CLIP</td>
                    <td>all metal, clamping: 50mm (-1mm)</td>
                    <td>box</td>
                    <td>Php 80.00</td>
                </tr>
                <tr>
                    <td>BROWN ENVELOPE</td>
                    <td>for legal size document</td>
                    <td>piece</td>
                    <td>Php 15.00</td>
                </tr>
                <tr>
                    <td>BROWN ENVELOPE</td>
                    <td>for short size document</td>
                    <td>piece</td>
                    <td>Php 10.00</td>
                </tr>
                <tr>
                    <td>CHALK</td>
                    <td>molded, white, dustless, length: 78mm min</td>
                    <td>box	</td>
                    <td>Php 100.00</td>
                </tr>
                <tr>
                    <td>CLEARBOOK</td>
                    <td>20 transparent pockets, for A4 size</td>
                    <td>piece</td>
                    <td>Php 100.00</td>
                </tr>
                <tr>
                    <td>CORRECTION PEN</td>
                    <td>7 ml</td>
                    <td>piece</td>
                    <td>Php 150.00</td>
                </tr>
                <tr>
                    <td>CORRECTION TAPE</td>
                    <td>film base type, UL 6m min</td>
                    <td>piece</td>
                    <td>Php 40.00</td>
                </tr>
                <tr>
                    <td>DATA FILE BOX</td>
                    <td>made with clip board, with close ends, short, double</td>
                    <td>piece</td>
                    <td>Php 150.00</td>
                </tr>
                <tr>
                    <td>DATA FILE BOX</td>
                    <td>made with clip board, with close ends, legal, double</td>
                    <td>piece</td>
                    <td>Php 200.00</td>
                </tr>
                <tr>
                    <td>EXPANDING ENVELOPE</td>
                    <td>for legal size documents</td>
                    <td>piece</td>
                    <td>Php 25.00</td>
                </tr>
                <tr>
                    <td>FASTENER</td>
                    <td>for paper, vinyl coated, 50 sets per box</td>
                    <td>box</td>
                    <td>Php 60.00</td>
                </tr>
                <tr>
                    <td>FILE ORGANIZER</td>
                    <td>expanding, plastic, 12 pockets</td>
                    <td>piece</td>
                    <td>Php 125.00</td>
                </tr>
                <tr>
                    <td>FILE TAB DIVIDER</td>
                    <td>bristol board, for A4</td>
                    <td>set</td>
                    <td>Php 25.00</td>
                </tr>
                <tr>
                    <td>FILE TAB DIVIDER</td>
                    <td>bristol board, for legal</td>
                    <td>set</td>
                    <td>Php 50.00</td>
                </tr>
                <tr>
                    <td>FOLDER EXPANDING</td>
                    <td>for legal size document, green</td>
                    <td>piece</td>
                    <td>Php 50.00</td>
                </tr>
                <tr>
                    <td>FOLDER FANCY</td>
                    <td>for A4 size documents</td>
                    <td>bundle</td>
                    <td>Php 300.00</td>
                </tr>
                <tr>
                    <td>FOLDER</td>
                    <td>14pt, white, 8.5" x 11"</td>
                    <td>piece</td>
                    <td>Php 10.00</td>
                </tr>
                <tr>
                    <td>FOLDER</td>
                    <td>14pt, white, 8.5" x 13"</td>
                    <td>piece</td>
                    <td>Php 15.00</td>
                </tr>
                <tr>
                    <td>GLUE</td>
                    <td>all purpose, 130g</td>
                    <td>jar</td>
                    <td>Php 60.00</td>
                </tr>
                <tr>
                    <td>GLUE</td>
                    <td>all purpose, gross weight: 200 grams min</td>
                    <td>jar</td>
                    <td>Php 80.00</td>
                </tr>
                <tr>
                    <td>MARKER</td>
                    <td>Flourescent, green</td>
                    <td>piece</td>
                    <td>Php 50.00</td>
                </tr>
                <tr>
                    <td>MARKER</td>
                    <td>Flourescent, neon green</td>
                    <td>piece</td>
                    <td>Php 50.00</td>
                </tr>
                <tr>
                    <td>MARKER</td>
                    <td>Flourescent, neon orange</td>
                    <td>piece</td>
                    <td>Php 50.00</td>
                </tr>
                <tr>
                    <td>MARKER</td>
                    <td>Flourescent, neon yellow</td>
                    <td>piece</td>
                    <td>Php 50.00</td>
                </tr>
                <tr>
                    <td>MARKER</td>
                    <td>Flourescent, orange</td>
                    <td>piece</td>
                    <td>Php 50.00</td>
                </tr>
                <tr>
                    <td>MARKER</td>
                    <td>Flourescent, pink</td>
                    <td>piece</td>
                    <td>Php 50.00</td>
                </tr>
                <tr>
                    <td>MARKER</td>
                    <td>Flourescent, yellow</td>
                    <td>piece</td>
                    <td>Php 50.00</td>
                </tr>
                <tr>
                    <td>MARKER</td>
                    <td>whiteboard, red, felttip, bullet type</td>
                    <td>piece</td>
                    <td>Php 80.00</td>
                </tr>
                <tr>
                    <td>MARKER</td>
                    <td>PERMANENT, bullet type, blue</td>
                    <td>piece</td>
                    <td>Php 75.00</td>
                </tr>
                <tr>
                    <td>NOTE PAD</td>
                    <td>stick on, 2" x 3", assorted colors per pad</td>
                    <td>pad</td>
                    <td>Php 50.00</td>
                </tr>
                <tr>
                    <td>NOTE PAD</td>
                    <td>stick on, 50mm x 76mm(2" x 3")min</td>
                    <td>pad</td>
                    <td>Php 40.00</td>
                </tr>
                <tr>
                    <td>NOTE PAD</td>
                    <td>stick on, 76mm x 100mm(3" x 4") min</td>
                    <td>pad</td>
                    <td>Php 65.00</td>
                </tr>
                <tr>
                    <td>NOTE PAD</td>
                    <td>stick on, 76mm x 76mm(3" x 3")min</td>
                    <td>pad</td>
                    <td>Php 50.00</td>
                </tr>
                <tr>
                    <td>PAPER</td>
                    <td>Multi-Purpose (COPY) A4, 70 gsm</td>
                    <td>reams</td>
                    <td>Php 230.00</td>
                </tr>
                <tr>
                    <td>PAPER</td>
                    <td>Multi-Purpose (COPY) Legal, 70 gsm</td>
                    <td>reams</td>
                    <td>Php 250.00</td>
                </tr>
                <tr>
                    <td>PEN</td>
                    <td>ballpoint, metal tip 0.3mm, black</td>
                    <td>piece</td>
                    <td>Php 95.00</td>
                </tr>
                <tr>
                    <td>PEN</td>
                    <td>ballpoint, metal tip 0.3mm, black</td>
                    <td>piece</td>
                    <td>Php 75.00</td>
                </tr>
                <tr>
                    <td>PEN</td>
                    <td>ballpoint, metal tip 0.3mm, red</td>
                    <td>piece</td>
                    <td>Php 75.00</td>
                </tr>
                <tr>
                    <td>PEN</td>
                    <td>Rollerball, 1.0mm</td>
                    <td>piece</td>
                    <td>Php 75.00</td>
                </tr>
                <tr>
                    <td>PEN</td>
                    <td>REFILL, ballpoint, metal tip 0.3mm, black</td>
                    <td>piece</td>
                    <td>Php 250.00</td>
                </tr>
                <tr>
                    <td>PEN</td>
                    <td>ballpoint, metal tip 0.3mm, blue</td>
                    <td>piece</td>
                    <td>Php 35.00</td>
                </tr>
                <tr>
                    <td>PEN</td>
                    <td>ballpoint, metal tip 0.3mm, red</td>
                    <td>piece</td>
                    <td>Php 35.00</td>
                </tr>
                <tr>
                    <td>PHOTOPAPER</td>
                    <td>semi glossy</td>
                    <td>pack</td>
                    <td>Php 300.00</td>
                </tr>
                <tr>
                    <td>PLASTIC COVER</td>
                    <td>G-8 thickness, hard</td>
                    <td>meter</td>
                    <td>Php 25.00</td>
                </tr>
                <tr>
                    <td>PUSH PIN</td>
                    <td>assorted color, 50 pieces per case</td>
                    <td>case</td>
                    <td>Php 50.00</td>
                </tr>
                <tr>
                    <td>RECORD BOOK</td>
                    <td>300 PAGES, size: 214mm x 278mm mmin</td>
                    <td>book</td>
                    <td>Php 100.00</td>
                </tr>
                <tr>
                    <td>RECORD BOOK</td>
                    <td>500 PAGES, size: 214mm x 278mm min</td>
                    <td>book</td>
                    <td>Php 150.00</td>
                </tr>
                <tr>
                    <td>RULER</td>
                    <td>plastic, 450mm (18"), width: 38mm min</td>
                    <td>piece</td>
                    <td>Php 200.00</td>
                </tr>
                <tr>
                    <td>SCISSORS</td>
                    <td>6", stainless steel</td>
                    <td>pair</td>
                    <td>Php 200.00</td>
                </tr>
                <tr>
                    <td>STAMP PAD</td>
                    <td>FELT, bed dimension:60mm x 100mm min</td>
                    <td>piece</td>
                    <td>Php 75.00</td>
                </tr>
                <tr>
                    <td>STAMP PAD INK</td>
                    <td>purplpe or violet, 50ml(min)</td>
                    <td>piece</td>
                    <td>Php 50.00</td>
                </tr>
                <tr>
                    <td>STAPLER, STANDARD TYPE</td>
                    <td>load cap: 200 staples min</td>
                    <td>piece</td>
                    <td>Php 50.00</td>
                </tr>
                <tr>
                    <td>STAPLE WIRE</td>
                    <td>for heavy duty staplers, (23/13)</td>
                    <td>box</td>
                    <td>Php 25.00</td>
                </tr>
                <tr>
                    <td>STAPLE WIRE, STANDARD</td>
                    <td>(26/6)</td>
                    <td>box</td>
                    <td>Php 50.00</td>
                </tr>
                <tr>
                    <td>TAPE</td>
                    <td>Double-sided adhesive, 24mm x 5m, with foam</td>
                    <td>roll</td>
                    <td>Php 200.00</td>
                </tr>
                <tr>
                    <td>TAPE</td>
                    <td>Double-sided adhesive, 24mm x 5m, without foam</td>
                    <td>roll</td>
                    <td>Php 100.00</td>
                </tr>
                <tr>
                    <td>TAPE, ELECTRICAL</td>
                    <td>18MM X 16M min</td>
                    <td>roll</td>
                    <td>Php 30.00</td>
                </tr>
                <tr>
                    <td>TAPETAPE,MASKING</td>
                    <td>width: 24mm (+1mm)</td>
                    <td>roll</td>
                    <td>Php 60.00</td>
                </tr>
                <tr>
                    <td>TAPETAPE,MASKING</td>
                    <td>width: 48mm (+1mm)</td>
                    <td>roll</td>
                    <td>Php 120.00</td>
                </tr>
                <tr>
                    <td>TAPE, PACKAGING</td>
                    <td>width: 48mm(+1mm)</td>
                    <td>roll</td>
                    <td>Php 30.00</td>
                </tr>
                <tr>
                    <td>TAPE, TRANSPARENT</td>
                    <td>width: 24mm (+1mm)</td>
                    <td>roll</td>
                    <td>Php 50.00</td>
                </tr>
                <tr>
                    <td>TAPE, TRANSPARENT</td>
                    <td>width: 48m (+1mm)</td>
                    <td>roll</td>
                    <td>Php 60.00</td>
                </tr>
                <tr>
                    <td>TWINE</td>
                    <td>plastic, one (1)kilo per roll</td>
                    <td>roll</td>
                    <td>Php 100.00</td>
                </tr>
                <tr>
                    <th colspan="4" class="category-heading">PERSONAL PROTECTIVE EQUIPMENT</th>
                </tr>
                <tr>
                    <td>SURGICAL MASK</td>
                    <td>3-ply</td>
                    <td>piece</td>
                    <td>Php 20.00</td>
                </tr>
                <tr>
                    <td>KN95 FACE MASK</td>
                    <td></td>
                    <td>piece</td>
                    <td>Php 150.00</td>
                </tr>
                <tr>
                    <td>HAND SANITIZER</td>
                    <td>500 ml</td>
                    <td>bottle</td>
                    <td>Php 250.00</td>
                </tr>
                <tr>
                    <td>HAND SANITIZER</td>
                    <td>30 ml, pocket/travel size</td>
                    <td>bottle</td>
                    <td>Php 150.00</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

</body>
</html>

{% endblock %}
