{% extends "accounts/User/main.html" %}


{% load static %}

{% block myppmp %}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
<link rel="stylesheet" href="{% static 'css/ppmp101.css' %}">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">


<div class="container-fluid main-content">

    <div class="container">
        <h1 class="pr text-center pt-4">PROJECT PROCUREMENT MANAGEMENT PLAN(PPMP)</h1>
    </div>

    <div class="d-flex" id="wrapper">
        <div class="box-container">
           
            {% for checkout in checkouts %}
            <div class="box ppmp">
                <a href="{ url 'ppmpform' }" style="color: white; text-decoration: none;">
                    <span>{{ checkout.year }} PPMP</span>
                </a>
            </div>
        {% endfor %}
        
            <div class="box1 create">
                <a href="{% url 'ppmp' %}" style="color: white; text-decoration: none;">Create PPMP</a>
            </div>

        </div>
                
    </div>

</div>
       

{% endblock %}