{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://boxicons.com/?query=exit&fbclid=IwAR22yDHvLp_n1ychuVbHpb9TxF8U85lSVnq2vj-pAtauuOijtfBOEMopLLU">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="{% static 'css/reward_cash.css' %}">
</head>
<body>
    <nav>
        <img class="ctu_logo" src="{% static 'images/logo.png' %}" alt="logo">
        <img class="asean_logo" src="{% static 'images/asean.png' %}" alt="logo">
    </nav>
    <div class="container text-center">
        <h>Republic of the Philippines</h>
        <h><b>CEBU TECHNOLOGICAL UNIVERSITY</b></h>
        <h>ARGAO CAMPUS</h>
        <h>Ed Kintanar Street Lamacan Argao, Cebu Philippines</h>
        <div>
            <h>Website: <a href="http://www.argao.ctu.edu.ph">http://www.argao.ctu.edu.ph</a></h>
            <h>Email: <a href="mailto:ctu.argao@yahoo.com">ctu.argao@yahoo.com</a></h>
        </div>
        <br>
        <br>
        <br>
        <br>
        <h3 class="text-center">PURCHASE REQUEST</h3>
        <div style="display: flex; justify-content: space-between; margin-top: 10px;">
            <h4>Entity Name: CTU-ARGAO CAMPUS</h4>
            <h4 style="margin-left: 50px;">Fund Cluster:________________</h4>
        </div>
    </div>

    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-10">
                <table class="table table-bordered">
                    <!-- Table content here -->
                </table>
            </div>
        </div>
    </div>

    <div style="position: absolute; bottom: 0; left: 0; width: 100%; text-align: center;">
        <hr style="border-top: 2px solid black;">
    </div>

    <div class="container-fluid" style="margin-top: 20px !important;">
        <!-- Additional content here -->
    </div>
</body>
</html>
