{% extends "accounts/User/main.html" %}

{% load static %}

{% block purchaserequest %}
    <h2>Purchase Request Tracker</h2>
    
    <div class="tracker-container">
        {% for request in purchase_requests %}
            <div class="request-item">
                <h3>Item_id: {{ request.id }}</h3>
                <p>Item Name: {{ request.item_name }}</p>
                <P>procuts_of_items: {{ request.products_of_items}}</P>
                <P>numbers_of_items: {{ request.number_of_items}}</p>
                <p>Purpose: {{ request.purpose }}</p> 
                <p>Department_options: {{ request.department_options }}</p>
                <p>Status: {{ request.approval_status }}</p  
                <div class="status-history">
                    <h4>Status History:</h4>
                    <ul>
                        {% for status in request.status_history.all %}
                            <li>{{ status.status }} - {{ status.timestamp }}</li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        {% empty %}
            <p>No purchase requests found.</p>
        {% endfor %}
    </div>
{% endblock %}
