{% extends "accounts/User/main2.html" %}

{% load static %}

{% block purchasetracker %}


<div class="ppmp">
  <div class="search">
    <input class="form-control mb-3 pr-6 pl-6" type="text" placeholder="Search" id="search_bar_request" oninput="filterTable()">
  </div>

  <div class="custom-f row w-100 m-auto border text-start text-dark">
      <table class="table table-bordered">
        <thead>
          <tr>
            <th class="text-center">DATE REQUESTED</th>
            <th class="text-center">PR NO.</th>
            <th class="text-center">BUDGET OFFICER STATUS</th>
            <th class="text-center">CAMPUS DIRECTOR STATUS</th>
            <th class="text-center">COMMENT</th>
            <th class="text-center">LAST UPDATED</th>
          </tr>
        </thead>
        <tbody>

          {% if tracker %}
          {% for p in tracker %}
          <tr >
            <TD class="text-center" style="color:#003566DE;  font-family: 'Poppins', sans-serif; ">{{ p.submission_date }}</TD>
            <td class="text-center" style="color:#003566DE;  font-family: 'Poppins', sans-serif; "> {{ p.pr_id }}</td>
            <td class="text-center" >
              {% if p.bo_status == 'approved' %}
              <i class="fas fa-check text-success fa-2x animate-icon"></i>
              {% elif p.bo_status == 'declined' %}
              <i class="	fas fa-times"></i>
              {% else %}
              <i class="fa fa-spinner fa-spin"></i>
              {% endif %}
          </td>
          <td class="text-center" >
            {% if p.cd_status == 'approved' %}
            <i class="fas fa-check text-success fa-2x animate-icon"></i>
            {% elif p.cd_status == 'declined' %}
            <i class="	fas fa-times"></i>
            {% else %}
            <i class="fa fa-spinner fa-spin"></i>
            {% endif %}
        </td>
            <td class="text-center" style="color:#003566DE;  font-family: 'Poppins', sans-serif; ">
              {% if p.comment %}
              {{ p.comment }}
              {% else %}
              No comment yet
              {% endif %}

            </td>


            <td class="text-center" style="color:#003566DE;  font-family: 'Poppins', sans-serif; "> {{ p.last_updated }}</td>

          </tr>
          {% endfor %}
          {% else %}

            </tbody>
      </table>
       
        <tr>
          <td colspan="4" class="text-center" id="no-purchase-request"><strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;No Purchase Request</strong></td>
        </tr>

          {% endif %}
    </div>
  </div>
</div>
{% endblock %}