{% extends "accounts/User/main.html" %}


{% load static %}


{% block purchase %}

<style>
    .table-bordered th {
        background-color: #1c96c5;
    }

    .item-actions {
        display: none;
    }

    tr:hover .item-actions {
        display: flex;
    }
    button {
        float: right;
        padding: 5px 10px;
        border: unset;
        color: #212121;
        z-index: 1;
        background: #e8e8e8;
        position: relative;
        font-weight: 1000;
        font-size: 14px;
        transition: all 250ms;
        overflow: hidden;
    }

    button::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 0;

        background-color: #1c96c5;
        z-index: -1;
        transition: all 250ms;
    }

    button:hover {
        color: #e8e8e8;
        /* Change color to white when hovered */
    }

    button:hover::before {
        width: 100%;
    }
</style>


<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">

<link rel="stylesheet" href="{% static 'css/request.css' %}">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">


<div class="container-fluid" style=" height: 74vh; overflow-y: auto; overflow-x: hidden;">

    <div class="container">
        <h1 class="pr text-center pt-4"> PURCHASE REQUEST </h1>
    </div>

    <div class="row">

        <div class="col-md-1 mb-0">
            <div class="ppmp">
                <button class="btn btn-primary">
                    <a href="{% url 'approved_ppmp'  %}" style="color: white; text-decoration: none;">  PPMP </a>
                </button>
            </div>
        </div>
    </div>

    <div class="table-responsive">

        
        <form action="{% url 'purchase'  %}" method="post">
            {% csrf_token %}

            <button type="submit">ADD TO PR</button>
        <table class="table table-bordered">
            <thead>
                <tr>
                <tr>
                    <th >Item Name</th>
                    <th > Brand / Description</th>
                    <th >Unit</th>
                    
                   
                    <th >Unit Price</th>
                    <th > Select </th>
                </tr>
                
                </tr>
            </thead>
            <tbody>
            <tbody>
                

                {% for p in items %}

                    <tr class="item-row" id="{{ p.id }}">
                        <td>{{ p.item }}
                            <input type="hidden" name="item" value="{{ p.item }}">
                        </td>
                        <td>{{ p.item_brand_description }}
                            <input type="hidden" name="item_brand" value="{{ p.item_brand_description }}">
                        </td>
                        <td>{{ p.unit }}
                            <input type="hidden" name="unit" value="{{ p.unit }}">
                        </td>
                        
                        <td>{{ p.unit_cost }}
                            <input type="hidden" name="unit_cost" value="{{ p.unit_cost }}">
                        </td>
                    </tr>
              
                {% endfor %}
           
            </tbody>
        </table>
    
        </form>

    </div>
</div>
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>

<script>



    $(document).ready(function () {

        function updateEstimateBudgetForRow(row) {

            var unitPrice = parseFloat(row.find('[name="price"]').val());


            var totalValue = 0;


            row.find('[name^="jan"], [name^="feb"], [name^="mar"], [name^="apr"], [name^="may"], [name^="jun"], [name^="jul"], [name^="aug"], [name^="sep"], [name^="oct"], [name^="nov"], [name^="dec"]').each(function () {
                var monthValue = parseFloat($(this).val()) || 0;
                totalValue += monthValue;
            });


            var estimateBudget = totalValue * unitPrice;


            row.find('[name="estimate_budget"]').val(estimateBudget.toFixed(2));
        }


        $('[name^="jan"], [name^="feb"], [name^="mar"], [name^="apr"], [name^="may"], [name^="jun"], [name^="jul"], [name^="aug"], [name^="sep"], [name^="oct"], [name^="nov"], [name^="dec"]').on('input', function () {

            var row = $(this).closest('tr.item-row');
            updateEstimateBudgetForRow(row);
        });


        $('[name="price"]').on('input', function () {

            var row = $(this).closest('tr.item-row');
            updateEstimateBudgetForRow(row);
        });
    });


</script>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>


{% endblock %}