{% extends "accounts/User/main.html" %}


{% load static %}


{% block requester %}


<style>
  /* Style for the modal */
  .modal {
  display: none;
  position: fixed;
  top: 300px;
  left: 300px;
  width: 20%;
  height: 55%;
  background-color: rgba(0, 0, 0, 0.7);
}

.modal-content {
  position: absolute;
  top: 325px;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  padding: 20px;
}

.close {
  position: absolute;
  top: 0;
  right: 0;
  padding: 10px;
  cursor: pointer;
}

</style>

        <div class="container-fluid" style=" height: 68vh; overflow-y: auto; overflow-x: hidden; ">
          <div class="container">
            <h1 class="pr text-center pt-4">CREATE PURCHASE REQUEST</h1>  
          </div>
          <form action="{% url 'requester' %}" method="post">
            {% csrf_token %}
            <div class="row w-100 m-auto">
              <div class="col-12 col-sm-12 col-md-6 col-lg-4 ps-0">
                <div class="form-group mb-3">
                  <label for="departmentDropdown">Choose Department:</label>
                  <select class="form-control" id="departmentDropdown" name="departmentDropdown">
                      <option value="option1">College of Arts and Sciences</option>
                      <option value="option2">College of Agriculture</option>
                      <option value="option3">College of Forestry</option>
                      <option value="option4">College of Hospitality Management and Tourism</option>
                      <option value="option5">College of Technology and Engineering</option>
                      <option value="option6">College of Education</option>
                      <option value="option7">Graduate School</option>
                      <option value="option8">  Others please specify:</option>
                  </select>
                  <input type="text" id="customDepartmentInput" name="customDepartment" class="form-control" style="display: none;">
                </div>
              </div>
 
              <div class="col-12 col-sm-12 col-md-6 col-lg-4 ps-0">
                <div class="form-group mb-3">
                  <label for="exampleFormcontrolTextarea1 p-2">Purpose:</label>
                  <textarea class="form-control" id="exampleFormcontrolTextarea1" name="item_purpose" rows="1"></textarea>
                </div>
              </div>
           
            </div>


        <div class="row w-100 m-auto mb-3">
        <div class="col-6 col-sm-6 col-md-7 col-lg-9">
          <button type="button" onclick="openModal()">Select Items</button>


<div class="modal fade" id="myModal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">CATEGORIES</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
       <div class="modal-body">
         <ul>
            <button type="button" onclick="openModal()">Alcohol or Acetone Based Antiseptics</button>
            <button type="button" onclick="openModal()">Cleaning Equipment and Supplies</button>
            <button type="button" onclick="openModal()">Personal Protective Equipment</button>
            <button type="button" onclick="openModal()">ICT Equipment, Devices and Accessories</button>
            <button type="button" onclick="openModal()">Office Equipment, Accessories and Supplies</button>
            <button type="button" onclick="openModal()">Furniture and Furnishing</button>
            <button type="button" onclick="openModal()">Electrical and Hardware Supplies</button>
         </ul>
       </div>
    </div>
  </div>
</div>     
  
              
                <!-- Modal -->
                <div class="modal" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                  <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="categorySelectionModalLabel">Select a Category</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                          <div class="d-flex flex-column">
                              <button type="button" class="btn btn-primary mb-3" data-toggle="modal" data-target="#category1ButtonModal">Alcohol or Acetone Based Antiseptics</button>
                              <button type="button" class="btn btn-primary mb-3" data-toggle="modal" data-target="#category2ButtonModal">Cleaning Equipment and Supplies</button>
                              <button type="button" class="btn btn-primary mb-3" data-toggle="modal" data-target="#category3ButtonModal">Personal Protective Equipment</button>
                              <button type="button" class="btn btn-primary mb-3" data-toggle="modal" data-target="#category4ButtonModal">ICT Equipment, Devices and Accessories</button>
                              <button type="button" class="btn btn-primary mb-3" data-toggle="modal" data-target="#category5ButtonModal">Office Equipment, Accessories and Supplies</button>
                              <button type="button" class="btn btn-primary mb-3" data-toggle="modal" data-target="#category6ButtonModal">Furniture and Furnishing</button>
                              <button type="button" class="btn btn-primary mb-3" data-toggle="modal" data-target="#category7ButtonModal">Electrical and Hardware Supplies</button>
                              <!-- Add more category buttons as needed -->
                          </div>
                      </div>
                    </div>
                </div>
            </div>
            
            <!-- Inner Modal for Category 1 -->
            <div class="modal fade" id="category1ButtonModal" tabindex="-1" role="dialog" aria-labelledby="category1ButtonModalLabel" aria-hidden="true">
              <div class="modal-dialog" role="document">
                  <div class="modal-content">
                      <div class="modal-header">
                          <h5 class="modal-title" id="category1ButtonModalLabel">Alcohol or Acetone Based Antiseptics Items</h5>
                          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                              <span aria-hidden="true">&times;</span>
                          </button>
                      </div>
                      <div class="modal-body">
                          <table class="table" id="category1Table">
                              <thead>
                                  <tr>
                                      <th>Item</th>
                                      <th>Item Brand/Description</th>
                                      <th>Unit</th>
                                      <th>Quantity</th>
                                      <th>Price</th>
                                  </tr>
                              </thead>
                              <tbody>
                                  <!-- Data will be populated here -->
                              </tbody>
                          </table>
                      </div>
                  </div>
              </div>
          </div>
          
          
          
            
           <!-- Inner Modal for Category 2 -->
              <div class="modal fade" id="category2ButtonModal" tabindex="-1" role="dialog" aria-labelledby="category2ButtonModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="category2ButtonModalLabel">Cleaning Equipment and Supplies</h5>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <div class="modal-body">
                      <table class="table" id="category2Table">
                        <thead>
                          <tr>
                            <th>Item</th>
                            <th>Item Brand/Description</th>
                            <th>Unit</th>
                            <th>Quantity</th>
                            <th>Price</th>
                          </tr>
                        </thead>
                        <tbody>
                          <!-- Data will be populated here -->
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>


          <!-- Inner Modal for Category 1 -->
          <div class="modal fade" id="category3ButtonModal" tabindex="-1" role="dialog" aria-labelledby="category3ButtonModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="category3ButtonModalLabel">Personal Protective Equipment</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <table class="table" id="category1Table">
                            <thead>
                                <tr>
                                    <th>Item</th>
                                    <th>Item Brand/Description</th>
                                    <th>Unit</th>
                                    <th>Quantity</th>
                                    <th>Price</th>
                                </tr>
                            </thead>
                            <tbody>
                                <!-- Data will be populated here -->
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="category4ButtonModal" tabindex="-1" role="dialog" aria-labelledby="category4ButtonModalLabel" aria-hidden="true">
          <div class="modal-dialog" role="document">
              <div class="modal-content">
                  <div class="modal-header">
                      <h5 class="modal-title" id="category4ButtonModalLabel">ICT Equipment, Devices and Accessories</h5>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                      </button>
                  </div>
                  <div class="modal-body">
                      <table class="table" id="category1Table">
                          <thead>
                              <tr>
                                  <th>Item</th>
                                  <th>Item Brand/Description</th>
                                  <th>Unit</th>
                                  <th>Quantity</th>
                                  <th>Price</th>
                              </tr>
                          </thead>
                          <tbody>
                              <!-- Data will be populated here -->
                          </tbody>
                      </table>
                  </div>
              </div>
          </div>
      </div>


      <div class="modal fade" id="category5ButtonModal" tabindex="-1" role="dialog" aria-labelledby="category5ButtonModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="category5ButtonModalLabel">Office Equipment, Accessories and Supplies</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <table class="table" id="category1Table">
                        <thead>
                            <tr>
                                <th>Item</th>
                                <th>Item Brand/Description</th>
                                <th>Unit</th>
                                <th>Quantity</th>
                                <th>Price</th>
                            </tr>
                        </thead>
                        <tbody>
                            <!-- Data will be populated here -->
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="category6ButtonModal" tabindex="-1" role="dialog" aria-labelledby="category6ButtonModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
          <div class="modal-content">
              <div class="modal-header">
                  <h5 class="modal-title" id="category6ButtonModalLabel">Furniture and Furnishing</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                  </button>
              </div>
              <div class="modal-body">
                  <table class="table" id="category1Table">
                      <thead>
                          <tr>
                              <th>Item</th>
                              <th>Item Brand/Description</th>
                              <th>Unit</th>
                              <th>Quantity</th>
                              <th>Price</th>
                          </tr>
                      </thead>
                      <tbody>
                          <!-- Data will be populated here -->
                      </tbody>
                  </table>
              </div>
          </div>
      </div>
  </div>

  <div class="modal fade" id="category7ButtonModal" tabindex="-1" role="dialog" aria-labelledby="category7ButtonModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="category7ButtonModalLabel">Electrical and Hardware Supplies</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <table class="table" id="category1Table">
                    <thead>
                        <tr>
                            <th>Item</th>
                            <th>Item Brand/Description</th>
                            <th>Unit</th>
                            <th>Quantity</th>
                            <th>Price</th>
                        </tr>
                    </thead>
                    <tbody>
                        <!-- Data will be populated here -->
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
        
            



              <div class="col-6 col-sm-6 col-md-5 col-lg-3">
                <input class="form-control" type="text" placeholder="Search"  id="search_bar_request">
              </div>
            </div>
            <div class="table-responsive">
              <table class="table" id="create_request_table" style="border: 1px solid black;">
                <thead>
                  <tr>
                    <th class="text-nowrap">Item No.</th>
                    <th class="text-nowrap" style="min-width: 15rem;">Item Name</th>
                    <th class="text-nowrap" style="min-width: 7rem;">Item Brand/Description</th>
                    <th class="text-nowrap" style="min-width: 7rem;">Unit</th>
                    <th class="text-nowrap" style="min-width: 7rem;">Unit Cost</th>
                    <th class="text-nowrap" style="min-width: 7rem;">Quantity</th>
                    <th class="text-nowrap" style="min-width: 7rem;">Total Cost</th>
                    <th class="text-center text-nowrap"></th>
                    <div class="d-flex justify-content-evenly">
                    </div>
                  </tr>
                </thead>
                <tbody>
                  <!-- Rows will be added here via JavaScript -->
                </tbody>
                <tfoot>
                  <tr>
                    <td colspan="6">Total Amount</td>
                    <td><span id="totalAmount">00.00</span></td>
                    <td>
                     
             <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#addItemModal">Add item</button>
                <button type="button" class="btn btn-primary m-2" onclick="submitForm()">Submit</button>
                  <div class="modal fade" id="addItemModal" tabindex="-1" role="dialog" aria-labelledby="addItemModalLabel" aria-hidden="true">
                   <div class="modal-dialog" role="document">
                     <div class="modal-content">
                      <div class="modal-header">
                      <h5 class="modal-title" id="addItemModalLabel">Add Item</h5>
                       <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                         </button>
                          </div>
                           <div class="modal-body">
                             <form id="addItemForm">
                              <div class="form-group">
                               <label for="Item">Item Name</label>
                                 <input type="text" class="form-control" id="Item" name="Item" required>
                                  </div>
                                   <div class="form-group">
                                    <label for="Item_Brand_Description">Item Brand/Description</label>
                                     <input type="text" class="form-control" id="Item_Brand_Description" name="Item_Brand_Description" required>
                                     </div>
                                      <div class="form-group">
                                      <label for="Unit">Unit</label>
                                        <input type="text" class="form-control" id="Unit" name="Unit" required>
                                        </div>
                                        <div class="form-group">
                                        <label for="Unit">Unit Cost</label>
                                        <input type="text" class="form-control" id="Unit_Cost" name="Unit_Cost" required>
                                        </div>
                                       <div class="form-group">
                                       <label for="Quantity">Quantity</label>
                                      <input type="text" class="form-control" id="Quantity" name="Quantity" required>
                                    </div>
                                    <div class="modal-footer">
                               <button type="button" class="btn btn-primary" onclick="addRow()">Add Item</button>
                               <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                              </div>
                            </div>
                          </div>
                       </div>
                     </td>
                               
                                    </div>
                                  </div>
                                </div>
                    </td>
                  </tr>
                </tfoot>
              </table>
            </div>
           
         
    <script>
      
 


      document.getElementById("departmentDropdown").addEventListener("change", function() {
        var select = document.getElementById("departmentDropdown");
        var customDepartmentInput = document.getElementById("customDepartmentInput");
        var originalValue = select.value;
     
        if (originalValue === "option8") {
          customDepartmentInput.style.display = "block";
     
          customDepartmentInput.addEventListener("input", function() {
            var customDepartmentValue = customDepartmentInput.value;
            var option = Array.from(select.options).find(opt => opt.value === customDepartmentValue);
     
            if (!option) {
              option = document.createElement("option");
              option.value = customDepartmentValue;
              option.text = customDepartmentValue;
              select.add(option);
            }
          });
     
          customDepartmentInput.addEventListener("keyup", function(event) {
            if (event.key === "Enter") {
              var customDepartmentValue = customDepartmentInput.value;
              var option = Array.from(select.options).find(opt => opt.value === customDepartmentValue);
     
              if (!option) {
                option = document.createElement("option");
                option.value = customDepartmentValue;
                option.text = customDepartmentValue;
                select.add(option);
              }
     
              select.value = customDepartmentValue;
              customDepartmentInput.style.display = "none";
            }
          });
        } else {
          customDepartmentInput.style.display = "none";
          customDepartmentInput.value = ""; // Clear the input field
        }
      });
      </script>
     
</script>


<script>
  function calculateRowTotal(input) {
    const row = input.parentNode.parentNode;
    const unitPrice = parseFloat(row.querySelector('.unit-price').textContent) || 0;
    const quantity = parseInt(input.value) || 0;


    const totalAmount = unitCost * quantity;
    row.querySelector('.total').textContent = totalAmount.toFixed(2);


    calculateTotalAmount();
  }


  function calculateTotalAmount() {
    const totalElements = document.querySelectorAll('.total');
    let totalAmount = 0;


    totalElements.forEach(element => {
      totalAmount += parseFloat(element.textContent);
    });


    document.getElementById('totalAmount').textContent = totalAmount.toFixed(2);
  }
</script>


<script>
  let itemCounter = 0;


  function addRow() {
    itemCounter++;
    const tableBody = document.querySelector('#create_request_table tbody');
    const newRow = document.createElement('tr');
    newRow.classList.add('item-row');
    newRow.innerHTML = `
      <td style="text-align: center;"><span class="item-no">${itemCounter}</span></td>
      <td><input type="text" name="item_name[]"></td>
      <td><input type="text" name="item_description[]"></td>
      <td><input type="text" name="item_unit[]"></td>
      <td><input type="number" class="unit-price" min="0" name="unit_cost[]" oninput="calculateRowTotal(this)"></td>
      <td><input type="number" class="quantity" min="1" name="quantity[]" oninput="calculateRowTotal(this)"></td>
      <td><span class="total">0.00</span></td>
      <td class="text-end my-2 mt-0">
        <div class="d-flex justify-content-evenly">
          <button type="button" class="btn" onclick="removeRow(this)"><i class="fas fa-trash" style="color: red !important;"></i></button>
        </div>
      </td>
    `;
    tableBody.appendChild(newRow);
  }


  function removeRow(button) {
    const row = button.closest('tr');
    row.remove();
  }

  
     


    $(document).ready(function() {
      $("#myModal ul li").click(function() {
        var category = $(this).text();
        window.location.href = "alcohol-or-acetone-based-antiseptics.php?category=" + category;
      });
    });




  document.getElementById("openPopupButton").addEventListener("click", function () {
      document.getElementById("categoryPopup").style.display = "block";
  });

  document.getElementById("closePopupButton").addEventListener("click", function () {
    document.getElementById("categoryPopup").style.display = "none";
});

  document.getElementById("categoryPopup").addEventListener("click", function (event) {
      if (event.target === this) {
          this.style.display = "none";
      }
  });
  
  </script>

  
  


<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>


{% endblock %}  
