{% extends "accounts/User/main.html" %}


{% load static %}


{% block request %}

<style>
    .input-group {
      display: flex;
    }
  
    #quantityInput {
      flex: 1;
      width: 30px;
    }
  
    .btn-inc-dec {
      flex: 0;
    }
  
    /* Style for the modal */
    .modal {
      display: none;
      position: fixed;
      top: 456px;
      left: 300px;
      width: 20%;
      height: 55%;
      background-color: rgba(0, 0, 0, 0.7);
    }
  
    .modal-content {
      position: absolute;
      top: 456px;
      left: 50%;
      width: 1000px;
      transform: translate(-50%, -50%);
      background-color: #fff;
      padding: 5px;
    }
  
    .close {
      position: absolute;
      top: 0;
      right: 0;
      padding: 10px;
      cursor: pointer;
    }
    
    .custom-checkbox input:checked + label {
        color: green;
    }

 
        .selected {
            background-color: #e0e0e0;  /* Change this to the desired background color */
        }
        .subheader {
        position: fixed;
        z-index: 1000;
        background-color: #fff;
        width: 100%;
        height: 20vh;
    }

  
    
    .row2 {
        margin-top: 10%;
    }

    .container {
        margin-top: 1%;
        display: flex;
    }

    .title {
        flex-grow: 1;
        text-align: center;
        font-family: 'Trebuchet MS', san-serif;
    }

    .cart {
        margin-left: 60%;
      

    }

    .row {
        margin-top: 1%;
        
    }

    .search,
    .additem,
    .addtocart {
        margin: 0;
        width: 200px;
        height: 100px;
      
    }
    .search input {
        width: 300px;
    }

    .search,    
    .additem {
        align-items: normal;
        
      
    }

    .additem {
        margin-left: 6%
    }

    .addtocart{
        margin-left: 43%;
       
    }



</style>

<div class="container-fluid" style=" height: 74vh; overflow-y: auto; overflow-x: hidden;">

    <div class="subheader">
        
        <div class="container">
            <h1 class="title">CREATE PURCHASE REQUEST</h1>
            <div class="cart">
                <a href="{% url 'requester' %}">
                    <i>
                        <img src="{% static 'images/cart.png' %}" alt="Icon Description">
                    </i>
                </a>
            </div>
        </div>



        <div class="row  align-items-center">
    
            <div class="search">
                <input class="form-control mb-3" type="text" placeholder="Search" id="search_bar_request" oninput="filterTable()">
            </div>
      
          <div class="additem">
              <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#addItemModal">Add Item</button>
          </div>


          
       </div>
    
        
    </div>


  
<br><br>

<form action="{% url 'request' %}" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    
    <br>
    <br>
    <div class="row2">
        <div class="col-12">
            <div class="addtocart" style="width: 57%;">
                <button type="submit" class="btn btn-primary btn-sm float-right">Add to Cart</button>
            </div>   
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col">Items</th>
                        <th scope="col">Item Brand Description</th>
                        <th scope="col">Unit</th>
                        <th scope="col">Price</th>
                        <th scope="col">Quantity</th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                    {% for row in csv_data %}
                        <tr class="table-row" id="{{ row.ITEMS }}">
                            <td  >{{ row.ITEMS }}</td>
                            <td  >{{ row.ITEM_BRAND }}</td>
                            <td  >{{ row.UNIT }}</td>
                            <td  >{{ row.PRICE }}</td>
                            <td>
                                <input type="number" name="quantity_{{ row.ITEMS }}" id="quantity_{{ row.ITEMS }}" value="1" min="1" class="form-control form-control-sm" style="width: 60px;" oninput="resetToOriginalValue(this)"  onclick="highlightInput(this);">
                            </td>
                            <td>
                                <input type="hidden" name="item_{{ row.ITEMS }}" value="{{ row.ITEMS }}">
                                <input type="hidden" name="item_brand_{{ row.ITEMS }}" value="{{ row.ITEM_BRAND }}">
                                <input type="hidden" name="unit_{{ row.ITEMS }}" value="{{ row.UNIT }}">
                                <input type="hidden" name="price_{{ row.ITEMS }}" value="{{ row.PRICE }}">
                                <input type="checkbox" name="selectRow" class="row-checkbox" value="{{ row.ITEMS }}">
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</form>





    <br><br><br>
   
</form>
<script>
    function scrollToCategory() {
        var selectedCategory = document.getElementById('dropdownMenuSelect').value;
        var table = document.getElementById(selectedCategory);
        if (table) {
           table.scrollIntoView({behavior: 'smooth'});
        }
       }
</script>

</div>
        </div>
        <div class="modal fade" id="addItemModal" tabindex="-1" role="dialog" aria-labelledby="addItemModalLabel" aria-hidden="true">
          <div class="modal-dialog" role="document">
              <div class="modal-content">
                  <div class="modal-header">
                      <h5 class="modal-title" id="addItemModalLabel">Add Item</h5>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                      </button>
                  </div>

                  <div class="modal-body">

                    <form action="{% url 'addItem' %}" method="post">
                        {% csrf_token %}

                          

                          <div class="form-group">
                              <label for="Item">Item</label>
                              <input type="text" class="form-control" id="Item" name="item" required>
                          </div>

                          <div class="form-group">
                              <label for="Item_Brand_Description">Item Brand/Description</label>
                              <input type="text" class="form-control" id="Item_Brand_Description" name="item_Brand_Description" required>
                          </div>

                          <div class="form-group">
                              <label for="Unit">Unit</label>
                              <input type="text" class="form-control" id="Unit" name="unit" required>
                          </div>

                          <div class="form-group"> 
                              <label for="Unit">Unit Cost</label>
                              <input type="text" class="form-control" id="Unit_Cost" name="unit_Cost" required>
                          </div>
                          
                          <div class="form-group">
                              <label for="Quantity">Quantity</label>
                              <input type="text" class="form-control" id="Quantity" name="quantity" required>
                          </div>

                    </form>
                  </div>
              </div>
          </div>
        </div>
      </form>
</div>

<script>


    $(document).ready(function () {
        // Add click event to checkboxes
        $('.row-checkbox').on('click', function () {
            // Find the closest tr and toggle the 'selected' class
            $(this).closest('tr').toggleClass('selected');
        });
    });


  const categoryFilter = document.getElementById('category_filter');
  const productTables = document.querySelectorAll('.table table');

  categoryFilter.addEventListener('change', (event) => {
      const selectedCategory = event.target.value;
      const filteredProducts = {};

      if (selectedCategory !== 'all') {
          for (const productTable of productTables) {
              const categoryName = productTable.querySelector('h3').textContent;
              if (categoryName === selectedCategory) {
                  const products = productTable.querySelectorAll('tbody tr');
                  for (const product of products) {
                      const itemName = product.querySelector('td:nth-child(2)').textContent;
                      const itemDescription = product.querySelector('td:nth-child(3)').textContent;
                      const unit = product.querySelector('td:nth-child(4)').textContent;
                      const price = product.querySelector('td:nth-child(5)').textContent;

                      if (!filteredProducts[categoryName]) {
                          filteredProducts[categoryName] = [];
                      }

                      filteredProducts[categoryName].push({
                          itemName,
                          itemDescription,
                          unit,
                          price
                      });
                  }
              }
          }
      }

      // Update the displayed items based on the filtered products
      updateProductTables(filteredProducts);
  });

  function updateProductTables(filteredProducts) {
      for (const productTable of productTables) {
          productTable.querySelector('tbody').innerHTML = ''; // Clear existing items

          const categoryName = productTable.querySelector('h3').textContent;
          const products = filteredProducts[categoryName] || [];

          for (const product of products) {
              const row = document.createElement('tr');

              const itemNameCell = document.createElement('td');
              itemNameCell.textContent = product.itemName;
              row.appendChild(itemNameCell);

              const itemDescriptionCell = document.createElement('td');
              itemDescriptionCell.textContent = product.itemDescription;
              row.appendChild(itemDescriptionCell);

              const unitCell = document.createElement('td');
              unitCell.textContent = product.unit;
              row.appendChild(unitCell);

              const priceCell = document.createElement('td');
              priceCell.textContent = product.price;
              row.appendChild(priceCell);

              productTable.querySelector('tbody').appendChild(row);
          }
      }
  }

 
        function scrollToCategory() {
            console.log("scrollToCategory function called!");
            
            var selectedCategory = document.getElementById("dropdownMenuSelect").value;
            console.log("Selected Category:", selectedCategory);
            
            var categoryElement = document.getElementById(selectedCategory);
            console.log("Category Element:", categoryElement);
    
            if (categoryElement) {
                categoryElement.scrollIntoView({ behavior: "smooth" });
                console.log("Scrolling to category:", selectedCategory);
            }
        }

    function filterTable() {
        var input, filter, table, tr, td, i, txtValue;
        input = document.getElementById("search_bar_request");
        filter = input.value.toUpperCase();
        table = document.querySelector(".table-striped");
        tr = table.getElementsByTagName("tr");


        for (i = 0; i < tr.length; i++) {
            td = tr[i].getElementsByTagName("td")[0]; 
            if (td) {
                txtValue = td.textContent || td.innerText;
                if (txtValue.toUpperCase().indexOf(filter) > -1) {
                    tr[i].style.display = "";
                } else {
                    tr[i].style.display = "none";
                }
            }
        }
    }
</script>
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">


{% endblock %}