{% extends "accounts/User/main.html" %}


{% load static %}


{% block request %}

<style>
    .search input {
        width: 300px;
        border-radius: 20px;
    }
</style>

<link rel="stylesheet" href="{% static 'css/request.css' %}">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

<div class="container-fluid" style=" height: 74vh; overflow-y: auto; overflow-x: hidden;">

    <div class="row">
        <div class="col-md-4">
            <div class="search">
                <input class="form-control mb-3" type="text" placeholder="Search" id="search_bar_request"
                    oninput="filterTable()">
            </div>
        </div>

        <div class="col-md-4">
            <div class="additem">
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#addItemModal">Create New
                    Request</button>
            </div>
        </div>

        <div class="col-md-4">
            <div class="ppmp">
                <button class="btn btn-primary">
                    <a href="{% url 'ppmp' %}" style="color: white; text-decoration: none;">View My PPMP</a>
                </button>
            </div>
        </div>

        <div>

            <table class="table table-striped table-bordered">
                <thead>
                    <tr>
                    <tr>
                        <th rowspan='2'>Item Name</th>
                        <th rowspan='2'> Brand / Description</th>
                        <th rowspan='2'>Unit</th>
                        <th rowspan='2'>Estimated Budget</th>
                        <th rowspan='2'>Mode of Procurement</th>
                        <th colspan="12">Monthly Quantity Requirement</th>
                        <th rowspan='2'>Unit Price</th>
                        <th rowspan="2"> Select </th>
                    </tr>
                    <tr>
                        <th>Jan</th>
                        <th>Feb</th>
                        <th>Mar</th>
                        <th>April</th>
                        <th>May</th>
                        <th>June</th>
                        <th>July</th>
                        <th>Aug</th>
                        <th>Sept</th>
                        <th>Oct</th>
                        <th>Nov</th>
                        <th>Dec</th>
                    </tr>

                    </tr>
                </thead>
                <tbody>
                <tbody>
                    {% for category, items in grouped_data.items %}
                    <tr class="category-row">
                        <th colspan="20">{{ category }}</th>
                    </tr>

                    {% for p in items %}

                    <form action="{% url 'request' %}" method="post">
                        {% csrf_token %}
                        <tr class="item-row" id="{{ p.id }}">
                            <td>{{ p.Item_name }}
                                <input type="hidden" name="item" value="{{ p.Item_name }}">
                            </td>
                            <td>{{ p.Item_Brand }}
                                <input type="hidden" name="item_brand" value="{{ p.Item_Brand }}">
                            </td>
                            <td>{{ p.Unit }}
                                <input type="hidden" name="unit" value="{{ p.Unit }}">
                            </td>
                            <td><input type="number" name="estimate_budget" value=""></td>
                            <td><input type="text" name="mode_of_procurement" value="Not Applicable"></td>
                            <td><input type="number" style="width: 38px;" name="jan"></td>
                            <td><input type="number" style="width: 38px;" name="feb"></td>
                            <td><input type="number" style="width: 38px;" name="mar"></td>
                            <td><input type="number" style="width: 38px;" name="apr"></td>
                            <td><input type="number" style="width: 38px;" name="may"></td>
                            <td><input type="number" style="width: 38px;" name="jun"></td>
                            <td><input type="number" style="width: 38px;" name="jul"></td>
                            <td><input type="number" style="width: 38px;" name="aug"></td>
                            <td><input type="number" style="width: 38px;" name="sep"></td>
                            <td><input type="number" style="width: 38px;" name="oct"></td>
                            <td><input type="number" style="width: 38px;" name="nov"></td>
                            <td><input type="number" style="width: 38px;" name="dec"></td>

                            <td>{{ p.Price }}
                                <input type="hidden" name="price" value="{{ p.Price }}">
                            </td>
                            <td><button type="submit" class="btn btn-primary">+</button></td>

                        </tr>
                    </form>
                    {% endfor %}
                    {%endfor%}
                </tbody>
            </table>



        </div>


    </div>





    <script>
        function change_val(id) {
            document.getElementById(id).value = 0;
        }

        function scrollToCategory() {
            var selectedCategory = document.getElementById('dropdownMenuSelect').value;
            var table = document.getElementById(selectedCategory);
            if (table) {
                table.scrollIntoView({ behavior: 'smooth' });
            }
        }
    </script>

    <div class="modal fade" id="addItemModal" tabindex="-1" role="dialog" aria-labelledby="addItemModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="addItemModalLabel">Add Item</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>

                <div class="modal-body">

                    <form action="{% url 'addItem' %}" method="post">
                        {% csrf_token %}



                        <div class="form-group">
                            <label for="Item">Item</label>
                            <input type="text" class="form-control" id="Item" name="item" required>
                        </div>

                        <div class="form-group">
                            <label for="Item_Brand_Description">Item Brand/Description</label>
                            <input type="text" class="form-control" id="Item_Brand_Description"
                                name="item_Brand_Description" required>
                        </div>

                        <div class="form-group">
                            <label for="Unit">Unit</label>
                            <input type="text" class="form-control" id="Unit" name="unit" required>
                        </div>

                        <div class="form-group">
                            <label for="Unit">Unit Cost</label>
                            <input type="text" class="form-control" id="Unit_Cost" name="unit_Cost" required>
                        </div>

                        <div class="form-group">
                            <label for="Quantity">Quantity</label>
                            <input type="text" class="form-control" id="Quantity" name="quantity" required>
                        </div>

                        <div class="modal-footer">
                            <button type="submit" value="submit" class="btn btn-primary">Add to Cart</button>

                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <script>

        function highlightInput(input) {
            input.select();
        }


        function filterTable() {
            var input, filter, table, tr, td, i, txtValue;
            input = document.getElementById("search_bar_request");
            filter = input.value.toUpperCase();
            table = document.querySelector(".table-striped");
            tr = table.getElementsByTagName("tr");


    $(document).ready(function () {
        $('.row-checkbox').on('click', function () {
            $(this).closest('tr').toggleClass('selected');
        });
    });

    const categoryFilter = document.getElementById('category_filter');
    const productTables = document.querySelectorAll('.table table');

    categoryFilter.addEventListener('change', (event) => {
        const selectedCategory = event.target.value;
        const filteredProducts = {};

        if (selectedCategory !== 'all') {
            for (const productTable of productTables) {
                const categoryName = productTable.querySelector('h3').textContent;
                if (categoryName === selectedCategory) {
                    const products = productTable.querySelectorAll('tbody tr');
                    for (const product of products) {
                        const itemName = product.querySelector('td:nth-child(2)').textContent;
                        const itemDescription = product.querySelector('td:nth-child(3)').textContent;
                        const unit = product.querySelector('td:nth-child(4)').textContent;
                        const price = product.querySelector('td:nth-child(5)').textContent;

                        if (!filteredProducts[categoryName]) {
                            filteredProducts[categoryName] = [];
                        }

                        filteredProducts[categoryName].push({
                            itemName,
                            itemDescription,
                            unit,
                            price
                        });
            for (i = 0; i < tr.length; i++) {
                td = tr[i].getElementsByTagName("td")[0];
                if (td) {
                    txtValue = td.textContent || td.innerText;
                    if (txtValue.toUpperCase().indexOf(filter) > -1) {
                        tr[i].style.display = "";
                    } else {
                        tr[i].style.display = "none";
                    }
                }
            }
        }

        updateProductTables(filteredProducts);
    });


    function updateProductTables(filteredProducts) {
        for (const productTable of productTables) {
            productTable.querySelector('tbody').innerHTML = ''; 

        $(document).ready(function () {
            // Add click event to checkboxes
            $('.row-checkbox').on('click', function () {
                // Find the closest tr and toggle the 'selected' class
                $(this).closest('tr').toggleClass('selected');
            });
        });
  

        const categoryFilter = document.getElementById('category_filter');
        const productTables = document.querySelectorAll('.table table');

        categoryFilter.addEventListener('change', (event) => {
            const selectedCategory = event.target.value;
            const filteredProducts = {};

            if (selectedCategory !== 'all') {
                for (const productTable of productTables) {
                    const categoryName = productTable.querySelector('h3').textContent;
                    if (categoryName === selectedCategory) {
                        const products = productTable.querySelectorAll('tbody tr');
                        for (const product of products) {
                            const itemName = product.querySelector('td:nth-child(2)').textContent;
                            const itemDescription = product.querySelector('td:nth-child(3)').textContent;
                            const unit = product.querySelector('td:nth-child(4)').textContent;
                            const price = product.querySelector('td:nth-child(5)').textContent;

                            if (!filteredProducts[categoryName]) {
                                filteredProducts[categoryName] = [];
                            }

                            filteredProducts[categoryName].push({
                                itemName,
                                itemDescription,
                                unit,
                                price
                            });
                        }
                    }
                }
            }

            // Update the displayed items based on the filtered products
            updateProductTables(filteredProducts);
        });

    function getCookie(name) {
        var cookieValue = null;
        if (document.cookie && document.cookie !== '') {
            var cookies = document.cookie.split(';');
            for (var i = 0; i < cookies.length; i++) {
                var cookie = cookies[i].trim();
                if (cookie.substring(0, name.length + 1) === (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;

        function updateProductTables(filteredProducts) {
            for (const productTable of productTables) {
                productTable.querySelector('tbody').innerHTML = ''; // Clear existing items

                const categoryName = productTable.querySelector('h3').textContent;
                const products = filteredProducts[categoryName] || [];

                for (const product of products) {
                    const row = document.createElement('tr');

                    const itemNameCell = document.createElement('td');
                    itemNameCell.textContent = product.itemName;
                    row.appendChild(itemNameCell);

                    const itemDescriptionCell = document.createElement('td');
                    itemDescriptionCell.textContent = product.itemDescription;
                    row.appendChild(itemDescriptionCell);

                    const unitCell = document.createElement('td');
                    unitCell.textContent = product.unit;
                    row.appendChild(unitCell);

                    const priceCell = document.createElement('td');
                    priceCell.textContent = product.price;
                    row.appendChild(priceCell);

                    productTable.querySelector('tbody').appendChild(row);
                }
            }
        }


        // Call a server-side function to handle the import

        // Function to get CSRF token from cookies
        function getCookie(name) {
            var cookieValue = null;
            if (document.cookie && document.cookie !== '') {
                var cookies = document.cookie.split(';');
                for (var i = 0; i < cookies.length; i++) {
                    var cookie = cookies[i].trim();
                    if (cookie.substring(0, name.length + 1) === (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
        }

        function filterTable() {
            var input, filter, table, tr, td, i, txtValue;
            input = document.getElementById("search_bar_request");
            filter = input.value.toUpperCase();
            table = document.querySelector(".table-striped");
            tr = table.getElementsByTagName("tr");


            for (i = 0; i < tr.length; i++) {
                td = tr[i].getElementsByTagName("td")[0];
                if (td) {
                    txtValue = td.textContent || td.innerText;
                    if (txtValue.toUpperCase().indexOf(filter) > -1) {
                        tr[i].style.display = "";
                    } else {
                        tr[i].style.display = "none";
                    }
                }
            }
        }


    </script>
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>





    {% endblock %}