{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://fonts.google.com/icons"></script>
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/boxicons/2.0.7/css/boxicons.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet"
        href="https://boxicons.com/?query=exit&fbclid=IwAR22yDHvLp_n1ychuVbHpb9TxF8U85lSVnq2vj-pAtauuOijtfBOEMopLLU">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <title>Forgot Password</title>
</head>

<body>
    <div class="title">CTU-AC SUPPLY OFFICE REQUESTS MONITORING SYSTEM</div>

    <div class="wrapper">

       


        <h1>Forgot Password</h1>

        
            <div class="text-center">
                <p>Enter your your email and we'll send you a link to reset you password.</p>
            </div>
            <form  method="post">                      
                {% csrf_token %}

                {% for field in form %}
                <div class="input-box">
                   
                    <input type="{{ field.field.widget.input_type }}"
                           name="{{ field.name }}"
                           placeholder="{{ field.label }}"
                           {% if field.value %}value="{{ field.value }}"{% endif %}>
                </div>
            {% endfor %}

            <div class="input-box">
                <button type="submit" class="btn">Send</button>
            </div>
        </form>
      
        <div class="register-link">
            <a href="{% url 'login' %}">Back to Login</a>
        </div>

    </div>


</body>

</html>