{% extends "accounts/User/main.html" %}


{% load static %}


{% block sidebar %}




<div class="sidebar" id="sidebar" onmouseover="showNames()" onmouseout="hideNames()">
    <div class="d-flex flex-wrap align-content-between h-100">
        <div class="bg-#6C757D w-100" id="sidebar-wrapper">
            <div class="list-group w-100">
                <br><br>

                <a class="list-group-item list-group-item-action p-3 border-0" href="{% url 'ppmp101'%}">
                    <i class="bi bi-file-earmark-medical"></i> <span id="purchaseRequest" class="hidden-name">My PPMP</span>
                </a>
                <a class="list-group-item list-group-item-action p-3 border-0" href="{% url 'purchase'%}">
                    <i class="bi bi-bag-check"></i> <span id="purchaseRequest" class="hidden-name">Purchase Request</span>
                </a>
                <a class="list-group-item list-group-item-action p-3 border-0" href="{% url 'tracker'%}">
                    <i class="bi bi-geo-alt"></i> <span id="requestTracker"
                        class="hidden-name">PPMP Tracker</span>
                </a>

                <a class="list-group-item list-group-item-action p-3 border-0" href="{% url 'purchasetracker'%}">
                    <i class='bx bx-location-plus'></i> <span id="requestTracker"
                        class="hidden-name">Purchase Tracker</span>
                </a>

                <a class="list-group-item list-group-item-action p-3 border-0" href="{% url 'about'%}">
                    <i class="bi bi-info-circle"></i> <span id="about" class="hidden-name">About</span>
                </a>
                
                <a class="list-group-item list-group-item-action p-3 border-0 logout-link"
                    href="{% url 'logout_user'%}">
                    <i class="bi bi-box-arrow-left"></i><span id="logout" class="hidden-name">Logout</span>
                </a>
            </div>
            <div class="profile-container">
                <a href="{% url 'prof' %}">
                    <img class="pro" id="profile-pic" src="{% static 'images/propayl.png' %}"
                        alt="Profile Picture"></a>
            </div>
        </div>
    </div>
</div>

{% endblock %}