{% load static %}
    <br>
    <div class="row w-100 m-auto">
        <div class="col">
            <div class="col-md">
                <div class="card text-center text-white mb-3" id= "total-requester">
                    <div class="card-header">
                        <h5 class="card-title"> Total Orders</h5>
                    </div>
                    <div class="card-body">
                        <h3 class="card-title">{{total_requester}}</h3>
                    </div>  
                </div>
            </div>
        </div>

        <div class="col">
            <div class="col-md">
                <div class="card text-center text-white mb-3" id= "total-status">
                    <div class="card-header">
                        <h5 class="card-title"> Total Status</h5>
                    </div>
                    <div class="card-body">
                        <h3 class="card-title">{{total_status}}</h3>
                    </div>  
                </div>
            </div>
        </div>

        <div class="col">
            <div class="col-md">
                <div class="card text-center text-white mb-3" id= "total-approved">
                    <div class="card-header">
                        <h5 class="card-title"> Total Approved</h5>
                    </div>
                    <div class="card-body">
                        <h3 class="card-title">{{approved}}</h3>
                    </div>  
                </div>
            </div>
        </div>

        <div class="col">
            <div class="col-md">
                <div class="card text-center text-white mb-3" id= "total-pending">
                    <div class="card-header">
                        <h5 class="card-title"> Total Pending</h5>
                    </div>
                    <div class="card-body">
                        <h3 class="card-title">{{pending}}</h3>
                    </div>  
                </div>
            </div>
        </div>

        <div class="col">
            <div class="col-md">
                <div class="card text-center text-white mb-3" id= "total-declined">
                    <div class="card-header">
                        <h5 class="card-title"> Total Declined</h5>
                    </div>
                    <div class="card-body">
                        <h3 class="card-title">{{declined}}</h3>
                    </div>  
                </div>
            </div>
        </div>
    </div>