{% extends "accounts/User/main2.html" %}
 
{% load static %}
 
{% block tracker %}
 
 
 
<div class="ppmp">
  <div class="search">
    <input class="form-control mb-3 pr-6 pl-6" type="text" placeholder="Search" id="search_bar_request" oninput="filterTable()">
  </div>
 
  <div class="custom-f row w-100 m-auto border text-start text-dark">
      <table class="table table-bordered">
        <thead>
          <tr>
            <th class="text-center">DATE REQUESTED</th>
            <th class="text-center">PPMP NO.</th>
            <th class="text-center">BUDGET OFFICER STATUS</th>
            <th class="text-center">CAMPUS DIRECTOR STATUS</th>
            <th class="text-center">COMMENT</th>
            <th class="text-center">LAST UPDATED</th>
          </tr>
        </thead>
        <tbody>
 
          {% for p in checkouts %}
          <tr >
            <td class="text-center" style="color:#003566DE;  font-family: 'Poppins', sans-serif;">{{ p.submission_date }}</td>
              <td class="text-center" style="color:#003566DE;  font-family: 'Poppins', sans-serif;">{{ p.pr_id }}</td>
             
             
    <td class="text-center">
      {% if p.bo_status == 'approved' %}
        <i class="fas fa-check text-success fa-2x animate-icon"></i>
      {% elif p.bo_status == 'declined' %}
        <i class="  fas fa-times"></i>
      {% else %}
        <i class="fa fa-spinner fa-spin"></i>
      {% endif %}
    </td>
 
    <td class="text-center">
      {% if p.cd_status == 'approved' %}
        <i class="fas fa-check text-success fa-2x animate-icon"></i>
      {% elif p.cd_status == 'declined' %}
        <i class="  fas fa-times"></i>
      {% else %}
        <i class="fa fa-spinner fa-spin"></i>
      {% endif %}
    </td>
           
             
 
              <td style="cursor: pointer;" onclick="toggleComments(this)">
                <div class="commentsBlock" style="color:#003566DE;  font-family: 'Poppins', sans-serif;">
                    <p>
                        {% if p.bo_comment %}
                            <strong>Budget Officer :</strong>  {{ p.bo_comment }}
                        {% else %}
                            <strong>Budget Officer :</strong> No comment
                        {% endif %}
                    </p>
                    <p class="campusDirectorComment" style="display: none; color:#003566DE;  font-family: 'Poppins', sans-serif;">
                        {% if p.cd_comment %}
                            <strong>Campus Director:</strong> {{ p.cd_comment }}
                        {% else %}
                            <strong>Campus Director:</strong> No comment
                        {% endif %}
                    </p>
                </div>
           
                <script>
                    function toggleComments(element) {
                        var commentsBlock = element.querySelector('.commentsBlock');
                        var campusDirectorComment = element.querySelector('.campusDirectorComment');
           
                        // Toggle the visibility of the second <p> element
                        if (campusDirectorComment.style.display === 'none' || campusDirectorComment.style.display === '') {
                            campusDirectorComment.style.display = 'block';
                        } else {
                            campusDirectorComment.style.display = 'none';
                        }
                    }
                </script>
            </td>
           
           
           
           
           
             
              <td style="text-align: center; color:#003566DE;  font-family: 'Poppins', sans-serif;">{{ p.last_updated }}</td>
          </tr>
      {% endfor %}
 
       
     
    </div>
  </div>
</div>
{% endblock %}
