{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device=width,initial-scale=1.0">
    <script src="https://fonts.google.com/icons"></script>
    <link rel="stylesheet" href="{% static 'css/verify.css' %}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://boxicons.com/?query=exit&fbclid=IwAR22yDHvLp_n1ychuVbHpb9TxF8U85lSVnq2vj-pAtauuOijtfBOEMopLLU">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>


    <title>Input Code</title>
</head>

<body>
    <div class="title">Online Supply System</div>
    <div class="wrapper">
        <div>
            <img class="verification_icon" src="{% static 'images/verify.png' %}" alt="">
        <div>
            <form action="{% url 'verify_code' %}" method="post">
                {% csrf_token %}
                <header></header>
                <h1>Input Code</h1>
                <p>
                    <img class="message" src="{% static 'images/message.png' %}" alt="">
                    Enter the Confirmation Code we sent to your phone.
                </p>
                <div class="otp-bx">
                    <input type="number" name="code1" required oninput="maxLengthCheck(this, 1)">
                    <input type="number" name="code2" required oninput="maxLengthCheck(this, 1)">
                    <input type="number" name="code3" required oninput="maxLengthCheck(this, 1)">
                    <input type="number" name="code4" required oninput="maxLengthCheck(this, 1)">
                </div>
                <div class="verify-link">
                    <a href="#">Resend Code:</a>
                </div>
                <div>
                    <button type="submit" class="btn">Verify Code</button>
                </div>
            </form>
            
    </div>

</body>    
</html>