{% load static %}
<!DOCTYPE html>
<html lang="en">  
  <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>Requesting Page</title>
      <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto|Varela+Round|Open+Sans">
      <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
      <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
      <link rel="stylesheet" href="{% static 'css/main.css' %}">
      <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
      <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js" integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+" crossorigin="anonymous"></script>
      <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    

  </head>
  <body>
    <main class="flex-shrink">
      <div id="page-content-wrapper ">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
          <div class="row w-100 m-auto">
            <div class="col-md-3 col-lg-3 d-none d-sm-none d-md-block d-lg-block">
              <img class="ctu_logo mx-3" src="{% static 'images/ctu_loogo.png' %}" alt="CTU LOGO">
            </div>
            <div class="col-7 col-sm-9 col-md-6 col-lg-7  text-center d-grid align-content-center">
                <h1 class="head text-white">Online Supply Office</h1>
                <h1 class="p1">Cebu Technological University - Argao Campus</h1>
            </div>
            <div class="col-5 col-sm-3 col-md-3 col-lg-2 text-center d-grid align-content-center">
             
                <a href="{% url 'profile' %}">
                  <img class="profile_img" src="{% static 'images/profile_default_image.png' %}" alt="">
                </a>
                <h1 class="p1">Profile Name</h1>
            
            </div>
          </div>
        </nav>
      </div>
      <h1 class="welcome">Welcome to Cebu Technological University - Argao Campus Online Supply System </h1>
      <div class="d-flex" id="wrapper">
        
         <!-- Sidebar-->
        <div class="sidebar d-none d-sm-none d-md-block d-lg-block">
          <div class="d-flex flex-wrap align-content-between h-100">
            <div class="bg-white w-100" id="sidebar-wrapper">
              <div class="list-group w-100">
                <a class="list-group-item list-group-item-action list-group-item-light p-3 border-0" href="{% url 'notification' %}">Home</a>
                <a class="list-group-item list-group-item-action list-group-item-light p-3 border-0" href="{% url 'requester' %}">Purchase Request</a>
                <a class="list-group-item list-group-item-action list-group-item-light p-3 border-0" href="{% url 'tracker' %}">Request Tracker</a>
                <a class="list-group-item list-group-item-action list-group-item-light p-3 border-0" href="{% url 'history' %}">History</a>
                <a class="list-group-item list-group-item-action list-group-item-light p-3 border-0" href="{% url 'about' %}">About Us</a>
              </div>
            </div>
        
            <a class="list-group-item list-group-item-action list-group-item-light p-3 border-0" href="{% url 'login' %}">
              <img class="arrow_img" src="{% static 'images/arrow_right.png' %}" alt=""> Logout
            </a>
          </div>
        </div>

        <div class="container-fluid" style=" height: 68vh; overflow-y: auto; overflow-x: hidden; ">
          <div class="row m-auto w-auto">
            <div class="col-md-3 col-lg-3 d-block d-sm-block d-md-none d-lg-none">
              <div class="dropdown m-3">
                <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                  <i class="fa fa-bars" aria-hidden="true"></i>
                </button>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="#">Home</a></li>
                  <li><a class="dropdown-item" href="#">Purchase Request</a></li>
                  <li><a class="dropdown-item" href="#">Request Tracker</a></li>
                  <li><a class="dropdown-item" href="#">History</a></li>
                  <li><a class="dropdown-item" href="#">About Us</a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="container">
            <h1 class="pr text-center pt-4">HISTORY ON REQUEST PURCHASES</h1>  
          </div>
          <div class="container" style=" display: inline-flex; margin: 3; flex-direction: column;">
            <div style="display: flex; align-items: baseline; flex-wrap: nowrap;">
              <i class="fa fa-circle px-3" aria-hidden="true" style="color: green;"></i>
              <strong>Successful Requests</strong>
            </div>
            <div style="display: flex; align-items: baseline; flex-wrap: nowrap;">
              <i class="fa fa-circle px-3" aria-hidden="true" style="color: red;"></i>
              <strong>Failed Requests</strong>
            </div>
          </div>
          <div class="row w-100 m-auto border text-center text-danger">
            <div class="col-4">
              <p>
                Purchase Request No. 000001
              </p>
            </div>
            <div class="col-3">
              <p>
                John Doe
              </p>
            </div>
            <div class="col-3">
              <p>
                27/09/2023
              </p>
            </div>
            <div class="col-2" onclick="red()">
              <i class="fa fa-eye" aria-hidden="true"></i>
            </div>
            
          </div>
          <div class="row w-100 m-auto border text-center text-success">
            <div class="col-4">
              <p>
                Purchase Request No. 000002
              </p>
            </div>
            <div class="col-3">
              <p>
                John Doe
              </p>
            </div>
            <div class="col-3">
              <p>
                28/09/2023
              </p>
            </div>
            <div class="col-2"  data-bs-toggle="modal" data-bs-target="#exampleModal">
              <i class="fa fa-eye" aria-hidden="true"></i>
            </div>
          <!-- Modal -->
          <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                  <div class="row">
                    <div class="row w-100 m-auto text-dark text-start mb-3">
                      <div class="col-12">
                        <p>
                         <strong>Approved on:</strong> mm/dd/yy
                        </p>
                      </div>
                    </div>
                    <div class="row w-100 m-auto border text-start p-0 text-dark ">
                      <div class="col-6 border">
                        <p>
                          Office/ Section:
                        </p>
                      </div>
                      <div class="col-6 border text-dark text-start">
                        <p>
                          PR No.: 0000002
                        </p>
                      </div>
                  </div>
                    <div class="row w-100 m-auto border text-dark text-start">
                      <div class="col-12">
                        <p>
                          Department:
                        </p>
                      </div>
                    </div>
                    <div class="row w-100 m-auto border text-dark text-start">
                      <div class="col-12">
                        <p>
                          Purpose:
                        </p>
                      </div>
                  </div>
                  <table class="table table-bordered table-responsive" id="itemTable">
                    <thead>
                        <tr>
                            <th class="">Stock/ Property No.</th>
                            <th class="">Unit</th>
                            <th class="">Item Brand/Description</th>
                            <th class="">Quantity</th>
                            <th class="">Unit Cost</th>
                            <th class="">Total Cost</th>
                        </tr>
                    </thead>
                    <tbody>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        
              
                    </tbody>
                </table>
                <div 
                  class="container justify-content-end align-items-baseline">
                  Total Amount:_______
                </div>
            </div>
          </div>
       </div>
      </div> 
    </main>
    <footer>
      <div class="footer" style="height: 45px;">

      </div>
    </footer>
  </body>
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js" integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
  <script>
    function red() {
      Swal.fire({
          title: 'Your request has been declined',
          text: "Reason of Disapproval: "
        })

        if (text) {
          Swal.fire(text)
        }
    }

    const MongoClient = require('mongodb').MongoClient;

const url = 'mongodb://localhost:27017'; // Replace with your MongoDB connection string
const dbName = 'inventorydb';

MongoClient.connect(url, { useNewUrlParser: true, useUnifiedTopology: true }, (err, client) => {
  if (err) throw err;

  const db = client.db(dbName);

  // Now you can query the database and retrieve the data.
});


    // Assuming you have a collection named "requests" in your database
const requestsCollection = db.collection('items');

requestsCollection.findOne({ /* Your query criteria here */ }, (err, request) => {
  if (err) throw err;

  // Once you have the data from MongoDB, populate your HTML template
  const modalBody = document.querySelector('.modal-body');
  const approvedOn = document.querySelector('.modal-body strong');
})