{% load static %}
<!DOCTYPE html>
<html lang="en">  
  <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>Requesting Page</title>
      <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto|Varela+Round|Open+Sans">
      <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
      <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
      <link rel="stylesheet" href="{% static 'css/main.css' %}">
      

  </head>
    <body>
        <main class="flex-shrink">
        <div id="page-content-wrapper ">
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <div class="row w-100 m-auto">
                  <div class="col-md-3 col-lg-3 d-none d-sm-none d-md-block d-lg-block">
                    <img class="ctu_logo mx-3" src="{% static 'images/ctu_loogo.png' %}" alt="CTU LOGO">
                  </div>
                  <div class="col-7 col-sm-9 col-md-6 col-lg-7  text-center d-grid align-content-center">
                      <h1 class="head text-white">Online Supply Office</h1>
                      <h1 class="p1">Cebu Technological University - Argao Campus</h1>
                  </div>
                  <div class="col-5 col-sm-3 col-md-3 col-lg-2">
                    <div>
                      <a href="{% url 'profile' %}">
                        <img class="profile_img" src="{% static 'images/profile_default_image.png' %}" alt="">
                      </a>
                    <div>
                      <h1 class="p1">Profile Name</h1>
                    </div>
                  </div>
                </div>
              </nav>
        </div>
        <h1 class="welcome">Welcome to Cebu Technological University - Argao Campus Online Supply System </h1>
        <div class="d-flex" id="wrapper">
            <!-- Sidebar-->
            <div class="sidebar">
            <div class="d-flex flex-wrap align-content-between h-100">
                <div class="bg-white w-100" id="sidebar-wrapper">
                    <div class="list-group w-100">
                        <a class="list-group-item list-group-item-action list-group-item-light p-3 border-0" href="{% url 'supply_office_home' %}">Home</a>
                        <a class="list-group-item list-group-item-action list-group-item-light p-3 border-0" href="{% url 'supply_office_inventory' %}">Inventory</a>
                        <a class="list-group-item list-group-item-action list-group-item-light p-3 border-0" href="{% url 'supply_office_history' %}">History</a>
                        <a class="list-group-item list-group-item-action list-group-item-light p-3 border-0" href="{% url 'supply_office_about' %}">About Us</a>
                      </div>
                </div>
                <a class="list-group-item list-group-item-action list-group-item-light p-3 border-0" href="{% url 'login' %}">
                <img class="arrow_img" src="{% static 'images/arrow_right.png' %}" alt=""> Logout
                </a>
            </div>
            </div>

            <div class="container-fluid" style=" height: 68vh; overflow-y: auto; overflow-x: hidden; ">
                <div class="container">
                    <h1 class="pr text-center pt-4">HISTORY</h1>  
                </div>
                <div class="row w-100 m-auto border text-center">
                    <div class="col-4  text-start">
                        <p>
                            Purchase Request No. 000002.
                        </p>
                    </div>
                    <div class="col-4  text-center">
                        <p>
                            27/09/2023
                        </p>
                    </div>
                    <div class="col-4 text-center"  data-bs-toggle="modal" data-bs-target="#exampleModal">
                        <i class="fa fa-eye" aria-hidden="true"></i>
                    </div>
                </div>
                <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered">
                        <div class="modal-content">
                            <div class="modal-header">
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <div class="row">
                                    <div class="row w-100 m-auto text-dark text-center mb-5">
                                        <div class="col-12">
                                            <p>
                                                <strong>Purchase Request No. 000001</strong>
                                            </p>
                                        </div>
                                    </div>
                                    <div class="row w-100 m-auto text-dark text-start mb-2">
                                        <div class="col-12">
                                            <p>
                                                <strong>Requester:</strong> Requester Name
                                            </p>
                                        </div>
                                    </div>
                                    <div class="row w-100 m-auto text-dark text-start mb-2">
                                        <div class="col-12">
                                            <p>
                                                <strong>Date Requested:</strong> mm/dd/yy
                                            </p>
                                        </div>
                                    </div>
                                    <div class="row w-100 m-auto text-dark text-start mb-2">
                                        <div class="col-12">
                                            <p>
                                                <strong>Date Completed:</strong> mm/dd/yy
                                            </p>
                                        </div>
                                    </div>
                                    <div class="row w-100 m-auto border text-start p-0 text-dark ">
                                        <div class="col-6 border">
                                            <p>
                                            PR ID:
                                            </p>
                                        </div>
                                        <div class="col-6 border text-dark text-start">
                                            <p>
                                            Requester ID:
                                            </p>
                                        </div>
                                    </div>
                                    <div class="row w-100 m-auto border text-dark text-start">
                                        <div class="col-12">
                                            <p>
                                            Department:
                                            </p>
                                        </div>
                                    </div>
                                    <div class="row w-100 m-auto border text-dark text-start">
                                        <div class="col-12">
                                            <p>
                                            Purpose:
                                            </p>
                                        </div>
                                    </div>
                                </div>    
                                <table class="table table-bordered table-responsive" id="itemTable">
                                    <thead>
                                        <tr>
                                            <th class="">Item No.</th>
                                            <th class="">Item Name</th>
                                            <th class="">Item Brand/Description</th>
                                            <th class="">Unit</th>
                                            <th class="">Quantity</th>
                                            <th class="">Price</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <td>1</td>
                                        <td>test</td>
                                        <td>test</td>
                                        <td>test</td>
                                        <td>test</td>
                                        <td>test</td>
                                    </tbody>
                                </table>
                                <div 
                                    class="container justify-content-end align-items-baseline">
                                    Total Amount:_______
                                </div>
                                
                            </div>
                        </div>
                    </div>
                </div>
            </div> 
        </main>
        <footer>
        <div class="footer" style="height: 45px;">

        </div>
        </footer>
     </body>
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js" integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>