{% extends "accounts/Admin/BAC_Secretariat/nav.html" %}

{% load static %}


{% block bac_purchaserequest %}


<style>
    .table-bordered th {
        background-color: #1c96c5;
    }


    .table-and-comment {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }


    .icons-container {
        display: flex;
        justify-content: center;
        margin-top: 20px;
        margin-right: 50px;
    }

    .icon-link {
        margin-left: 20px;
        margin-top: 16px;
        text-decoration: none;
        color: white;
    }




    .icon-link {
        margin-left: 20px;
        text-decoration: none;
        color: white;
    }


    .input-box {
        width: 30%;

        margin-top: 1px;
        margin-left: 16px;
        margin-right: 20px;
    }

    .input-box input {
        width: 100%;
        height: 40px;
        padding: 10px;
        box-sizing: border-box;
        border: none;
        border-radius: 5px;
    }

    .send-icon {
        position: fixed;
        top: 90%;
        left: 65%;
        width: 30px;
        height: 30px;
        background-color: #4CAF50;
        color: white;
        text-align: center;
        border-radius: 5px;
        cursor: pointer;
        margin-top: 39px;
        margin-left: -80px;
    }

    .send-icon i {
        line-height: 30px;
    }

    .footer {
        background-color: rgba(10, 99, 158, 0.637);
        text-align: center;
        width: 100%;
        height: 100px;
        bottom: 0;
        -webkit-user-modify: read-only;
        position: fixed;
        z-index: 2;
        position: fixed;
    }

    .p {
        size: 12px;
    }




    .subpage {
        padding: 1cm;
        border: 5px red solid;
        height: 256mm;
        outline: 2cm #FFEAEA solid;
    }

    @page {
        size: A4;
        margin: 0;
    }


    @media print {
        .footer {
            display: none;
        }

        .input-box,
        .icons-container {
            display: none;
        }
    }

    .container {
        text-align: center;
    }

    .aprv,
    .disaprv {
        font-size: 15px;
        margin-right: 5px;
        margin-left: 5px;
        margin-top: 5px;
        margin-bottom: 11px;
        color: #ffa125e3;
        background-color: rgba(9, 87, 139, 0.616);
        padding: 10px 12px;
        border-radius: 8px;
        border: 1px solid rgba(9, 87, 139, 0.616);
        transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out;
    }


    .aprv:hover,
    .disaprv:hover {
        color: #ffa125e3;
        background-color: #000000e3;
    }

    
    .footer {
        display: left;
        justify-content: space-between;
        align-items: center;  /* Vertically center the content */
    }
    
    .icons-container {
        display: flex;
        align-items: center;
    }
    
    .button-container {
        display: flex;
        gap: 10px; /* Adjust the gap between buttons as needed */
    }
    
    .slip-icon {
        width: 50px; /* Adjust the width as needed */
        height: auto; /* Maintain the aspect ratio */
        margin-right: 15px
    }
    
    /* Additional styles for buttons if necessary */

    .bck a  {
       
        text-decoration: none;
    }
    
    .bck img {
        width: 50px;
        height: 50px;
        transition: transform 0.3s ease-in-out;
        position: relative;
        top: -4.0vh;
      
        
    }
    
    .bck:hover img {
        transform: scale(1.2); /* Scale the image to 1.2 times its original size on hover */
    }
    .home {
        position: fixed;
        top: 20vh;
    }
     
    .home img {
        width: 40px;
        height: 40px;
        transition: transform 0.3s ease-in-out;
        animation: beat 2s infinite;
        position: relative;
        margin-left: .5vh;
    }
    
    
    @keyframes beat{
        0%{
            transform: scale(1);
        }
        50%{
            transform: scale(1.2);
        }
        100%{
            transform: scale(1);
        }
    }
     
    .home:hover img {
        animation-play-state: paused;
        transform: scale(1.2); 
    }
    
    .ctu_logo {
    position: absolute;
    left: 40px;
    top: -47px;
    width: 100px;
    height: 100px;
    margin: 0 3px;
} 
</style>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
<link rel="stylesheet" href="{% static 'css/request.css' %}">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">


<div class="container-fluid main-content" style="height: 82vh; overflow-y: auto; overflow-x: hidden;">

        <h1 style="text-align: center; margin-top: 50px"> <strong>PURCHASE REQUEST ITEMS
        </strong> </h1>

        <div class="home">
            <a href="{% url 'baclanding' %}" onclick="toggleAnimation()">
                <img src="{% static 'svg/home5.svg' %}" alt="baclanding">
            </a>
        </div>
        <script>
        function toggleAnimation() {
            var img = document.getElementById('homeImg');
            if (img.style.animationPlayState === 'paused') {
                img.style.animationPlayState = 'running'; // Resume animation
            } else {
                img.style.animationPlayState = 'paused'; // Pause animation
            }
        }
        </script>
        <div class="bck">
            <a href="{% url 'bac_request' %}">
                <img src="{% static 'images/back2.png' %}" alt="Previous">
            </a>
        </div>

    <div class="table-responsive">

        <table class="table table-bordered" style="margin-top: 1px;">
            <thead>
                <tr>
                <tr>
                    <th rowspan='2'>Item Name</th>
                    <th rowspan='2'> Brand / Description</th>
                    <th rowspan='2'>Unit</th>
                    <th rowspan='2'>Unit Price</th>

                </tr>
                

            </thead>
            <tbody>
                {% for p in checkout_items %}

                <tr class="item-row" id="{{ p.id }}">

                    <td>
                        <span class="editable" data-field="Item_name">{{ p.item }}</span>
                        <input id="item_{{ p.id }}" name="item" type="text" value="{{ p.item }}"
                            oninput="change_val('item_{{ p.id }}')" class="edit-input" style="display: none">
                    </td>
                    <td>
                        <span class="editable" data-field="Item_Brand">{{ p.item_brand_description }}</span>
                        <input id="item_brand_{{ p.id }}" name="item_brand" type="text"
                            value="{{ p.item_brand_description }}" oninput="change_val('item_brand_{{ p.id }}')"
                            class="edit-input" style="display: none">
                    </td>

                    <td>
                        <span class="editable" data-field="Unit">{{ p.unit }}</span>
                        <input id="unit_{{ p.id }}" name="unit" type="text" value="{{ p.unit }}"
                            oninput="change_val('unit_{{ p.id }}')" class="edit-input" style="display: none">
                    </td>

                    <td>
                        <span class="editable" data-field="Unit_price">{{ p.unit_cost }}</span>
                    </td>

                    



                </tr>

                {% endfor %}

            </tbody>

        </table>
    </div>
</div>


{% endblock %}