{% extends "accounts/Admin/BAC_Secretariat/nav.html" %}


{% load static %}

{% block bac_ppmp %}

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
<link rel="stylesheet" href="{% static 'css/myppmp.css' %}">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

<style>
    #viewCommentsBtn {
        border: 1px solid black;
        background-color: white;
        color: black;
        transition: background-color 0.3s, color 0.3s;
    }

    #viewCommentsBtn:hover {
        background-color: #1c96c5;
        color: white;
    }

    .bck a {
        display: flex;
        align-items: center;
        text-decoration: none;
    }

    .bck img {
        width: 30px;
        height: 30px;
        transition: transform 0.3s ease-in-out;
        /* Apply transition to the transform property */
    }

    .bck:hover img {
        transform: scale(1.2);
        /* Scale the image to 1.2 times its original size on hover */
    }

    body {
        margin-top: 20px;
        background-color: #e9ebee;
    }

    .be-comment-block {
        margin-bottom: 50px !important;
        border: 1px solid #edeff2;
        border-radius: 2px;
        padding: 50px 70px;
        border: 1px solid #ffffff;
    }

    .comments-title {
        font-size: 16px;
        color: #262626;
        margin-bottom: 15px;
        font-family: 'Conv_helveticaneuecyr-bold';
    }

    .be-img-comment {
        width: 60px;
        height: 60px;
        float: left;
        margin-bottom: 15px;
    }

    .be-ava-comment {
        margin-top: 45px;
        margin-left: 20px;
        width: 40px;
        height: 40px;
        border-radius: 50%;
    }

    .be-comment-content {
        margin-left: 80px;
    }

    .be-comment-content span {
        display: inline-block;
        width: 49%;
        margin-bottom: 15px;
    }

    .be-comment-name {
        font-size: 13px;
        font-family: 'Conv_helveticaneuecyr-bold';
    }

    .be-comment-content a {
        color: #383b43;
    }

    .be-comment-content span {
        display: inline-block;
        width: 49%;
        margin-bottom: 15px;
    }

    .be-comment-time {
        text-align: right;
    }

    .be-comment-time {
        font-size: 11px;
        color: #b4b7c1;
    }

    .be-comment-text {
        font-size: 13px;
        line-height: 18px;
        color: #7a8192;
        display: block;
        background: #f6f6f7;
        border: 1px solid #edeff2;
        padding: 15px 20px 20px 20px;
    }

    .btn-primary {
        margin-left: 0%;
        color: #fff;
        background-color: #1c96c5;
        border-color: #1c96c5;
    }

    .custom-card-width {
        max-width: 500px;
        
        float: left;
    }
</style>

<div class="container-fluid main-content">

    <div class="container">
        <h1 class="pr text-center pt-4"><strong>PROJECT PROCUREMENT MANAGEMENT PLAN(PPMP) {{ year }}</strong></h1>

    </div>
    <div class="bck">
        <a href="{% url 'bac_home' %}">
            <img src="{% static 'images/arrow-left.png' %}" alt="Previous">
        </a>
    </div>

    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">


    <div class="table-responsive">


        <table class="table table-bordered">
            <thead>
                <tr>
                <tr>
                    <th rowspan='2'>Item Name</th>
                    <th rowspan='2'> Brand / Description</th>
                    <th rowspan='2'>Unit</th>
                    <th rowspan='2'>Estimated Budget</th>
                    <th colspan="12">Monthly Quantity Requirement</th>
                    <th rowspan='2'>Unit Price</th>
                </tr>
                <tr>
                    <th>Jan</th>
                    <th>Feb</th>
                    <th>Mar</th>
                    <th>April</th>
                    <th>May</th>
                    <th>June</th>
                    <th>July</th>
                    <th>Aug</th>
                    <th>Sept</th>
                    <th>Oct</th>
                    <th>Nov</th>
                    <th>Dec</th>
                </tr>

                </tr>
            </thead>
            <tbody>
                {% for p in checkout_items %}


                <tr class="item-row" id="{{ p.id }}">

                    <td>
                        <span class="editable" data-field="Item_name">{{ p.item }}</span>
                        <input id="item_{{ p.id }}" name="item" type="text" value="{{ p.item }}"
                            oninput="change_val('item_{{ p.id }}')" class="edit-input" style="display: none">
                    </td>
                    <td>
                        <span class="editable" data-field="Item_Brand">{{ p.item_brand_description }}</span>
                        <input id="item_brand_{{ p.id }}" name="item_brand" type="text"
                            value="{{ p.item_brand_description }}" oninput="change_val('item_brand_{{ p.id }}')"
                            class="edit-input" style="display: none">
                    </td>
                    <td>
                        <span class="editable" data-field="Unit">{{ p.unit }}</span>
                        <input id="unit_{{ p.id }}" name="unit" type="text" value="{{ p.unit }}"
                            oninput="change_val('unit_{{ p.id }}')" class="edit-input" style="display: none">
                    </td>
                    <td>{{ p.estimate_budget }}</td>
                    <td>{{ p.jan }}</td>
                    <td>{{ p.feb }}</td>
                    <td>{{ p.mar }}</td>
                    <td>{{ p.apr }}</td>
                    <td>{{ p.may }}</td>
                    <td>{{ p.jun }}</td>
                    <td>{{ p.jul }}</td>
                    <td>{{ p.aug }}</td>
                    <td>{{ p.sep }}</td>
                    <td>{{ p.oct }}</td>
                    <td>{{ p.nov }}</td>
                    <td>{{ p.dec }}</td>

                    <td>{{ p.unit_cost }}</td>




                </tr>

                {% endfor %}

            </tbody>
        </table>

    </div>
    <td>
        <span class="editable" data-field="Price">{{ p.unit_cost }}</span>
        <input id="price_{{ p.id }}" name="price" type="number" value="{{ p.unit_cost }}"
            oninput="change_val('price_{{ p.id }}')" class="edit-input" style="display: none">
    </td>

    </tr>

    </tbody>
    </table>

    



        </div>
    </div>





    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

    <script>

        $(document).ready(function () {

            function updateEstimateBudgetForRow(row) {

                var unitPrice = parseFloat(row.find('[name="price"]').val());


                var totalValue = 0;


                row.find('[name^="jan"], [name^="feb"], [name^="mar"], [name^="apr"], [name^="may"], [name^="jun"], [name^="jul"], [name^="aug"], [name^="sep"], [name^="oct"], [name^="nov"], [name^="dec"]').each(function () {
                    var monthValue = parseFloat($(this).val()) || 0;
                    totalValue += monthValue;
                });


                var estimateBudget = totalValue * unitPrice;


                row.find('[name="estimate_budget"]').val(estimateBudget.toFixed(2));
            }


            $('[name^="jan"], [name^="feb"], [name^="mar"], [name^="apr"], [name^="may"], [name^="jun"], [name^="jul"], [name^="aug"], [name^="sep"], [name^="oct"], [name^="nov"], [name^="dec"]').on('input', function () {

                var row = $(this).closest('tr.item-row');
                updateEstimateBudgetForRow(row);
            });


            $('[name="price"]').on('input', function () {

                var row = $(this).closest('tr.item-row');
                updateEstimateBudgetForRow(row);
            });
        });
    </script>

    <script>
        $(document).ready(function () {
            $('.dropdown-item').on('click', function (e) {
                e.stopPropagation();
                var selectedYear = $(this).text();
                updateButtonStyle(selectedYear);
                hideDropdown();
            });


            document.getElementById('yearDropdown').addEventListener('click', function () {
                this.style.backgroundColor = ' #f59a23e7';
            });


            function updateButtonStyle(selectedYear) {
                $('.dropdown-item').removeClass('selected');
                $('.dropdown-item[data-year="' + selectedYear + '"]').addClass('selected');
                $('.btn#yearDropdown').text(selectedYear).css('background-color', ' #f59a23e7');

            }


            function hideDropdown() {
                $('.custom-dropdown').removeClass('show');
                $('.custom-dropdown').find('.dropdown-toggle').attr('aria-expanded', 'false');
                $('.custom-dropdown').find('.dropdown-menu').removeClass('show');
            }
        });
    </script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

    <script>
        function toggleText() {
            var textContainer = document.getElementById("textContainer");
            textContainer.style.display = (textContainer.style.display === "none" || textContainer.style.display === "") ? "block" : "none";
        }
    </script>

    {% endblock %}