{% extends "accounts/Admin/BAC_Secretariat/bac.html" %}

{% load static %}

{% block bac_home %}

<style>
    .table-bordered th {
        background-color: #003566DE;
        color: white
    }

    .bck a  {
        display: flex;
        align-items: center;
        text-decoration: none;
    }
    
    .bck img {
        width: 50px;
        height: 50px;
        transition: transform 0.3s ease-in-out;
        position: relative;
        top: -15vh;
      
        
    }
    
    .bck:hover img {
        transform: scale(1.2); 
    }
        


    .table-and-comment {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }


    .icons-container {
        display: flex;
        justify-content: center;
        margin-top: 20px;
        margin-right: 50px;
    }

    .icon-link {
        margin-left: 20px;
        margin-top: 16px;
        text-decoration: none;
        color: white;
        /* Adjust the color as needed */
    }




    .icon-link {
        margin-left: 20px;
        text-decoration: none;
        color: white;
        /* Adjust the color as needed */
    }


    .input-box {
        width: 30%;

        margin-top: 1px;
        margin-left: 16px;
        margin-right: 20px;
    }

    .input-box input {
        width: 100%;
        height: 40px;
        padding: 10px;
        box-sizing: border-box;
        border: none;
        border-radius: 5px;
    }

    .send-icon {
        position: fixed;
        top: 90%;
        left: 65%;
        width: 30px;
        height: 30px;
        background-color: #4CAF50;
        color: white;
        text-align: center;
        border-radius: 5px;
        cursor: pointer;
        margin-top: 39px;
        margin-left: -80px;
    }

    .send-icon i {
        line-height: 30px;
    }

    .footer {
        background-color: rgba(1, 33, 67, 0.9);
        text-align: center;
        width: 100%;
        height: 100px;
        bottom: 0;
        -webkit-user-modify: read-only;
        position: fixed;
        z-index: 2;
        position: fixed;
    }

    .p {
        size: 12px;
    }




    .subpage {
        padding: 1cm;
        border: 5px red solid;
        height: 256mm;
        outline: 2cm #FFEAEA solid;
    }

    @page {
        size: A4;
        margin: 0;
    }


    @media print {
        .footer {
            display: none;
        }

        .input-box,
        .icons-container {
            display: none;
        }
    }

    .container {
        text-align: center;
    }

    .aprv,
    .disaprv {
        font-size: 15px;
        margin-right: 5px;
        margin-left: 5px;
        margin-top: 5px;
        margin-bottom: 11px;
        color: #ffa125e3;
        background-color: rgba(9, 87, 139, 0.616);
        padding: 10px 12px;
        border-radius: 8px;
        border: 1px solid rgba(9, 87, 139, 0.616);
        transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out;
    }


    .aprv:hover,
    .disaprv:hover {
        color: #ffa125e3;
        background-color: #000000e3;
    }


    .footer {
        display: left;
        justify-content: space-between;
        align-items: center;  /* Vertically center the content */
    }
    
    .icons-container {
        display: flex;
        align-items: center;
    }
    
    .button-container {
        display: flex;
        gap: 10px; /* Adjust the gap between buttons as needed */
    }
    
    .slip-icon {
        width: 50px; /* Adjust the width as needed */
        height: auto; /* Maintain the aspect ratio */
        margin-right: 15px
    }

    .bck a {
        display: flex;
        align-items: center;
        text-decoration: none;
        margin-bottom: 10px;
    }
    
    .bck img {
        width: 50px;
        height: 50px;
        margin-top: 18vh;
        transition: transform 0.3s ease-in-out; /* Apply transition to the transform property */
    }
    
    .bck:hover img {
        transform: scale(1.2); /* Scale the image to 1.2 times its original size on hover */
    }
    .cdlanding a {
        display: flex;
        align-items: center;
        text-decoration: none;
    
    
    }
     
    .cdlanding img {
        margin-bottom: 8px;
        width: 40px;
        height: 40px;
        transition: transform 0.3s ease-in-out;
        animation: beat 2s infinite;
      
        margin-left: .5vh;
    }
    
    
    @keyframes beat{
        0%{
            transform: scale(1);
        }
        50%{
            transform: scale(1.2);
        }
        100%{
            transform: scale(1);
        }
    }
     
    .cdlanding:hover img {
        animation-play-state: paused;
        transform: scale(1.2); 
    }

     
    .home img {
        width: 40px;
        height: 40px;
        position: relative;
        margin-left: .5vh;
        top: 1vh;
    }
    
    
    @keyframes beat{
        0%{
            transform: scale(1);
        }
        50%{
            transform: scale(1.2);
        }
        100%{
            transform: scale(1);
        }
    }
     
    .home:hover img {
        animation-play-state: paused;
        transform: scale(1.2); 
    }

    .center-text {
        text-align: center;
    }
    
    .table thead th[rowspan='2'] {
        vertical-align: middle;
    }

    .ctu_logo {
    position: absolute;
    left: 40px;
    top: -47px;
    width: 100px;
    height: 100px;
    margin: 0 3px;
}
</style>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">


<div class="container-fluid main-content" style="height: 82vh; overflow-y: auto; overflow-x: hidden;">

    <div class="container">
    </div>
  
    <script>
    function toggleAnimation() {
        var img = document.getElementById('cdlandingImg');
        if (img.style.animationPlayState === 'paused') {
            img.style.animationPlayState = 'running'; // Resume animation
        } else {
            img.style.animationPlayState = 'paused'; // Pause animation
        }
    }
    </script>
    <div class="row">
        <div class="col-md-1 mb-3"> 
            <div class="bck">
                <a href="{% url 'bac_home' %}">
                    <img src="{% static 'images/back2.png' %}" alt="Previous">
                </a>
            </div>
        </div>
    </div>    

    <div class="table-responsive" style="margin-top: -15vh;">
        <form action="{% url 'bac_ppmp' pr_id=pr_id %}" method="post" id ="form_id">
            {% csrf_token %}


        <table class="table table-bordered" style="margin-top: 1px;">
            <thead>
            <tr>
            <th rowspan='2' class="center-text">Item Name</th>
            <th rowspan='2' class="center-text">Brand / Description</th>
            <th rowspan='2' class="center-text">Unit</th>
            <th rowspan='2' class="center-text">Estimated Budget</th>
            <th colspan="12" class="center-text">Monthly Quantity Requirement</th>
            <th rowspan='2' class="center-text">Unit Price</th>
            
        </tr>
                    <th>Jan</th>
                    <th>Feb</th>
                    <th>Mar</th>
                    <th>April</th>
                    <th>May</th>
                    <th>June</th>
                    <th>July</th>
                    <th>Aug</th>
                    <th>Sept</th>
                    <th>Oct</th>
                    <th>Nov</th>
                    <th>Dec</th>

            </thead>
            <tbody>
                {% for p in checkout_items %}

                <tr class="item-row" id="{{ p.id }}">
                    <td>
                        <span class="editable" data-field="Item_name">{{ p.item }}</span>
                        <input id="item_{{ p.id }}" name="item" type="text" value="{{ p.item }}"
                            oninput="change_val('item_{{ p.id }}')" class="edit-input" style="display: none">
                    </td>
                    <td>
                        <span class="editable" data-field="Item_Brand">{{ p.item_brand_description }}</span>
                        <input id="item_brand_{{ p.id }}" name="item_brand" type="text"
                            value="{{ p.item_brand_description }}" oninput="change_val('item_brand_{{ p.id }}')"
                            class="edit-input" style="display: none">
                    </td>
                    <td>
                        <span class="editable" data-field="Unit">{{ p.unit }}</span>
                        <input id="unit_{{ p.id }}" name="unit" type="text" value="{{ p.unit }}"
                            oninput="change_val('unit_{{ p.id }}')" class="edit-input" style="display: none">
                    </td>

                    <td>{{ p.estimate_budget }}</td>
                    <td>{{ p.jan }}</td>
                    <td>{{ p.feb }}</td>
                    <td>{{ p.mar }}</td>
                    <td>{{ p.apr }}</td>
                    <td>{{ p.may }}</td>
                    <td>{{ p.jun }}</td>
                    <td>{{ p.jul }}</td>
                    <td>{{ p.aug }}</td>
                    <td>{{ p.sep }}</td>
                    <td>{{ p.oct }}</td>
                    <td>{{ p.nov }}</td>
                    <td>{{ p.dec }}</td>
                    <td>
                        <span class="editable" data-field="Price">{{ p.unit_cost }}</span>
                        <input id="price_{{ p.id }}" name="price" type="number" value="{{ p.unit_cost }}"
                            oninput="change_val('price_{{ p.id }}')" class="edit-input" style="display: none">
                    </td>
                    <input type="hidden" name="estimate_budget" value="{{ p.estimate_budget }}">
                    <input type="hidden" name="jan" value="{{ p.jan }}">
                    <input type="hidden" name="feb" value="{{ p.feb }}">
                    <input type="hidden" name="mar" value="{{ p.mar }}">
                    <input type="hidden" name="apr" value="{{ p.apr }}">
                    <input type="hidden" name="may" value="{{ p.may }}">
                    <input type="hidden" name="jun" value="{{ p.jun }}">
                    <input type="hidden" name="jul" value="{{ p.jul }}">
                    <input type="hidden" name="aug" value="{{ p.aug }}">
                    <input type="hidden" name="sep" value="{{ p.sep }}">
                    <input type="hidden" name="oct" value="{{ p.oct }}">
                    <input type="hidden" name="nov" value="{{ p.nov }}">
                    <input type="hidden" name="dec" value="{{ p.dec }}">
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
<style>

</style>
<footer class="footer">
    <div class="icons-container">
        <div class="input-box">
            <input placeholder="Type your comment" name="comment_content" id="comment_input" required>
        </div>
        <button type="submit"  style="color: #fff; background-color: #28a745; border-color: #007bff; height: 40px; width: 120px; position: relative;">
            <i class="fas fa-check-circle"></i> Submit
        </button>
        <input id="new_status_id" type="hidden" name="new_status">
    </div>
</footer>
</form>

    {% endblock %}