{% extends "accounts/Admin/BAC_Secretariat/nav.html" %}

{% load static %}

{% block np %}

<body>

    <div>
        <img class="ctulogo" src="{% static 'images/logo.png' %}" alt="logo">
    </div>
    <div>
        <img class="aseanlogo" src="{% static 'images/asean.png' %}" alt="logo">
    </div>

    <div class="context">
        <h>Republic of the Philippines</h>
        <h><b>CEBU TECHNOLOGICAL UNIVERSITY</b></h>
        <h>ARGAO CAMPUS</h>
        <h>Ed Kintanar Street Lamacan Argao, Cebu Philippines</h>
        <div><h>Website: <a href="http://www.argao.ctu.edu.ph">http://www.argao.ctu.edu.ph</a></h> &nbsp; <h>Email: <a href="mailto:ctu.argao@yahoo.com">ctu.argao@yahoo.com</a></h>
        </div>
        <br>
        <br>
        <br>
        <br>
        <h4>PROCUREMENT OFFICE</h4>
        <br>
        <br>
        <br>
        <h2>NOTICE TO PROCEED</h2>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <h1>WA PA NI NAHOMAN . TIWASON NON PA.. HMPP😒</h1>
        <br>
        <br>
    </div>

    <div>
        <img class="miso" src="{% static 'images/iso.jpg' %}" alt="logo">
    </div>
    <div>
        <img class="star" src="{% static 'images/uni.png' %}" alt="logo">
    </div>

</body>

{% endblock %}