{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="{% static 'css/property.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
</head>

<body>

    <nav>
        <img class="ctu_logo" src="{% static 'images/ctu_loogo.png' %}"  alt="logo">
        <img class="asean_logo" src="{% static 'images/asean.png' %}"  alt="logo">
        <img class="stars_logo" src="{% static 'images/uni.png' %}"  alt="logo">
    </nav>

    <nav>
        <img class="iso_logo" src="{% static 'images/iso.jpg' %}"  alt="logo">
    </nav>

    <div class="container">
        <h>Republic of the Philippines</h>
        <h class="no-bold"><b>CEBU TECHNOLOGICAL UNIVERSITY</b></h>
        <h>ARGAO CAMPUS</h>
        <h>Ed Kintanar Street Lamacan Argao, Cebu Philippines</h>
        <div>
            <h>Website: <a href="http://www.argao.ctu.edu.ph">http://www.argao.ctu.edu.ph</a></h>
            <h>Email: <a href="mailto:ctu.argao@yahoo.com">ctu.argao@yahoo.com</a></h>
        </div>
        <div> &nbsp</div>
        <div> &nbsp</div>
        <div> &nbsp</div>
        <div> &nbsp</div>
        <div> &nbsp</div>
        <h><b>PROPERTY ACKNOWLEDGMENT REPORT</b></h>  
    </div>

        <div class="row row-horizontal-align">
            <div class="col-md-4 text-left">
                <h4>Entity Name: CTU-ARGAO CAMPUS</h4>
            </div>
            <div class="col-md-4 text-center">
                <h4>Fund Cluster:<span contenteditable="true" id="editableField"></span></h4>
            </div>
            <div class="col-md-4 text-right">
                <h4>PAR No.: <span contenteditable="true" id="editableField"></span></h4>
            </div>
        </div>
                 
        <div class="table-container">
            <div class="justify-content">
                <div class="col-md-14">
                    <div class="mx-auto">
                        <table class="table-bordered" style="width: 120%">
                            <thead>
                            <tr>
                            <tr>
                                    <th>Quantity</th>
                                    <th>Unit</th>
                                    <th>Item Description</th>
                                    <th>Property<br>Number</th>
                                    <th>Unit Cost</th>
                                    <th>Total Cost</th>
                                </tr>
                                     
                            </tr>
                            <tr>
                                <td contenteditable="true"></td>
                                <td contenteditable="true"></td>
                                <td contenteditable="true"></td>
                                <td contenteditable="true"></td>
                                <td contenteditable="true"></td>
                                <td contenteditable="true"></td>
                            </tr>
                            <tr>
                                <td contenteditable="true"></td>
                                <td contenteditable="true"></td>
                                <td contenteditable="true"></td>
                                <td contenteditable="true"></td>
                                <td contenteditable="true"></td>
                                <td contenteditable="true"></td>
                            </tr>
                            <tr>
                            </thead>
                            <tbody>
                                {% for item in items %}
                                <tr>
                                    <td class="text-center">{{ forloop.counter }}</td>
                                    <td class="text-center">{{ item.unit }}</td>
                                    <td class="text-center">{{ item.item }} {% if item.item_brand_description %} ({{ item.item_brand_description }}) {% endif %}</td>
                                    <td class="text-center">{{ item.quantity }}</td>
                                    <td class="text-center">{{ item.unit_cost }}</td>
                                    <td class="text-center">{{item.total_cost}}</td>
                                </tr>
                            {% endfor %}
                            <td colspan="3">Received by: <br><span contenteditable="true">_________________________________</span>
                                <br>Signature Over Printed Name of End User
                                <br>
                                <br><span contenteditable="true">_____________________</span>
                                <br>Position/Office
                                <br><span contenteditable="true">_____________________</span>
                                <br>Date
                             
                           
                                <td colspan="3">Issued by:<br><span contenteditable="true">_________________________________</span>
                                    <br>Signature Over Printed Name of Supply and/or<br>Property Custodian
                                    <br>
                                    <br><span contenteditable="true">_____________________</span>
                                    <br>Position/Office
                                    <br><span contenteditable="true">_____________________</span>
                                    <br>Date
                                </td>
                            </tr>
                        </table>
                    </div>
               </div>
            </div>
        </div>

    <div>&nbsp</div>
    <div> &nbsp</div>

    <button class="orange">The requester has picked up the items.</button>

    <div> &nbsp</div>
    <div> &nbsp</div>
    <div> &nbsp</div>
    <div> &nbsp</div>
    <div> &nbsp</div>
    <div> &nbsp</div>
    <div> &nbsp</div>
    <div> &nbsp</div>
    <div> &nbsp</div>
    <div> &nbsp</div>

</body>
        <footer class="footer">
            <div class="input-box">
                <input placeholder="Update the purchase request status...">
            </div>
            <div class="button-container">
                <button class="send-button" onclick="sendMessage">
                    <i class="fas fa-paper-plane"></i> Send
                </button>
            </div>
            <div class="icons-container">
                <a href="#" title="Download" class="icon-link">
                    <i class="fas fa-download"></i> Download
                </a>
                <a href="javascript:window.print()" title="Print" class="icon-link">
                    <i class="fas fa-print"></i> Print
                </a>
            </div>
        </footer>
</html>