{% extends "accounts/Admin/BAC/bac.html" %}

{% load static %}

{% block home_bac %}

        <div class="container-fluid" style=" height: 68vh; overflow-y: auto; overflow-x: hidden;">
          <div class="container">
            <h1 class="pr text-center pt-4">PURCHASE REQUEST</h1>  
          </div>
          
          <div class="column border">
            <div>
              <span style="color: #045aaa;">#######</span> has sent a request.
            </div>
          </div>
        </div>

  {% endblock %} 