{% extends "accounts/Admin/Campus_Director/cd.html" %}


{% load static %}

{% block cdpurchase %}

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>

<style>

 
    
    .table-responsive {
    margin-top: -2vh; 
    }
  .table a {
    text-decoration: none;
    color: black;
  }

  .no-comment {
    background-color: lightgray; 
    color: black;
  }

  .form-control {
    display: block;
    width: 13.5%;
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: var(--bs-body-color);
    appearance: none;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    margin-left: 1400.15px;
    background-color: transparent; 
    box-shadow: none; 
    margin-top: 5vh;
  }

  .search-form {
    justify-content: flex-end;
  }

  .table-container {
    width: 100%;
    overflow-x: hidden;
  }

  .table {
    width: 100%;
    margin: auto;
    table-layout: fixed;
    position: relative;
  }

  .table th,
  .table td {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .table th:nth-child(1),
  .table td:nth-child(1) {
    width: 10%;
  }

  .table th:nth-child(2),
  .table td:nth-child(2) {
    width: 10%;
  }

  .table th:nth-child(3),
  .table td:nth-child(3) {
    width: 30%;
  }

  .table th:nth-child(4),
  .table td:nth-child(4) {
    width: 10%;
  }

  .table th:nth-child(5),
  .table td:nth-child(5) {
    width: 10%;
  }

  .table th:nth-child(6),
  .table td:nth-child(6) {
    width: 10%;
  }

  .table th {
    background-color: rgba(5, 112, 139, 0.822);
    color: white;
    cursor: pointer;
    position: sticky;
    top: 0;
    z-index: 2;
  }
  body{
    overflow:hidden;
  }
  html{
    overflow:hidden;
  }
  footer{
    height:30%;
  }
  .fa-check-circle,
  .fa-times-circle,
  .fa-hourglass-half {
    cursor: help;
  }
  
  .bck a  {
    display: flex;
    align-items: center;
    text-decoration: none;
}

.bck img {
    width: 50px;
    height: 50px;
    transition: transform 0.3s ease-in-out;
    position: relative;
    top: -7vh;

}

.bck:hover img {
    transform: scale(1.2); 
}
    
    .table-responsive {
    margin-top: -6vh; 
    }
 
</style>

<div class="container-fluid" style="height: 85vh; overflow-y: auto; overflow-x: hidden;">
  <h1 class="pr-heading text-center pt-4"> <strong>PURCHASE REQUESTS </strong> </h1>


  <div class="search" style="position: relative; text-align: right;">
    <input class="form-control mb-3 pr-6 pl-6" type="text" placeholder="Search" id="search_bar_request" oninput="filterTable()" style="border: 2px solid #254b6e; border-radius: 25px; padding-right: 40px; display: inline-block; padding-left: 30px;">
    <i class="fas fa-search" style="position: absolute; top: 65%; right: 30px; transform: translateY(-50%); color: #05708BD2;"></i>
</div>


<div class="row">
  <div class="col-md-1 mb-0">
    <div class="bck">
      <a href="{% url 'cdlanding' %}">
          <img src="{% static 'images/back-button.gif' %}" alt="Previous">
      </a>
  </div>
  </div>
</div>

  <div class="table-responsive">
    <table class="table table-bordered">
  <thead>
    <tr>
      <th class="text-center">Date Requested</th>
      <th class="text-center">PR ID</th>
      <th class="text-center">Purchase Requests </th>
      <th class="text-center">Status</th>
      <th class="text-center">Comment</th> 
    </tr>
  </thead>

  <tbody>
    {% for checkout in checkouts %}
    <tr>
      <td class="text-center">
        {{ checkout.submission_date }}
      </td>

      <td class="text-center">
        <a href="{% url 'cdpurchase_approval' pr_id=checkout.pr_id %}"> <strong>{{ checkout.pr_id }}</strong> </a>
       
      </td> 

      <td>
        
         {{ checkout.user.first_name }} {{ checkout.user.last_name }} submitted a new purchase  request .
        
      </td>

    

  
      <td class="text-center">
        {% if checkout.status == 'approved' %}
            <span class="badge badge-success text-uppercase" style="font-size: 16px;">{{ checkout.status }}</span>
        {% elif checkout.status == 'declined' %}
            <span class="badge badge-warning text-uppercase" style="font-size: 16px;">{{ checkout.status }}</span>
        {% else %}
            <span class="badge badge-danger text-uppercase" style="font-size: 16px;">Pending</span>
        {% endif %}
    </td>
    
    
    <td class="text-center">
      {% if checkout.comment %}
          <p> {{ checkout.comment }}</p>
      {% else %}
          No comment yet
      {% endif %}
      
    </td>
      
    </tr>
  {% endfor %}
  
</tbody>
  </table>
</div>
</div>

<script>
  function filterTable() {
    var input, filter, table, tr, td, i, txtValue;
    input = document.getElementById("search_bar_request");
    filter = input.value.toUpperCase();
    table = document.querySelector(".table");
    tr = table.getElementsByTagName("tr");

    for (i = 1; i < tr.length; i++) {
      td = tr[i].getElementsByTagName("td")[1];
      if (td) {
        txtValue = td.textContent || td.innerText;
        if (txtValue.toUpperCase().indexOf(filter) > -1) {
          tr[i].style.display = "";
        } else {
          tr[i].style.display = "none";
        }
      }
    }
  }
</script>

{% endblock %}