{% extends "accounts/Admin/Campus_Director/cd.html" %}


{% load static %}


{% block cdpurchase %}


<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>

<style>

  .status{
    width: 30%;
    text-align: center;
  }


  .table a {
    text-decoration: none;
    color: black;
  }

  .bg-success {
    /* Your styles for a successful status */
    background-color: #b5e550; /* Adjust this to your desired background color */
    color: white; /* Adjust this to your desired text color */
}

.form-control {
    display: block;
    width: 300%;
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1;
    color: var(--bs-body-color);
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: var(--bs-body-bg);
    background-clip: padding-box;
    border: var(--bs-border-width) solid var(--bs-border-color);
    border-radius: var(--bs-border-radius);
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.btn {
    display: inline-block;
    padding: var(--bs-btn-padding-y) var(--bs-btn-padding-x);
    font-family: var(--bs-btn-font-family);
    font-size: var(--bs-btn-font-size);
    font-weight: var(--bs-btn-font-weight);
    line-height: var(--bs-btn-line-height);
    color: var(--bs-btn-color);
    text-align: center;
    margin-left: 198%;
    margin-top: 11.5%;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    border: var(--bs-btn-border-width) solid var(--bs-btn-border-color);
    border-radius: var(--bs-btn-border-radius);
    background-color: var(--bs-btn-bg);
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
  
</style>

<div class="container-fluid" style="height: 68vh; overflow-y: auto; overflow-x: hidden;">
  <h1 class="pr text-center pt-4">PURCHASE REQUESTS</h1>

  <table class="table table-bordered">
    <thead>
      <tr>
        <th class="text-center">Date Requested</th>
        <th class="text-center">Requests</th>
        <th class="text-center">Purpose</th>
        <th class="status">Status</th>
        <th class="text-center"> Date Updated</th>
      </tr>
    </thead>
    <tbody>
      {% for checkout in checkouts %}
        <tr>
          <td class="text-center">{{ checkout.submission_date }}</td>
          <td>
            
            <a href="{% url 'preqform' pr_id=checkout.pr_id %}">
              <strong>{{ checkout.first_name }} {{ checkout.last_name }}</strong> submitted a new purchase request on {{ checkout.submission_date }}
            </a>
          </td>
          <td>{{ checkout.purpose }}</td>
          
          <td class="badge {% if checkout.status_comment %}bg-success{% else %}no-comment{% endif %}" style="margin-top: 5px; margin-left: 5px; color: white;">
            {{ checkout.status_comment|default:"" }}
        </td>
          <td>
            {{ checkout.status_update_date|default:"Not available" }}
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
  
</div>

<footer class="fixed-bottom p-2" style="background-color:  rgba(1, 33, 67, 0.9);">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-md-4">
                <div class="form-group">
                    <label for="purpose" style="color:#FFFFFF">Update Status:</label>
                    <textarea class="form-control" id="purpose" placeholder="Update Status" name="updatestatus" contenteditable="true" style="resize: vertical;"></textarea>
                </div>
            </div>
            <div class="col-md-4">
                <div class="text-right">
                    <button type="send" class="btn btn-primary">Send</button>
                </div>
            </div>
        </div>
    </div>
</footer>   
</div>


{% endblock %}  