{% extends "accounts/Admin/Campus_Director/nav_cd.html" %}

{% load static %}


{% block cdpurchase_approval %}


<style>
    .table-bordered th {
        background-color: #1c96c5;
    }

    .bck img {
        width: 30px;
        height: 30px;
        transition: all 0.3s ease-in-out;
    }

    .bck:hover img {
        transform: translateX(-5px);
        filter: brightness(1.2);
    }

    .bck::before {
        content: "";
        position: absolute;
        top: -5px;
        right: 0;
        bottom: -5px;
        left: 0;
        border-radius: 20px;
        opacity: 0;
        z-index: -1;
        transition: opacity 0.3s ease-in-out;
    }

    .bck:hover::before {
        opacity: 1;
    }


    .table-and-comment {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }


    .icons-container {
        display: flex;
        justify-content: center;
        margin-top: 20px;
        margin-right: 50px;
    }

    .icon-link {
        margin-left: 20px;
        margin-top: 16px;
        text-decoration: none;
        color: white;
    }




    .icon-link {
        margin-left: 20px;
        text-decoration: none;
        color: white;
    }


    .input-box {
        width: 30%;

        margin-top: 1px;
        margin-left: 16px;
        margin-right: 20px;
    }

    .input-box input {
        width: 100%;
        height: 40px;
        padding: 10px;
        box-sizing: border-box;
        border: none;
        border-radius: 5px;
    }

    .send-icon {
        position: fixed;
        top: 90%;
        left: 65%;
        width: 30px;
        height: 30px;
        background-color: #4CAF50;
        color: white;
        text-align: center;
        border-radius: 5px;
        cursor: pointer;
        margin-top: 39px;
        margin-left: -80px;
    }

    .send-icon i {
        line-height: 30px;
    }

    .footer {
        background-color: rgba(10, 99, 158, 0.637);
        text-align: center;
        width: 100%;
        height: 100px;
        bottom: 0;
        -webkit-user-modify: read-only;
        position: fixed;
        z-index: 2;
        position: fixed;
    }

    .p {
        size: 12px;
    }




    .subpage {
        padding: 1cm;
        border: 5px red solid;
        height: 256mm;
        outline: 2cm #FFEAEA solid;
    }

    @page {
        size: A4;
        margin: 0;
    }


    @media print {
        .footer {
            display: none;
        }

        .input-box,
        .icons-container {
            display: none;
        }
    }

    .container {
        text-align: center;
    }

    .aprv,
    .disaprv {
        font-size: 15px;
        margin-right: 5px;
        margin-left: 5px;
        margin-top: 5px;
        margin-bottom: 11px;
        color: #ffa125e3;
        background-color: rgba(9, 87, 139, 0.616);
        padding: 10px 12px;
        border-radius: 8px;
        border: 1px solid rgba(9, 87, 139, 0.616);
        transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out;
    }


    .aprv:hover,
    .disaprv:hover {
        color: #ffa125e3;
        background-color: #000000e3;
    }

    
    .footer {
        display: left;
        justify-content: space-between;
        align-items: center;  /* Vertically center the content */
    }
    
    .icons-container {
        display: flex;
        align-items: center;
    }
    
    .button-container {
        display: flex;
        gap: 10px; /* Adjust the gap between buttons as needed */
    }
    
    .slip-icon {
        width: 50px; /* Adjust the width as needed */
        height: auto; /* Maintain the aspect ratio */
        margin-right: 15px
    }

    .bck a  {
        display: flex;
        align-items: center;
        text-decoration: none;
    }
    
    .bck img {
        width: 50px;
        height: 50px;
        transition: transform 0.3s ease-in-out;
        position: relative;
        top: 2.5vh;
    }
    
    .bck:hover img {
        transform: scale(1.2); 
    }
    
        .status-circle {
            display: inline-block;
            width: 10px;
            height: 10px;
            border-radius: 50%;
            margin-right: 5px;
        }
    
        .text-green {
            color: green;
        }
    
        .text-orange {
            color: orange;
        }
    
        .text-red {
            color: red;
        }

        .home {
            position: fixed;
            top: 20vh;
        }
         
        .home img {
            width: 40px;
            height: 40px;
            transition: transform 0.3s ease-in-out;
            animation: beat 2s infinite;
            position: relative;
            margin-left: .5vh;
        }
        
        
        @keyframes beat{
            0%{
                transform: scale(1);
            }
            50%{
                transform: scale(1.2);
            }
            100%{
                transform: scale(1);
            }
        }
         
        .home:hover img {
            animation-play-state: paused;
            transform: scale(1.2); 
        }
    
        .left-button-container {
            position: absolute;
            left: 199.3vh; /* Adjust this value as needed */
            top: 300px; /* Adjust this value as needed */
            transform: translateY(-50%);
    }


    .table-responsive {
        margin-top: 3vh; /* Adjust the value as needed to move the table down */
    }


    
    .get {
        display: inline-block;
        outline: 0;
        cursor: pointer;
        text-align: center;
        border: 1px solid #babfc3;
        padding: 11px 24px;
        min-height: 44px;
        min-width: 44px;
        color: #202223;
        background: #ffffff;
        border-radius: 4px;
        font-weight: 500;
        font-size: 14px;
        box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 0px 0px;
        text-decoration: none;  /* Remove underline when the button is focused or active */
        transition: background 0.3s ease; /* Add transition for smoother hover effect */
    }
    
    .get:hover {
        background:#ffa125e3; /* Change background color on hover */
        outline: 1px solid transparent; /* Optional: remove outline on hover */
    }
    
    .get:focus, .get:active {
        text-decoration: none;  /* Remove underline when the button is focused or active */
    }
     
 
</style>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
<link rel="stylesheet" href="{% static 'css/request.css' %}">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">


<div class="container-fluid main-content" style="height: 82vh; overflow-y: auto; overflow-x: hidden;">

    <h1 class="pr text-center pt-6" style="text-align: center; margin-top: 3vh;">
        <strong>PURCHASE REQUEST FOR APPROVAL</strong>
    </h1>
    
    <div class="home">
        <a href="{% url 'cdlanding' %}" onclick="toggleAnimation()">
            <img src="{% static 'images/home.png' %}" alt="cdlanding">
        </a>
    </div>

   <div class="bck">
        <a href="{% url 'cdpurchase' %}">
            <img src="{% static 'images/back-button.gif' %}" alt="Previous">
        </a>
    </div>

    <div class="left-button-container">
        <a href="{% url 'purchase_cd' pr_id=checkout.pr_id %}" class="icon-link">
            <button type="button" onclick="btn_click(true)" class="get"><b>GET COPY</b></button>
        </a>
    </div>
    
    <div class="table-responsive">

        <form action="{% url 'cdpurchase_approval' pr_id=pr_id %}" method="post" id ="form_id">

            {% csrf_token %}


        <table class="table table-bordered" style="margin-top: 1px;">
            <thead>
                <tr>
                <tr>
                    <th rowspan='2'>Item Name</th>
                    <th rowspan='2'> Brand / Description</th>
                    <th rowspan='2'>Unit</th>
                    <th rowspan='2'>Unit Price</th>
                    <th rowspan='2'>Quantity </th>

                </tr>
            </thead>
            <tbody>
                {% for p in checkout_items %}

                <tr class="item-row" id="{{ p.id }}">

                    <td class="text-left">
                        <span class="editable" data-field="Item_name">{{ p.item }}</span>
                        <input id="item_{{ p.id }}" name="item" type="text" value="{{ p.item }}"
                            oninput="change_val('item_{{ p.id }}')" class="edit-input" style="display: none">
                    </td>
                    <td class="text-left">
                        <span class="editable" data-field="Item_Brand">{{ p.item_brand_description }}</span>
                        <input id="item_brand_{{ p.id }}" name="item_brand" type="text"
                            value="{{ p.item_brand_description }}" oninput="change_val('item_brand_{{ p.id }}')"
                            class="edit-input" style="display: none">
                    </td>
                    <td>
                        <span class="editable" data-field="Unit">{{ p.unit }}</span>
                        <input id="unit_{{ p.id }}" name="unit" type="text" value="{{ p.unit }}"
                            oninput="change_val('unit_{{ p.id }}')" class="edit-input" style="display: none">
                    </td>

                    <td>
                        <span class="editable" data-field="Unit_price">{{ p.unit_cost }}</span>
                    </td>

                    <td>{{p.quantity}}</td>

                </tr>

                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

<footer class="footer">
    <div class="icons-container">
        <div class="input-box">
            <input placeholder="Type your comment" name="comment_content" id="comment_input" required>
        </div>
        <input id="new_status_id" type="hidden" name="new_status">

        <div class="button-container">
            <button type="button" onclick="btn_click(true)" class="aprv">Approve</button>
            <button type="button" onclick="btn_click(false)" class="disaprv">Decline</button>
        </div>
    </div>
</footer>

</form>

<script>
    function btn_click(approve) {
      
        var newStatusInput = document.getElementById('new_status_id');

       
        newStatusInput.value = approve ? 'approved' : 'declined';

   
        var form = document.getElementById('form_id');
        form.submit();
    }
</script>

{% endblock %}