{% extends "accounts/Admin/Campus_Director/cd.html" %}


{% load static %}


{% block cdresolution %}

<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>

<style>

  .status {
    width: 30%;
    text-align: center;
  }

  .table a {
    text-decoration: none;
    color: black;
  }

  .bg-success {
    background-color: #9ee800;
    color: white;
  }

  .form-control {
    display: block;
    width: 18%;
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: var(--bs-body-color);
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-clip: padding-box;
    border-radius: 20px;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    margin-left: 1300px;
  }
  

  .search-form {
    justify-content: flex-end;
  }

  .table {
    width: 90%;
    margin: auto;
    table-layout: fixed;
    position: fixed;
  }

  .table th,
  .table td {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .table th:nth-child(1),
  .table td:nth-child(1) {
    width: 15%;
  }

  .table th:nth-child(2),
  .table td:nth-child(2) {
    width: 10%; 
  }

  .table th:nth-child(3),
  .table td:nth-child(3) {
    width: 25%;
  }

  .table th:nth-child(4),
  .table td:nth-child(4) {
    width: 20%;
  }

  .table th:nth-child(5),
  .table td:nth-child(5) {
    width: 15%;
  }

  .table th:nth-child(6),
  .table td:nth-child(6) {
    width: 40%;
  }

  .table th {
    background-color: rgba(5, 112, 139, 0.822); 
    color: white;
    cursor: pointer;
    position: sticky;
    top: 0;
    z-index: 2;
  }

</style>

<div class="container-fluid" style="height: 68vh; overflow-y: auto; overflow-x: hidden;">
  <h1 class="pr text-center pt-4">RESOLUTION</h1>

  <div class="search">
    <input class="form-control mb-3" type="text" placeholder="Search Username or Date" id="search_bar_request" oninput="filterTable()">
</div>

<table class="table table-bordered">
  <thead>
    <tr>
      <th class="text-center" onclick="sortTable(0)" style="width: 15%;">
        Date Requested
        <span class="sort-arrow">
          <span class="sort-arrow-up"></span>
          <span class="sort-arrow-down"></span>
        </span>
      </th>
      <th class="text-center" onclick="sortTable(1)" style="width: 20%;">
        PR ID
        <span class="sort-arrow">
          <span class="sort-arrow-up"></span>
          <span class="sort-arrow-down"></span>
        </span>
      </th>
      <th class="text-center" onclick="sortTable(2)" style="width: 30%;">
        Requests
        <span class="sort-arrow">
          <span class="sort-arrow-up"></span>
          <span class="sort-arrow-down"></span>
        </span>
      </th>
      <th class="text-center" onclick="sortTable(3)" style="width: 25%;">
        Purpose
        <span class="sort-arrow">
          <span class="sort-arrow-up"></span>
          <span class="sort-arrow-down"></span>
        </span>
      </th>
      <th class="status" onclick="sortTable(4)" style="width: 15%;">
        Status
        <span class="sort-arrow">
          <span class="sort-arrow-up"></span>
          <span class="sort-arrow-down"></span>
        </span>
      </th>
      <th class="text-center" onclick="sortTable(5)" style="width: 25%;">
        Date
        <span class="sort-arrow">
          <span class="sort-arrow-up"></span>
          <span class="sort-arrow-down"></span>
        </span>
      </th>
      <th class="text-center" onclick="sortTable(4)" style="width: 25%;">
        Attachments
        <span class="sort-arrow">
          <span class="sort-arrow-up"></span>
          <span class="sort-arrow-down"></span>
        </span>
      </th>
    </tr>
  </thead>



<script>
  function filterTable() {
      var input, filter, table, tr, td, i, txtValue;
      input = document.getElementById("search_bar_request");
      filter = input.value.toUpperCase();
      table = document.querySelector(".table");
      tr = table.getElementsByTagName("tr");

      for (i = 1; i < tr.length; i++) { 
          td = tr[i].getElementsByTagName("td")[1]; 
          if (td) {
              txtValue = td.textContent || td.innerText;
              if (txtValue.toUpperCase().indexOf(filter) > -1) {
                  tr[i].style.display = "";
              } else {
                  tr[i].style.display = "none";
              }
          }
      }
  }

  function filterTable() {
      var input, filter, table, tr, td, i, txtValue;
      input = document.getElementById("search_bar_request");
      filter = input.value.toUpperCase();
      table = document.querySelector(".table");
      tr = table.getElementsByTagName("tr");

      for (i = 1; i < tr.length; i++) { 
          td = tr[i].getElementsByTagName("td")[1]; 
          if (td) {
              txtValue = td.textContent || td.innerText;
              if (txtValue.toUpperCase().indexOf(filter) > -1) {
                  tr[i].style.display = "";
              } else {
                  tr[i].style.display = "none";
              }
          }
      }
  }
</script>




{% endblock %}
