{% extends "accounts/Admin/Campus_Director/cd.html" %}

{% load static %}

{% block cdresolution %}
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" integrity="sha384-GLhlTQ8iKSeLeMz+X+59FeJF5xl9yoUBH8jRTtLWEjIOf48Q6bU/1QxPF5K9tJ" crossorigin="anonymous"> 
  <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>

  <style>
    .status {
      width: 30%;
      text-align: center;
    }
  
    .table a {
      text-decoration: none;
      color: black;
    }
  
    .bg-success {
      background-color: #9ee800;
      color: white;
    }
  
    .form-control {
      display: block;
      width: 13.4%;
      color: var(--bs-body-color);
      appearance: none;
      background-color: rgb(13 110 253 / 8%);
      background-clip: padding-box;
      transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
      margin-left: 1400.15px;
    }
  
    .form-control:focus {
      border-color: #87CEEB; /* Light blue color code */
      box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25); /* Optional: Add a subtle box-shadow */
  }
  
    .form-control::selection {
      background-color: #05708BD2;
      color: #fff; 
    }
  
    .search-form {
      justify-content: flex-end;
    }
  
    .container-fluid {
      position: relative;
    }
  
    .table-container {
      width: 100%;
      margin: auto;
      overflow-x: hidden;
      position: relative;
      z-index: 1; 
    }
  
    .table {
      width: 100%;
      table-layout: fixed;
      position: sticky;
      top: 10px;
      z-index: 2; 
    }
  
    .table th,
    .table td {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  
    .table th:nth-child(1),
    .table td:nth-child(1) {
      width: 15%;
    }
  
    .table th:nth-child(2),
    .table td:nth-child(2) {
      width: 10%;
    }
  
    .table th:nth-child(3),
    .table td:nth-child(3) {
      width: 30%;
    }
  
    .table th:nth-child(4),
    .table td:nth-child(4) {
      width: 25%;
    }
  
    .table th:nth-child(5),
    .table td:nth-child(5) {
      width: 15%;
    }
  
    .table th:nth-child(6),
    .table td:nth-child(6) {
      width: 40%;
    }
  
    .table th {
      background-color: rgba(5, 112, 139, 0.822);
      color: white;
      cursor: pointer;
    }

    body{
      overflow:hidden;
    }

    html{
      overflow:hidden;
    }

    footer{
      height:30%;
    }
    
    .bck a  {
    display: flex;
    align-items: center;
    text-decoration: none;
  }

  .bck img {
      width: 50px;
      height: 50px;
      transition: transform 0.3s ease-in-out;
      position: relative;
      top: 4vh;
      z-index: 999;
    
      
  }

  .bck:hover img {
      transform: scale(1.2); 
  }
  </style>
  

  <div class="container-fluid" style="height: 68vh; overflow-y: auto; overflow-x: hidden;">

    <div class="row">
      <div class="col-md-1 mb-0">
        <div class="bck">
          <a href="{% url 'cdlanding' %}">
             
          </a>
      </div>
      </div>
    </div>
    <div class="search" style="position: relative; text-align: right; margin-top: 4vh;">
      <span class="icon" style="position: absolute; right: 10px; top: 2vh; transform: translateY(-50%); width: 40px;">
          <i class="fas fa-search" style="font-size: 20px;"></i>
      </span>
      <input class="form-control mb-3 pr-6 pl-6" type="text" placeholder="Search" id="search_bar_request" oninput="filterTable()"
          style="border: 2px solid #254b6e; border-radius: 25px; padding-right: 10px 40px 10px 20px; display: inline-block; outline: none;">
  </div>
  
<div class="table-responsive" style="margin-top: 2vh;"></div>
    <div class="table-container">
      <table class="table table-bordered">
  <thead>
    <tr>
      <th class="text-center" onclick="sortTable(0)" style="width: 15%;">
        Date Requested
        <span class="sort-arrow">
          <span class="sort-arrow-up"></span>
          <span class="sort-arrow-down"></span>
        </span>
      </th>
      <th class="text-center" onclick="sortTable(1)" style="width: 20%;">
        PR ID
        <span class="sort-arrow">
          <span class="sort-arrow-up"></span>
          <span class="sort-arrow-down"></span>
        </span>
      </th>
      <th class="text-center" onclick="sortTable(2)" style="width: 30%;">
        Requests
        <span class="sort-arrow">
          <span class="sort-arrow-up"></span>
          <span class="sort-arrow-down"></span>
        </span>
      </th>
      <th class="text-center" onclick="sortTable(3)" style="width: 25%;">
        Purpose
        <span class="sort-arrow">
          <span class="sort-arrow-up"></span>
          <span class="sort-arrow-down"></span>
        </span>
      </th>
      <th class="status" onclick="sortTable(4)" style="width: 15%;">
        Status
        <span class="sort-arrow">
          <span class="sort-arrow-up"></span>
          <span class="sort-arrow-down"></span>
        </span>
      </th>
      <th class="text-center" onclick="sortTable(5)" style="width: 25%;">
        Date
        <span class="sort-arrow">
          <span class="sort-arrow-up"></span>
          <span class="sort-arrow-down"></span>
        </span>
      </th>
      <th class="text-center" onclick="sortTable(4)" style="width: 25%;">
        Attachments
        <span class="sort-arrow">
          <span class="sort-arrow-up"></span>
          <span class="sort-arrow-down"></span>
        </span>
      </th>
    </tr>
  </thead>



<script>
  function filterTable() {
      var input, filter, table, tr, td, i, txtValue;
      input = document.getElementById("search_bar_request");
      filter = input.value.toUpperCase();
      table = document.querySelector(".table");
      tr = table.getElementsByTagName("tr");

      for (i = 1; i < tr.length; i++) { 
          td = tr[i].getElementsByTagName("td")[1]; 
          if (td) {
              txtValue = td.textContent || td.innerText;
              if (txtValue.toUpperCase().indexOf(filter) > -1) {
                  tr[i].style.display = "";
              } else {
                  tr[i].style.display = "none";
              }
          }
      }
  }

  function filterTable() {
      var input, filter, table, tr, td, i, txtValue;
      input = document.getElementById("search_bar_request");
      filter = input.value.toUpperCase();
      table = document.querySelector(".table");
      tr = table.getElementsByTagName("tr");

      for (i = 1; i < tr.length; i++) { 
          td = tr[i].getElementsByTagName("td")[1]; 
          if (td) {
              txtValue = td.textContent || td.innerText;
              if (txtValue.toUpperCase().indexOf(filter) > -1) {
                  tr[i].style.display = "";
              } else {
                  tr[i].style.display = "none";
              }
          }
      }
  }
</script>




{% endblock %}
