{% extends "accounts/Admin/System_Admin/admin_home.html" %}


{% load static %}

{% block user %}


<style>
    /* Modal styles */
    .modal {
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5);
        justify-content: center;
        align-items: center;
    }

    .modal-content {
        background-color: #ffffff;
        /* White background */
        padding: 20px;
        border-radius: 8px;
        width: 80%;
        /* Adjust the width as needed */
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
        position: relative;
    }

    .close {
        position: absolute;
        top: 10px;
        right: 10px;
        font-size: 20px;
        cursor: pointer;
        color: #333;
        /* Dark gray color for close icon */
    }

    .user-details {
        margin-bottom: 20px;
    }

    .input {
        padding: none;
    }

    .input-box {
        margin-top: 20px;
        margin-bottom: 20px;

    }



    .input-box input {
        font-family: 'Poppins', sans-serif;
        width: 100%;
        height: 2vw;
        border: none;
        outline: none;
        border-radius: 20px;
        border-bottom: 2px solid;
        font-size: 95%;
        padding: 20px;
        box-shadow: 0 1px 3px;
        transition: all 0.5s ease;
        border-color: transparent;
        font-weight: normal;
    }

    .register-details {
        display: fixed;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 15px;
    }

    .checkbox-label {
        display: flex;
        align-items: center;
        margin-right: 15px;
        /* Add margin between checkboxes */
    }

    .checkbox-box {
        margin-left: 10px;

    }



    /* Style for the submit button */
    .btn-primary {
        background-color: #28a745;
        width: 80%;
        color: white;
        padding: 10px 20px;
        border: none;
        border-radius: 20px;
        cursor: pointer;
        margin-left: 50px;
    }
</style>





<div class="container-fluid" style="height: 68vh;">
    <div class="container">
        <i class="fas fa-user-friends two-user-icon"></i>
        <h1 class="user">USERS</h1>
    </div>
    <div class="search">
        <i class="fas fa-search"
            style="position: absolute; top: 40%; transform: translateY(-50%); left: 85%; color: #05708BD2;"></i>
        <input class="form-control mb-3 pr-5 pl-5" type="text" placeholder="Search " id="search_bar_request"
            oninput="filterTable()" style="border: 2px solid  #254b6e; border-radius: 25px;">
    </div>

    <button class="adduser" onclick="openModal()"
        style="background-color: #28a745; color: white; font-size: 16px; margin-left: 2px;">
        <span class="bi bi-person-plus"></span> Add User
    </button>



    <div class="usertable table-responsive">

        <table id="myTable" class="usertable">
            <thead>

                <tr>
                    <th class="text-center text-nowrap" style="min-width: 13rem;">CTU ID</th>
                    <th class="text-center text-nowrap" style="min-width: 13rem;">FIRST NAME</th>
                    <th class="text-center text-nowrap" style="min-width: 13rem;">LAST NAME</th>
                    <th class="text-center text-nowrap" style="min-width: 13rem;">EMAIL</th>
                    <th class="text-center text-nowrap" style="min-width: 13rem;">CONTACT NO. </th>
                    <th class="text-center text-nowrap" style="min-width: 13rem;">ROLE</th>
                    <th class="text-center text-nowrap" style="min-width: 13rem;">ACTION</th>
                </tr>

            </thead>

            <tbody>


                {% for user in users %}
                <tr id="{{ user.id }}">
                    <td>
                        <span class="editable" data-field="username">{{ user.username }}</span>
                        <input id="username_{{ user.id }}" type="text" value="{{ user.username }}"
                            oninput="change_val('username_{{ user.id }}')" class="edit-input" style="display: none">
                    </td>
                    <td>
                        <span class="editable" data-field="first_name">{{ user.first_name }}</span>
                        <input id="first_name_{{ user.id }}" type="text" value="{{ user.first_name }}"
                            oninput="change_val('first_name_{{ user.id }}')" class="edit-input" style="display: none">
                    </td>
                    <td>
                        <span class="editable" data-field="last_name">{{ user.last_name }}</span>
                        <input id="last_name_{{ user.id }}" type="text" value="{{ user.last_name }}"
                            oninput="change_val('last_name_{{ user.id }}')" class="edit-input" style="display: none">
                    </td>
                    <td>
                        <span class="editable" data-field="email">{{ user.email }}</span>
                        <input id="email_{{ user.id }}" type="text" value="{{ user.email }}"
                            oninput="change_val('email_{{ user.id }}')" class="edit-input" style="display: none">
                    </td>
                    <td>
                        <span class="editable" data-field="contact1">{{ user.contact1 }}</span>
                        <input id="contact1_{{ user.id }}" type="text" value="{{ user.contact1 }}"
                            oninput="change_val('contact1_{{ user.id }}')" class="edit-input" style="display: none">
                    </td>

                    <td>
                        <span class="editable" data-field="user_type">{{ user.user_type }}</span>
                        <input id="user_type_{{ user.id }}" type="text" value="{{ user.user_type }}"
                            oninput="change_val('user_type_{{ user.id }}')" class="edit-input" style="display: none">
                    </td>

                    <td>
                        <div style="display: flex; justify-content: center; gap: 20px;">
                            <a href="#" class="edit-icon" style="text-align: center;" onclick="editRow('{{ user.id }}')" id="edit_icon_{{ user.id }}">
                                <i class="fas fa-edit text-primary"></i>
                            </a>

                            {% if user.username %}

                            <a href="{% url 'delete_user' user.username %}" style="text-align: center;">
                                <i class="fas fa-trash-alt text-danger"></i>
                            </a>
                            {% endif %}

                        </div>
                    </td>



                </tr>


                {% endfor %}

            </tbody>


        </table>
    </div>

    <div id="myModal" class="modal">
        <div class="modal-content">
            <span class="close" onclick="closeModal()">&times;</span>
            <h5 class="modal-title" style="text-align: center;">Add User</h5>
            <form action="{% url 'register_user' %}" method="post" onsubmit="return validateForm()">
                {% csrf_token %}
                <div class="user-details">
                    <div class="input-box">

                        <input type="number" id="username" name="username" placeholder="CTU ID:" required
                            oninput="maxLengthCheck(this, 11)">
                    </div>
                    <div class="input-box">

                        <input type="email" id="email" name="email" placeholder="Email:" required>
                    </div>
                    <div class="input-box">

                        <input type="text" id="fname" name="fname" placeholder="First Name:" required>
                    </div>
                    <div class="input-box">

                        <input type="text" id="lname" name="lname" placeholder="Last Name:" required>
                    </div>
                    <div class="input-box">

                        <input type="number" id="contact1" name="contact1" placeholder="Contact No.:" required
                            oninput="maxLengthCheck(this, 12)">
                    </div>
                    <div class="input-box">

                        <input type="password" id="pass1" name="pass1" placeholder="Password:" required
                            oninput="maxLengthCheck(this, 15)">
                    </div>
                    <div class="input-box">

                        <input type="password" id="pass2" name="pass2" placeholder="Confirm Password:" required
                            oninput="maxLengthCheck(this, 15)">
                    </div>
                </div>
                <div class="register-details">
                    <span class="details">Type of user</span>
                    <div class="details">
                        <label class="checkbox-label" for="adminCheckbox">
                            <input type="radio" name="user_type" id="adminCheckbox" value="admin">
                            <div class="checkbox-box">Admin</div>
                        </label>
                        <label class="checkbox-label" for="bacCheckbox">
                            <input type="radio" name="user_type" id="bacCheckbox" value="bac">
                            <div class="checkbox-box">BAC Secretariat</div>
                        </label>
                        <label class="checkbox-label" for="cdCheckbox">
                            <input type="radio" name="user_type" id="cdCheckbox" value="cd">
                            <div class="checkbox-box">Campus Director</div>
                        </label>
                        <label class="checkbox-label" for="budgetCheckbox">
                            <input type="radio" name="user_type" id="budgetCheckbox" value="budget">
                            <div class="checkbox-box">Budget Officer</div>
                        </label>
                        <label class="checkbox-label" for="regularCheckbox">
                            <input type="radio" name="user_type" id="regularCheckbox" value="regular">
                            <div class="checkbox-box">Regular User</div>
                        </label>
                    </div>
                    <button type="submit" value="submit" class="btn btn-primary">Register</button>
                </div>
            </form>




        </div>


        <script>

            function filterTable() {
                const searchTerm = document.getElementById('search_bar_request').value.toLowerCase();
                const tableRows = document.querySelectorAll('#myTable tbody tr');
                tableRows.forEach(row => {
                    const rowText = row.textContent.toLowerCase();
                    row.style.display = rowText.includes(searchTerm) ? '' : 'none';
                });
            }

            // Get the modal element
            const modal = document.getElementById('myModal');

            // Function to open the modal
            function openModal() {
                modal.style.display = 'block';
            }

            // Function to close the modal
            function closeModal() {
                modal.style.display = 'none';
            }

            // Close the modal if the user clicks outside the modal content
            window.onclick = function (event) {
                if (event.target === modal) {
                    modal.style.display = 'none';
                }
            }
        </script>
        




        {% endblock %}