{% extends "accounts/Admin/Budget_Officer/bo.html" %}

{% load static %}

{% block bohome %}

{% block extra_css %}
 
<link rel="stylesheet" href="{% static 'css/bobudget.css' %}">
 
{% endblock extra_css %}

<style>
  .navbar.bg-light {
    background-color: #003566 !important;
}
.table th {
    font-family: Poppins;
    background-color: #003566;
    color: white;
    cursor: pointer;
    position: sticky;
    top: 0;
    z-index: 2;
  }
</style>

<div class="container-fluid">
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap"rel="stylesheet">

  
<div id="page-content-wrapper ">
  <nav class=" bg-light"></nav>
</div>

  <div class="search" style="position: relative; text-align: right; margin-top: 3vh;">
    <span class="icon" style="position: absolute; right: 10px; top: 2vh; transform: translateY(-50%); width: 40px;">
       
    </span>
    <input class="form-control mb-3 pr-6 pl-6" type="text" placeholder="Search" id="search_bar_request" oninput="filterTable()"
        style="border: 2px solid #003566; border-radius: 25px; padding-right: 10px 40px 10px 20px; display: inline-block; outline: none;">
    </div>

  <div class="table-responsive">
    <table class="table table-bordered">
      <thead>
        <tr>
          <th class="text-center">USER</th>
          <th class="text-center">BUDGET</th>
          <th class="text-center">APPROVE</th>
        </tr>
      </thead>
      <tbody>
        {% for user in users %}
        <tr>
          <form method="POST" action="{% url 'approve_user' %}">
              {% csrf_token %}
              <input type="hidden" name="user_id" value="{{ user.username }}">  
              <td class="text-center">{{ user.username }}</td>
              <td class="text-center">
                  <label for="budget_{{ user.username }}">Enter Budget:</label>
                  <input type="number" name="budget" id="budget_{{ user.username }}" placeholder="Enter budget" required>
              </td>
              <td class="text-center">
                  <button type="submit" class="btn btn-success">Approve Budget</button>
              </td>
          </form>
      </tr>
        {% empty %}
        <tr>
          <td colspan="3" class="text-center">No unapproved regular users available</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>

<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>

{% endblock %}
